
@import './variable';

.title {
    color: $title-color; font-weight: $title-font-weight;
    font-size: $title-font-size;
}
.titleWrap {
    margin-bottom: 2.5rem;
    p {
        font-size: $title-desc-font-size; color: $title-desc-color ;
    }
}
.textCenter {
    text-align: center;
}
.navCreateWrap {
    @include flex; align-items: center;
    @include justify-content(space-between);
    margin-bottom: 1.5rem;
    ul {
        width: 100%; align-items: center;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}


.createClink {
    white-space: nowrap;
    margin-left: .5rem; 
}

/*.create-collection-link {
    border: 1px solid $border;
}*/

.formGroup {
    margin-bottom: 1rem;
}
.formControl {
    border: 1px solid $border;
    padding: .75rem; border-radius: $form-border-radius;
}

@media all and (max-width: 990px) { 

 
    .assetNum {
        font-size: $font-mini;
    }

}

@media all and (max-width: 767px) {

    .navCreateWrap {
        flex-wrap: wrap;
        ul {
            order: 2; width: 100%; 
        }
        .createClink {
            margin-left: auto; margin-bottom: .5rem;
        }
    }
    .navLink {
        padding: 9px 8px; margin-right: 1px;
    }


}