
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


$epilogue:                   'Epilogue', sans-serif;
$lato:                       'Lato', sans-serif;
$fontHeading:                $epilogue;
$fontBody :                  $lato;

$color-primary-main:        #FAFAFA;
$color-secondary-main:      #3A3A43;
$color-Button:              #FAFAFA;
$color-title-main:          #3A3A43;
$colorBg:                   #333646;

$default:                   #292A32;
$default-color:             $default;

$textColor:                 #FAFAFA; 
$textBgColor:               #FFD400;

$profileThumbMarginB:       .5rem;
$profileImgBorderRadius:    0px;

$profileH1FontSize:         36px;
$profileH1FontColor:        $default-color;
$profileH1FontFamily:       $fontHeading;
$profileH1FontWeight:       normal;
$profileH1MarginB:          .3rem;

$profileH2FontSize:         32px;
$profileH2FontColor:        $default-color;
$profileH2FontWeight:       600;
$profileH2FontFamily:       $fontHeading;

$profileH3FontSize:         18px;
$profileH3FontColor:        $default-color;
$profileH3FontWeight:       300;
$profileH3FontFamily:       $fontHeading;

$profileH4FontSize:         24px;
$profileH4FontColor:        $default-color;
$profileH4FontFamily:       $fontHeading;


$userIdFontSize:            13px;
$userIdFontColor:           $default-color;

$userDescFontSize:          14px;
$userDescFontColor:         $default-color;
$userDescMarginB:           .5rem;

$buttonLFontSize:           16px;
$buttonSFontSize:           14px;            
          
$socialListMarginBottom:    .5rem;     
$socialIconsColor:          $default-color;
$socialIconsFontSize:       $font-medium;

$likeWrapMarginB:           .25rem;
$statusWrapFontSize:        20px;
$statusWrapColor:           $textColor;
$likeLableFontSize:         14px;
$likeNumFontWeight:         700;

$backToTopFontSize:         18px;
$backToTopColor:            $default-color;

/*  Profile banner variable   */

$profile-banner-height       : 360px;

/* Tab variables   */

$tabItemColor:              $textColor;
$tabItemFontSize:           20px;
$tabFontFamily:             $fontHeading;
$tabBorderColor:            #fff;
$tabMarginB:                2rem;
$tabItemBorderColor:        transparent;
$tabItemBgColor:            transparent;
$tabItemBorderRadius:       0px 0px 0 0;
$tabItemMarginB:            3rem;
$tabItemHoverColor:         $textColor;
$tabItemHoverBorderColor:   #EAEAED;
$tabItemHoverBgColor:       transparent;
$tabActiveColor:            $textColor;
$tabActiveBgColor:          transparent;
$tabActiveBorderColor:      transparent;
$tabActiveFontWeight:       normal; 
$TabOutlineColor:           $white;

/* Pagination Variables  */ 

$paginationMarginT:         30px; 
$paginationMarginB:         30px;        
$paginationColor:           $default-color;
$paginationBgColor:         rgba(255, 255, 255, 0.2);
$paginationBorderColor:     rgba(0, 0, 0, 0.06);
$paginationBorderRadius:    0px;
$paginationLineHeight:      38px;
$paginationActiveColor:     $white;
$paginationActiveBgColor:   $color-primary-main;
$paginationActiveBorderColor: $color-primary-main;
$paginationFontSize:        18px;


/* Collection Tab  Variables */

$thumbListMarginB:           1.5rem;
$thumbListPadding:           0px;
$thumbListBorderColor:       transparent;
$thumbListHoverBorderColor:  transparent;
$thumbListBorderRadius:      0px;

$thumbImgMarginB:            0px;
$thumbImgBorderRadius:       transparent;
$thumbImgBorderColor:        transparent;
$thumbImgBorderHoverColor:   transparent;

$thumbInfoPadding:            1rem;
$thumbInfoBgColor:            #fff;
$thumbInfoBgHoverColor:       $color-primary-main;
$thumbInfoBorderColor:        transparent;
$thumbInfoHoverBorderColor:   transparent;

$thumbTitleColor:             $textColor;
$thumbTitleHoverColor:        $default-color;
$thumbTitleSize:              24px;
$thumbTitleMarginB:           .5rem;
$thumbTitleFontWeight:        900;
$thumbAssetColor:             $textColor;
$thumbAssetSize:              16px;
$thumbDescColor:              $textColor;
$thumbDescSize:               16px;
$thumbDescMarginB:            .1rem;
$thumbDateColor:              $textColor;
$thumbDateSize:               14px;
$thumbWishCountColor:         $textColor;
$thumbWishCountSize:          16px;
$thumbWishColor:              $white;
$thumbWishSize:               24px;

/* exhibition Tab Variables  */

$exhibitionThumbListMarginB:           1.5rem;
$exhibitionThumbListPadding:           0px;
$exhibitionThumbListBorderColor:       transparent;
$exhibitionThumbListHoverBorderColor:  transparent;
$exhibitionThumbListBorderRadius:      0px;

$exhibitionThumbImgMarginB:            0px;
$exhibitionThumbImgBorderRadius:       transparent;
$exhibitionThumbImgBorderColor:        transparent;
$exhibitionThumbImgBorderHoverColor:   transparent;

$exhibitionThumbInfoPadding:            1rem;
$exhibitionThumbInfoBgColor:            #fff;
$exhibitionThumbInfoBgHoverColor:       $color-primary-main;
$exhibitionThumbInfoBorderColor:        transparent;
$exhibitionThumbInfoHoverBorderColor:   transparent;

$exhibitionThumbTitleColor:             $textColor;
$exhibitionThumbTitleHoverColor:        $default-color;
$exhibitionThumbTitleSize:              24px;
$exhibitionThumbTitleMarginB:           .5rem;
$exhibitionThumbTitleFontWeight:        900;
$exhibitionThumbAssetColor:             $textColor;
$exhibitionThumbAssetSize:              16px;
$exhibitionThumbDescColor:              $textColor;
$exhibitionThumbDescSize:               16px;
$exhibitionThumbDescMarginB:            .1rem;
$exhibitionThumbDateColor:              $textColor;
$exhibitionThumbDateSize:               14px;
$exhibitionThumbWishCountColor:         $textColor;
$exhibitionThumbWishCountSize:          16px;
$exhibitionThumbWishColor:              $white;
$exhibitionThumbWishSize:               24px;

/* Assets Tab  Variables */

$assetThumbListMarginB:           .1rem;
$assetThumbListPadding:           0px;
$assetThumbListBorderColor:       transparent;
$assetThumbListHoverBorderColor:  transparent;
$assetThumbListBorderRadius:      0px;

$assetThumbImgMarginB:            0px;
$assetThumbImgBorderRadius:       transparent;
$assetThumbImgBorderColor:        transparent;
$assetThumbImgBorderHoverColor:   transparent;

$assetThumbInfoPadding:            1rem;
$assetThumbInfoBgColor:            $color-primary-main;
$assetThumbInfoBgHoverColor:       transparent;
$assetThumbInfoBorderColor:        transparent;
$assetThumbInfoHoverBorderColor:   transparent;

$assetThumbTitleColor:             $textColor;
$assetThumbTitleHoverColor:        $default-color;
$assetThumbTitleSize:              14px;
$assetThumbTitleMarginB:           .5rem;
$assetThumbTitleFontWeight:        normal;
$assetThumbAssetColor:             $default-color;
$assetThumbAssetSize:              14px;
$assetThumbDescColor:              $textColor;
$assetThumbDescSize:               14px;
$assetThumbDescMarginB:            .1rem;
$assetThumbDateColor:              $default-color;
$assetThumbDateSize:               14px;
$assetThumbWishCountColor:         $default-color;
$assetThumbWishCountSize:          16px;
$assetThumbWishColor:              $textColor;
$assetThumbWishSize:               24px;
$assetThumbPlaySize:               20px;



/*  Footer variables  */

$footerMarginT:                   15px;
$footerPaddingT:                  .75rem;
$footerPaddingB:                  1rem;
$footerBgColor:                   transparent;
$footerColor:                     $textColor;
$footerFontSize:                  $font-small;


.primayTextColor {
    background: $color-primary-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: auto;
    display: inline-block;
}