
@import '../../../components/profile/profile001/variables';

// Tabs Dssign
.collectionTabsWrapper {
    text-align: center;
}


//Pagination
.paginationWrap {
    margin-top: $paginationMarginT;
    margin-bottom: $paginationMarginT;
    text-align: center;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color:  $paginationActiveBgColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $paginationActiveBgColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; height: 41px;
            border-radius: 4px;
            border: 2px solid $paginationBorderColor;
            color: $paginationColor;
            background-color: $paginationBgColor;
            font-size: $paginationFontSize;
            line-height: $paginationLineHeight;
        }
        [aria-selected="true"] {
            background-color: $paginationActiveBgColor;
            a {
                background-color: $paginationActiveBgColor;
                color: $paginationActiveColor;
            }
        }
    } 
}

@media all and (max-width:767px) {

}
