@import '@/components/profile/profile001/variables';


.profileWrap {
    font-family: $fontBody; 
}
.bannerImg {
    margin-bottom: 1.25rem;
}
.profileImg {
    margin-bottom: $profileThumbMarginB;
    margin-top: -60%; 
    border-radius: $profileImgBorderRadius;
    img {
        border: 2px solid $profileBorderColor !important;
        display: block; line-height: 1;
        border-radius: $profileImgBorderRadius;
    }
}
.userWrap {
    padding: 0 1rem;
}
.userName {
    font-size: $profileH1FontSize;
    color: $profileH1FontColor;
    font-family: $profileH1FontFamily;
    margin-bottom: $profileH1MarginB;
    font-weight: $profileH1FontWeight;
    white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis;
}
.userMore {
    font-size: $profileH3FontSize;
    color: $profileH3FontColor;
    font-weight: $profileH3FontWeight;
    margin-bottom: $profileH3MarginB;
}
.userDesc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $userDescFontSize;
    color: $userDescFontColor;
    margin-bottom: $userDescMarginB;
    line-height: 1.5;
}
.likeSocialWrap {
    @include flexbox; align-items: center;
    justify-content: space-between;
}
.likeWrap {
    margin-bottom: $likeWrapMarginB;
    min-width: 60%;
}
.statusWrap {
    font-size: $statusWrapFontSize;
    color: $statusWrapColor;
    display: flex;
    flex-wrap: wrap;
    > span, > div {
        flex: 0 0 50%;
        font-size: 18px;
        max-width: 50%; margin-bottom: .25rem;
        font-size: $likeLableFontSize;
        text-align: center;
        /*margin-right: .75rem;*/
    }
    .num {
        margin: 0 auto 2px auto;
        display: block; font-weight: $likeNumFontWeight;
        font-size: $statusWrapFontSize;
    }
}
.userId {
    transition: all 0.3s;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-bottom: .5rem;
    font-size: $userIdFontSize;
    color: $userIdFontColor;
}
.copyWrap {
    display: flex; justify-content: space-between;
}
.copyIcon {
    margin-right: .5rem;
}
.socialList {
    margin-bottom: $socialListMarginBottom;
    a {
        color: $socialIconsColor;
        font-size: $socialIconsFontSize;
        display: block;
        img, svg {
            margin-right: .25rem;
        }
        &:hover {
            color: $primary;
        }
    }
}
.copyTxt {
    margin-left: 1rem; 
}
.walletLbl, .socialLbl {
    margin-bottom: .3rem; display: block;
    font-size: $font-small;
}
.listItem {
    border: 1px solid $border; padding: .75rem 1rem;
    border-radius: 8px; box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    margin-bottom: .75rem;
}
.joinedWrap {
    @include flex; justify-content: space-between;
    font-size: $font-small; margin-bottom: .9rem;
}
.reportLbl {
    text-align: center; margin-bottom: 1rem;
    justify-content: space-between;
    font-size: $font-small;
    svg {
        max-height: 16px;
    }
}

// Tabs Dssign

.collectionTabsWrapper {
    text-align: center;
}

.nav {
    border-bottom: 1px solid $tabBorderColor;
    margin-bottom: $tabMarginB;
    a {
        background-color: $tabItemBgColor;
        border: none;
        border-bottom:3px solid $tabItemBorderColor;
        color: $tabItemColor;
        font-size: $tabItemFontSize;        
        font-weight: $tabActiveFontWeight;
        border-radius: $tabItemBorderRadius;
        margin-right: .5rem; min-width: 16%;
        text-align: center;
        padding:13px 10px 10px 10px; 
        display: inline-block;
        text-transform: uppercase;
    
        &:hover,  &[aria-selected="true"]  {
            background-color: $tabItemHoverBgColor;
            border-color: $tabItemHoverBorderColor;
            color: $tabItemHoverColor;
        }
        &[aria-selected="true"] {
            font-weight: 700;
        }
        
    }
}

.fixIcons {
    position: fixed;
    right: 30px; bottom: 80px;
}

.btnIcons {
    background-color: var(--colorPrimaryMain, $colorPrimaryMain);
    color: var(--colorTitleText, $btnTextColors);
    width: 56px; height: 56px;
    border-radius: var(--btnBorderRadius, $btnBorderRadius);
    border: 2px solid var(--colorPrimaryMain, $colorPrimaryMain);
    &:hover, &:active {
        background-color: var(--colorPrimaryMain, $colorPrimaryMain);
        color: var(--btnTextColor, $btnTextColors);
    }
}

// Footer 
.footer {
	padding-top: $footerPaddingT; 
	padding-bottom: $footerPaddingB;
    background-color:$footerBgColor;
    margin-top: $footerMarginT;
    font-size: $footerFontSize;

    svg {
        font-size: $footerFontSize;
    }
}
.footerRow {
    display: flex;
    justify-content:center;
}
.socialContainer {
    list-style: none;
    margin: 0; padding: 0;
    display: inline-flex;
    align-items: center;
    li {
        &:not(:last-child) {
            border-right: 1px solid $textColor;
            margin-right: 1rem;
            padding-right: 1rem;
        }
    }
 	span {
		margin-right: 1rem;
	}
	a {
        color: $default-color;
		&:not(:last-child) {
			margin-right: 35px;
		}
        &:hover {
            color: $primary;
        }
	}
}
.copyright {
    display: flex;
    align-items: center
}


@media all and (max-width: 991px) {
    
    .userWrap {
        padding-left: 0; padding-right: 0;
    }
    .footerRow {
        flex-wrap: wrap;
    }
    .copyright {
        width: 100%; 
    }
    .socialContainer {
        @include flexbox; width: 100%;
        li {
            &:first-child {
                width: 100%;
            } 
            margin-top: .75rem;
        }
    }





}


@media all and (max-width: 767px) {

    .profileImg {
        margin-top: -15%; 
    }
    .likeSocialWrap {
        flex-wrap: wrap; 
    }
    .likeWrap {
        width: 100%;
    }
    
}