

@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

$fontHeading:             "Archivo", sans-serif;
$fontBody:                "Archivo", sans-serif;


$default       : #3A3A43;
$default-color : $default;
$border        : #EAEAED;
$border-color  : $border;
$color-primary-main:   $default-color;

/*  Setting Varible  */
$headingFontFamily:            $fontHeading; 
$bodyFontFamily:               $fontBody;
$buttonBgColor:                #000;
$buttoncolor:                  #fff;
$buttonBgGredientColor:        #000;      
$buttongGredientColor:         #fff;

$titleTextColor:               #69E9B8; 
$bodyTextColor:                #fff;
$buttonBgColor:                #eee; 
$buttonBorderColor:            #eee;  

/* Variable for Collection Thumb component  */

$thumbListMarginB:            .1rem;
$thumbListPadding:            0px;
$thumbListBorderColor:        #fff;
$thumbListHoverBorderColor:   transparent;
$thumbListBorderRadius:       8px;

$thumbImgMarginB:             0px;
$thumbImgBorderRadius:        8px;
$thumbImgBorderColor:         transparent;
$thumbImgBorderHoverColor:    transparent;

$thumbInfoPadding:            .75rem 1rem;
$thumbInfoColor:              #fff;
$thumbInfoBgColor:            transparent;
$thumbInfoBgHoverColor:       $default-color;
$thumbInfoBorderColor:        transparent;
$thumbInfoHoverBorderColor:   transparent;

$thumbTitleColor:             #fff;
$thumbTitleHoverColor:        $default-color;
$thumbTitleSize:              14px;
$thumbTitleMarginB:           .25rem;
$thumbTitleFontWeight:        normal;

$thumbDescColor:              #fff;
$thumbDescSize:               14px;
$thumbDescMarginB:            .5rem;
$thumbDateColor:              $default-color;

$thumbChainFontSize:          14px;
$thumbChainFontColor:         $default-color;
$thumbChainMarginB:           16px;

/* Variable for Collection page   */

$pageContentPaddingT:               30px;
$pageContentPaddingB:               30px;

$collectionH1FontSize:             48px;
$collectionH1FontColor:            #69E9B8;
$collectionH1FontFamily:           $headingFontFamily;
$collectionH1FontWeight:           700;
$collectionH1MarginB:              .25rem;
$collectionHeadWrapMarginB:        1.5rem;

$collectionH2FontSize:             36px;
$collectionH2FontColor:            $default-color;
$collectionH2FontFamily:           $headingFontFamily;
$collectionH2FontWeight:           700;
$collectionH2MarginB:              .25rem;

$collectionH3FontSize:             36px;
$collectionH3FontColor:            $default-color;
$collectionH3FontFamily:           $headingFontFamily;
$collectionH3FontWeight:           700;
$collectionH3MarginB:              .25rem;

$collectionH4FontSize:             18px;
$collectionH4FontColor:            $default-color;
$collectionH4FontFamily:           $headingFontFamily;
$collectionH4FontWeight:           700;
$collectionH4MarginB:              .25rem;

$collectionH5FontSize:             36px;
$collectionH5FontColor:            $default-color;
$collectionH5FontFamily:           $headingFontFamily;
$collectionH5FontWeight:           700;
$collectionH5MarginB:              .25rem;

$collectionH6FontSize:             18px;
$collectionH6FontColor:            #C4C4C4;
$collectionH6FontFamily:           $headingFontFamily;
$collectionH6FontWeight:           normal;
$collectionH6MarginB:              .25rem;

$collectionTopBorderColor:         #fff;
$collectionBootomPaddingB:         1.25rem;
$collectionBootomMarginB:          1.75rem;

$socialLabelFontSize:              14px;
$socialIconColor:                  #fff;
$socialIconHoverColor:             $primary;
$socialFontSize:                   16px;

$userDescFontSize:                 14px;
$userDescColor:                    #fff;
$userDescMarginB:                  14px;

$userTitleFontSize:                14px;
$userTitleColor:                   #fff;
$userTitleFontWeight:              normal;
$userTitleMarginB:                 .25rem;

$userImgMarginB:                    1.5rem;
$userImgBorderRadius:               8px;
$viewLinkFontSize:                  13px;
$viewLinkColor:                     #fff;

$footerPaddingT:                    15px;
$footerPaddingB:                    0px;
$footerMarginT:                     30px;
$footerBgColor:                     rgba(0,0,0,.1);
$footerColor:                       #fff;
$footerFontSize:                    14px;
 


.gredientTextColor {
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}