

@import '../collections005/variables';

.collectionFour {
    background: red;
}

.collectionAll {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: .5rem;
    padding-bottom: 1rem;
}
.slickSlider {
    display: block;
}
.textCenter {
    text-align: center;
}
.collectionWrap {
    /*background-color: #FFD400;*/
    padding-top: $pageContentPaddingT;
    padding-bottom: $pageContentPaddingB;
}
.collectionTop {
   /* border-bottom: 1px solid $collectionTopBorderColor;*/
    padding-bottom: $collectionBootomPaddingB;
    margin-bottom: $collectionBootomMarginB;
}
.headSocial {
    text-align: right;
    a {
        margin: 0 .75rem .5rem 0;
        font-size: $socialFontSize;
        color: $socialIconColor;
    }
}
.socialLabel {
    font-size: $socialLabelFontSize;
    margin-right: .75rem;
}
.headWrap {
    margin-bottom: $collectionHeadWrapMarginB;
    @include flex; align-items: flex-end;
    h1 {
        font-size: $collectionH1FontSize; color: $titleTextColor;
        font-weight: $collectionH1FontWeight; margin-bottom: $collectionH1MarginB;
        text-transform: uppercase;
    }
    h6 {
        color: $titleTextColor;
        font-size: $collectionH6FontSize;
        white-space: nowrap;
    }
}
.userImg {
    margin-bottom: $userImgMarginB;
    .profileImg {
        border-radius: $userImgBorderRadius; 
    }
    img {
        line-height: 1;
    }
}
.userDesc {
    font-size: $userDescFontSize; color: $userDescColor;
    margin-bottom: $userDescMarginB; line-height: 1.5;
}


.thumbList {
  margin-bottom: $thumbListMarginB;
  transition: all 0.5s ease-in-out;
  /*border: 1px solid $thumbListBorderColor;
  border-radius: $thumbListBorderRadius;*/
  overflow: hidden;
  padding: 7.5px;
  position: relative;
  &:hover {
    .thumbInfo {
        opacity: 1;
        transform: rotateY(0deg);
    }
    /*box-shadow: 0 0 5px $color-primary-main;   */
    .thumbImg {
        &:before {
            opacity: 1;
        }
        img {
          transform: scale(1.05);
          -webkit-transform: scale(1.05);
        }
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
      border-radius: $thumbImgBorderRadius;
    }
  }
  &:before {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    content: "";
    background: rgba(0, 0, 0, .3);
    z-index: 1;
    opacity: 0;
  }
}
.thumbInfo {
  position: absolute; bottom: 15px;
  left: 0; text-align: center;
  z-index: 1;
  width: 100%;  padding: $thumbInfoPadding; 
  background-color: $thumbInfoBgColor;
  color: $thumbInfoColor;
  opacity: 0; transition: ease-in-out 600ms;
  transform: rotateY(25deg);
}
.thumbTitle {
    font-size: $thumbTitleSize; margin-bottom: $thumbTitleMarginB;
    font-weight: $thumbTitleFontWeight; color: $thumbTitleColor;
    a {
      color: $thumbTitleColor; 
    }
}
.thumbDesc {
  font-size: $thumbDescSize; color: $thumbDescColor;
  margin-bottom: $thumbDescMarginB; line-height: 1.5;
}




/* Footer  */

.footer {
    padding-bottom: $footerPaddingB; padding-top: $footerPaddingT;
    background-color: $footerBgColor; color: $footerColor;
    margin-top: $footerMarginT;
    position: sticky; bottom: 0;
}

.profileWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userLogged {
    display: flex; align-items: center;
}
.likesCount {
    text-align: center;
}
.userInfo {
    h4 {
        font-size: $userTitleFontSize; color: $userTitleColor;
        margin-bottom: $userTitleMarginB;
        font-weight: $userTitleFontWeight;
    }
    
}
.viewLink {
    font-size: $viewLinkFontSize; color: $viewLinkColor;
    a {
        color:$viewLinkColor;
    }
}

.profileLike {
    margin-top: 0px;
    margin-bottom: 20px;
}
.copyrightWrap {
    background: $black; padding: 1rem 0; 
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyrightLogo {
    margin-left: .5rem;
    margin-right: .5rem;
    display: inline-block;
}

.fixIcons {
    position: fixed; right: 30px;
    z-index: 1; bottom: 80px;
}


@media all and (max-width: 991px) {

    .collectionAll {
        /*display: grid;
        grid-template-columns: repeat(2, minmax(2rem, 1fr));
        gap: 1.5rem;*/
        display: block;
    }

    .headWrap {
        h1 {
            white-space: nowrap; overflow: hidden;
            text-overflow: ellipsis; font-size: $font-large;
        }
    }
    .fixIcons {
        bottom: 50px;
    }

}