
@import '@/components/profile/profile009/variables';

.collectionWraps {
  display: block;
  /*grid-template-columns: repeat(2, minmax(12rem, 1fr));
  gap: 1.5rem;*/
  position: relative;
}

.thumblist {
  margin-bottom: $exhibitionThumbListMarginB;
  transition: all 0.5s ease-in-out;
  position: relative;


  &:hover {
    .thumbInfo {
      opacity: 1;
    }
    .thumbImg img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
    .wishLike {
      font-weight: bold;
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  
}
.wishLike {
  font-size: $exhibitionThumbWishSize; color: $exhibitionThumbTitleColor;
  margin-bottom: 1rem; text-align: right;
}

.thumbInfo {
  padding: $exhibitionThumbInfoPadding; background-color: rgba(0,0,0,0.5); 
  position: absolute; left: 0; top: 0; max-width: 783px;
  width: 100%; height: 100%; opacity: 0;
  @include flexbox; justify-content: space-between;
   transition: all 0.5s ease-in-out;
}

.thumbTop {
  @include flex;
  justify-content: space-between; width: 100%;
}
.thumbTopInfo {
  text-align: right; max-width: 350px;  padding-left: 1rem;
}
.thumbTitlewrap {
  h3 {
    font-size: $exhibitionThumbTitleSize; margin-bottom: $exhibitionThumbTitleMarginB;
    font-weight: $exhibitionThumbTitleFontWeight; font-family: $fontHeading;
    white-space: nowrap; text-overflow: ellipsis;
    overflow: hidden;
    a {
      color: $exhibitionThumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $exhibitionThumbDescSize; color: $exhibitionThumbDescColor;
  margin-bottom: $exhibitionThumbDescMarginB; line-height: 1.4;
  max-height: 66px; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.dateWish {
  @include flexbox; justify-content: space-between;
  font-size: $exhibitionThumbWishCountSize;
  position: absolute; bottom: 10px; width: 100%;
  
}
.num, .assetNum {
  font-weight: 700; color: $exhibitionThumbTitleColor;
}

.descWishWrap {
  @include flex; justify-content: space-between;
  .wish {
    width: 70px; text-align: right; color: $exhibitionThumbTitleColor;
  }
}
.thumbBottom {
  margin-top: auto; width: 100%;
}


@media all and (max-width: 1199px) {
  .collectionWraps {
    /*grid-template-columns: repeat(2, minmax(6rem, 1fr));
    gap: .75rem;*/
  }
}