

@import '../../../../components/profile/profile003/variables';

.assetsAll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .thumbsWrapAll {
        flex: 0 0 150px;
        max-width: 150px;
        padding: 0.5rem 1rem;
        text-align: center;
        &:nth-child(4n + 1) {
            display: block !important;
            width: 100% !important;
        }
    }
    p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 80px;
    }
}
.thumbsItem {
    display: inline-block;
    img {
        display: block;
        width: 100%;
        object-fit: cover;

    }
}
.thumbsWrap {
    background-color: #FFFF;
    //@include box_shadow(1);
    text-align: center;
}
.thumbsContent {
    text-align: center;
    h3 {
        font-size: 24px;
    }
    p {
        padding: 12px;
        margin-bottom: 0;
        background-color: #FFFF;
        font-size: 0.875rem;
    }
}

.thumbsWrapAll {
    color: inherit;
    cursor: pointer;
    height: 150px;
    min-height: 150px;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
}


.front,
.back {
    display: flex;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.front {
    background-size: cover;
    overflow: hidden;
}
.front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: 0.25;
    z-index: -1;
}
.thumbsWrapAll:hover .front {
    transform: rotateY(180deg);
}
.thumbsWrapAll:nth-child(even):hover .front {
    transform: rotateY(-180deg);
}

.back {
    background: #D63257;
    transform: rotateY(-180deg);
    padding: 0 1em;
    font-size: 1.5rem;
    color: $white;
}
.thumbsWrapAll:hover .back {
    transform: rotateY(0deg);
}
.thumbsWrapAll:nth-child(even) .back {
    transform: rotateY(180deg);
}

.thumbsWrapAll:nth-child(even):hover .back {
    transform: rotateY(0deg);
}

