@import '../../public/account/variables/text_link';
@import '../../public/account/variables/colors';

.menuHead {
    display: block;
    font-size: $font-medium;
    font-weight: bold;
    margin: 15px 0;
}

.menuWrap {
    list-style: none;
    margin: 0; padding: 0;
}
.menuItem {
    display: block;
    a {
        padding: 15px;
        color: $black;
        display: block;
        &:hover {
            color: $primary !important;
            font-weight: 600;
        }
    }
}