
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


$open-sans:                  'Open Sans', sans-serif;
$fontHeading:                $open-sans;
$fontBody :                  $open-sans;


$color-primary-main:        #4400CD;
$color-secondary-main:      transparent;
$color-Button:              #DDF0FE;
$color-title-main:          #3A3A43;


$colorPrimaryMain:          #4400CD;
$colorSecondaryMain:        #00CCA9;
$colorTitleText:            #3A3A43;
$colorBodyText:             #5F5F6D;
$colorBG:                   #5F5F6D;
$colorTextPrimaryBG:        #4400CD;
$colorBorderLine:           #5F5F6D;
$colorBorderLineWidth:        2px;


$colorButton:               #DDF0FE;
$colorTitleMain:            #3A3A43;

$bodyColor:                 #5F5F6D;
$bodyBgColor:               #FAFAFA;

$default:                   #3A3A43;
$default-color:             $default;

$textColor:                 $bodyColor; 
$textBgColor:               #FAFAFA;

$profileThumbMarginB:       1.5rem;
$profileImgBorderRadius:    8px;
$profileBorderColor:        #fff;

$profileH1FontSize:         30px;
$profileH1FontColor:        $color-title-main;
$profileH1FontFamily:       $fontHeading;
$profileH1FontWeight:       600;
$profileH1MarginB:          .5rem;

$profileH2FontSize:         24px;
$profileH2FontColor:        $color-title-main;
$profileH2FontWeight:       600;
$profileH2FontFamily:       $fontHeading;

$profileH3FontSize:         18px;
$profileH3FontColor:        $color-title-main;
$profileH3FontWeight:       normal;
$profileH3FontFamily:       $fontHeading;
$profileH3MarginB:          1rem;

$profileH4FontSize:         24px;
$profileH4FontColor:        $color-title-main;
$profileH4FontFamily:       $fontHeading;


$userIdFontSize:            14px;
$userIdFontColor:           $textColor;

$userDescFontSize:          14px;
$userDescFontColor:         $textColor;
$userDescMarginB:           .5rem;

$buttonLFontSize:           16px;
$buttonSFontSize:           14px;            
          
$socialListMarginBottom:    1.5rem;     
$socialIconsColor:          $textColor;
$socialIconsFontSize:       $font-small;

$likeWrapMarginB:           .75rem;
$statusWrapFontSize:        20px;
$statusWrapColor:           $textColor;
$likeLableFontSize:         12px;
$likeNumFontWeight:         700;

$backToTopFontSize:         18px;
$backToTopColor:            $default-color;

/*  Profile banner variable   */

$profile-banner-height       : 360px;

/* Tab variables   */

$tabItemColor:              $default-color;
$tabItemFontSize:           15px;
$tabFontFamily:             $fontHeading;
$tabBorderColor:            #EAEAED;
$tabMarginB:                2rem;
$tabItemBorderColor:        transparent;
$tabItemBgColor:            transparent;
$tabItemBorderRadius:       0px;
$tabItemMarginB:            2rem;
$tabItemHoverColor:         #4400CD;
$tabItemHoverBorderColor:   #4400CD;
$tabItemHoverBgColor:       transparent;
$tabActiveColor:            $default-color;
$tabActiveBgColor:          transparent;
$tabActiveBorderColor:      #4400CD;
$tabActiveFontWeight:       normal; 
$TabOutlineColor:           $white;

/* Pagination Variables  */ 

$paginationMarginT:         30px; 
$paginationMarginB:         30px;        
$paginationColor:           $default-color;
$paginationBgColor:         rgba(255, 255, 255, 0.2);
$paginationBorderColor:     #EAEAED;
$paginationBorderRadius:    0px;
$paginationLineHeight:      38px;
$paginationActiveColor:     $default-color;
$paginationActiveBgColor:   #F8F5FF;
$paginationActiveBorderColor:$default-color;
$paginationFontSize:        18px;


/* Collection Tab  Variables */

$collectionPaddingT:          1rem;
$collectionPaddingB:          1rem;
$collectionItemGap:           1rem;
$collectionItemAlign:         center;        
$collectionItemContentPadding:1rem;
$collectionItemHoverBg:       rgba(0,107,205, 0.5);

$thumbListMarginB:           .2rem;
$thumbListPadding:           0px;
$thumbListBorderColor:       transparent;
$thumbListHoverBorderColor:  transparent;
$thumbListBorderRadius:      16px;

$thumbImgMarginB:            0px;
$thumbImgBorderRadius:       16px 16px  0 0;
$thumbImgBorderColor:        transparent;
$thumbImgBorderHoverColor:   transparent;

$thumbInfoPadding:            1rem;
$thumbInfoBgColor:            #fff;
$thumbInfoBgHoverColor:       #fff;
$thumbInfoBorderColor:        transparent;
$thumbInfoHoverBorderColor:   transparent;

$thumbTitleColor:             $default-color;
$thumbTitleHoverColor:        $default-color;
$thumbTitleSize:              20px;
$thumbTitleMarginB:           .5rem;
$thumbTitleFontWeight:        600;
$thumbAssetColor:             $default-color;
$thumbAssetSize:              15px;
$thumbDescColor:              $default-color;
$thumbDescSize:               12px;
$thumbDescMarginB:            .5rem;
$thumbDateColor:              $default-color;
$thumbDateSize:               16px;
$thumbWishCountColor:         $textColor;
$thumbWishCountSize:          16px;
$thumbWishColor:              $white;
$thumbWishSize:               24px;

/* exhibition Tab Variables  */

$exhibitionThumbListMarginB:           2rem;
$exhibitionThumbListPadding:           0px;
$exhibitionThumbListBorderColor:       transparent;
$exhibitionThumbListHoverBorderColor:  transparent;
$exhibitionThumbListBorderRadius:      16px;

$exhibitionThumbImgMarginB:            0px;
$exhibitionThumbImgBorderRadius:       16px 16px  0 0;
$exhibitionThumbImgBorderColor:        transparent;
$exhibitionThumbImgBorderHoverColor:   transparent;

$exhibitionThumbInfoPadding:            1rem;
$exhibitionThumbInfoBgColor:            #fff;
$exhibitionThumbInfoBgHoverColor:       #fff;
$exhibitionThumbInfoBorderColor:        transparent;
$exhibitionThumbInfoHoverBorderColor:   transparent;

$exhibitionThumbTitleColor:             $default-color;
$exhibitionThumbTitleHoverColor:        $default-color;
$exhibitionThumbTitleSize:              20px;
$exhibitionThumbTitleMarginB:           .5rem;
$exhibitionThumbTitleFontWeight:        600;
$exhibitionThumbAssetColor:             $default-color;
$exhibitionThumbAssetSize:              15px;
$exhibitionThumbDescColor:              $default-color;
$exhibitionThumbDescSize:               12px;
$exhibitionThumbDescMarginB:            .5rem;
$exhibitionThumbDateColor:              $default-color;
$exhibitionThumbDateSize:               16px;
$exhibitionThumbWishCountColor:         $textColor;
$exhibitionThumbWishCountSize:          16px;
$exhibitionThumbWishColor:              $white;
$exhibitionThumbWishSize:               24px;

/* Assets Tab  Variables */

$assetThumbListMarginB:           .1rem;
$assetThumbListPadding:           0px;
$assetThumbListBorderColor:       #EAEAED;
$assetThumbListHoverBorderColor:  transparent;
$assetThumbListBorderRadius:      16px;

$assetThumbImgMarginB:            0px;
$assetThumbImgBorderRadius:       8px;
$assetThumbImgBorderColor:        transparent;
$assetThumbImgBorderHoverColor:   transparent;

$assetThumbInfoPadding:            1rem;
$assetThumbInfoBgColor:            #fff;
$assetThumbInfoBgHoverColor:       transparent;
$assetThumbInfoBorderColor:        transparent;
$assetThumbInfoHoverBorderColor:   transparent;

$assetThumbTitleColor:             $default-color;
$assetThumbTitleHoverColor:        $default-color;
$assetThumbTitleSize:              20px;
$assetThumbTitleMarginB:           .5rem;
$assetThumbTitleFontWeight:        600;
$assetThumbAssetColor:             $default-color;
$assetThumbAssetSize:              14px;
$assetThumbDescColor:              $default-color;
$assetThumbDescSize:               14px;
$assetThumbDescMarginB:            .1rem;
$assetThumbDateColor:              $default-color;
$assetThumbDateSize:               14px;
$assetThumbWishCountColor:         $default-color;
$assetThumbWishCountSize:          16px;
$assetThumbWishColor:              $textColor;
$assetThumbWishSize:               24px;
$assetThumbPlaySize:               20px;



// Float Icons
$btnBorderRadius:               1rem;
$btnBgColors:                    $colorPrimaryMain;
$btnTextColors:                 #FFFFFF;
$btnBorderColors:               $colorButton;
$btnTextColors:                 $colorButton;

/*  Footer variables  */

$footerMarginT:                   15px;
$footerPaddingT:                  .75rem;
$footerPaddingB:                  1rem;
$footerBgColor:                   transparent;
$footerColor:                     $textColor;
$footerFontSize:                  $font-small;


.primayTextColor {
    background: $color-primary-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: auto;
    display: inline-block;
}