
@import '../variables';

.progress {
    width: 100%; margin: 0 15px;
    height: 9px; background: $progress-bg-color;
    border: 1px solid $progress-border-bg-color;
    border-radius: $progress-border-radius; overflow: hidden;

}
.progressbar {
    background: $progressbar-bg-color; padding: 15px 0;
    margin-bottom: 2rem;
    button {
        white-space: nowrap;
        &:disabled {
            display: none;
        }
    }
}
.progressBarbg {
    background-color: $progress-active-bg-color !important; 
    transition: all 0.5s ease-in-out;
}   
.progressInner {
    display: flex; align-items: center;
    justify-content: space-between;

}
.backThemename {
    display: inline-flex; align-items: center;
    button {
        margin-right: 1rem;
    }
    h2 {
        font-size: 20px; font-weight: normal;
        margin-bottom: 0.8rem;
        margin-right: 0.5rem;
    }
}
.headerBtnGroup {
    span {
        margin-right: 1rem;
    }
    button {
        &:not(:last-child) {
            margin-right: 1rem;
        }
        svg {
            margin-right: .25rem;
        }
    }
}

.statusButton {
    display: inline-block;
    border-right: 1px solid $border-color;  
    padding-right: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.8rem;
}

@media all and (min-width: 768px) {
    .backThemename {
        h2 {
            margin-right: 0.5rem;
        }
    }
}
@media all and (max-width: 991px) {
    .headerBtnGroup {
       > button {
            margin-bottom: 0.8rem;
        }
    }
    .statusButton {
        margin-bottom: 0.8rem;
    }
}

@media all and (max-width: 767px) {
     .progressInner {
        flex-wrap: wrap;
    }
    .backThemename {
        width: 100%;
    }
}