
@import '@/components/profile/profile010/variables';


.profileWrap {
    //background:$bodyBgColor url(../../../public/profile/profile010/images/body.png) center top;
    //background-repeat: no-repeat;
    background: $bodyBgColor;
    font-family: $fontBody;  
}
.textRight {
    text-align: right;
}

.bannerBgImg {
    position: relative;
    background: url('./images/bannerBg.svg') center center no-repeat;
    background-size: cover;
    padding: 1.25rem 1rem .75rem 1rem;
    margin-bottom: 3rem;
    position: relative;
    &:before {
        position: absolute; content: "";
        left: 0; top: 0; width: 100%; height: 100%;
        background-color: rgba(0,0,0,.3);
        z-index: 0;
    } 
}
.profileImg {
    margin-bottom: $profileThumbMarginB;
    position: relative;
    max-width: 255px; top: 3rem; margin-top: -2.75rem;
    img {
        display: block; line-height: 1;
        border-radius: $profileImgBorderRadius;
        position: relative; 
    }
}
.userWrap {
    @include flex; align-items: flex-end;
    justify-content: center;
    position: relative;
}
.userInfo {
    max-width: 490px;
}
.walletWrap {
    @include flexbox; align-items: center;
    border-bottom: 1px solid $border;
    padding-bottom: .5rem; margin-bottom: 1rem;
    .lbl {
        font-size: $font-small; margin-right: .5rem;
        margin-bottom: .5rem;
    }
}
.userName {
    font-size: $profileH1FontSize;
    color: $profileH1FontColor;
    font-family: $fontHeading;
    margin-bottom: $profileH1MarginB;
    white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis; display: block;
    font-weight: normal;
}
.userMore {
    font-size: $profileH3FontSize;
    color: $profileH3FontColor;
    font-weight: $profileH3FontWeight;
    margin-bottom: .5rem;
    font-family: $fontHeading;
}
.userDesc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $userDescFontSize;
    color: $userDescFontColor;
    margin-bottom: $userDescMarginB;
    line-height: 1.5;
}
.likeSocialWrap {
    @include flexbox; align-items: center;
    justify-content: space-between;
}
.copySocialWrap {
    @include flexbox; align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.statusWrap {
    font-size: $statusWrapFontSize;
    color: $statusWrapColor;
    display: flex;
    text-transform: uppercase;
    margin-bottom: .5rem;
    /*flex-wrap: wrap;*/
    > span {
        flex: 0 0 50%;
        font-size: 18px;
        margin-bottom: .5rem;
        font-size: $likeLableFontSize;
        margin-right: .75rem;
        text-align: center;
        /*white-space: nowrap;*/
        overflow: hidden; text-overflow: ellipsis;
        max-width: 95px;
    }
    .num {
        margin: 0 auto 2px auto;
        display: block; font-weight: $likeNumFontWeight;
        font-size: $statusWrapFontSize;
    }
}
.userId {
    transition: all 0.3s;
    display: inline-block;
    cursor: pointer;
    margin-bottom: .5rem;
    font-size: $userIdFontSize;
    color: $userIdFontColor;
}
.copyIcon {
    margin-right: .5rem;
}
.socialList {
    margin-bottom: $socialListMarginBottom;
    a {
        color: $socialIconsColor;
        font-size: $socialIconsFontSize;
        &:not(:last-child) {
            margin-right: 1rem;
        }
        &:hover {
            color: $primary;
        }
    }
}
.copyTxt {
    margin-left: 1rem; 
}
.joinedDate {
    font-size: $font-small;
}


// Tabs Dssign

.tabWrap {
    @include flexbox; align-items: center;
    justify-content: space-between;
}

.collectionTabsWrapper {
    text-align: center;
}

.nav {
    border-bottom: 0px solid $tabBorderColor;
    margin-bottom: $tabMarginB;

    a, button {
        background-color: $tabItemBgColor;
        border:1px solid $tabItemBorderColor;
        color: $tabItemColor;
        font-size: $tabItemFontSize;        
        font-weight: $tabActiveFontWeight;
        border-radius: $tabItemBorderRadius;
        font-family: $fontHeading;
        margin-right: 1.5rem; 
        /*padding:10px 0px 10px 0px;*/ 
        display: block;
    
        &:hover,  &[aria-selected="true"]  {
            background-color: $tabItemHoverBgColor;
            border-color: $tabItemHoverBorderColor;
            color: $tabItemHoverColor;
        }
        
    }
}


// Footer 
.footer {
	padding-top: $footerPaddingT; 
	padding-bottom: $footerPaddingB;
    background-color:$footerBgColor;
    margin-top: $footerMarginT;
    font-size: $footerFontSize;
    color: $textColor;

    svg {
        font-size: $footerFontSize; color:$textColor;
    }
}
.footerRow {
    display: flex;
    justify-content: space-between
}
.socialContainer {
    list-style: none;
    margin: 0; padding: 0;
    display: inline-flex;
    align-items: center;
    li {
        &:not(:last-child) {
            border-right: 1px solid $textColor;
            margin-right: 1rem;
            padding-right: 1rem;
        }
    }
 	span {
		margin-right: 1rem;
	}
	a {
        color: $default-color;
		&:not(:last-child) {
			margin-right: 35px;
		}
        &:hover {
            color: $primary;
        }
	}
}
.copyright {
    display: flex;
    align-items: center
}


@media all and (max-width: 991px) {

    .userWrap {
        flex-wrap: wrap;
    }
    
    .footerRow {
        flex-wrap: wrap;
    }
    .copyright {
        width: 100%; 
    }
    .socialContainer {
        @include flexbox; width: 100%;
        li {
            &:first-child {
                width: 100%; border-right: none;
            } 
            margin-top: .75rem;
        }
    }





}


@media all and (max-width: 767px) {

    .likeSocialWrap {
        flex-wrap: wrap; 
    }
    .likeWrap {
        width: 100%;
    }
    .profileImg {
        top: 0; margin-top: 0; margin-bottom: 1rem;
    }
    .nav {
        margin-bottom: 1rem;
        button {
            margin-bottom: 1rem;
        }
    }

    
}