
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


$mochiy-pop-one:             'Mochiy Pop One', sans-serif;
$open-sans:                  'Open Sans', sans-serif;
$fontHeading:                $mochiy-pop-one;
$fontBody :                  $open-sans;


$colorGradientOne:           #57DFA3;
$colorGradientTwo:           #6D86F1;
$colorGradientThree:         #6D86F1;

$color-primary-main:        #3A3A43;
$color-secondary-main:      linear-gradient(316.73deg, $colorGradientOne 6.87%, $colorGradientTwo 52.46%, $colorGradientThree 100%);
$color-Button:              #3A3A43;
$color-title-main:          #3A3A43;

$bodyColor:                 #5F5F6D;
$bodyBgColor:               #FAFAFA;

$default:                   #292A32;
$default-color:             $default;

$textColor:                 #3A3A43; 
$textBgColor:               #FAFAFA;

$profileThumbMarginB:       .25rem;
$profileImgBorderRadius:    0px;

$profileH1FontSize:         30px;
$profileH1FontColor:        #fff;
$profileH1FontFamily:       $fontHeading;
$profileH1FontWeight:       normal;
$profileH1MarginB:          1rem;

$profileH2FontSize:         24px;
$profileH2FontColor:        $default-color;
$profileH2FontWeight:       600;
$profileH2FontFamily:       $fontHeading;

$profileH3FontSize:         15px;
$profileH3FontColor:        #fff;
$profileH3FontWeight:       300;
$profileH3FontFamily:       $fontHeading;

$profileH4FontSize:         24px;
$profileH4FontColor:        $default-color;
$profileH4FontFamily:       $fontHeading;


$userIdFontSize:            13px;
$userIdFontColor:           #fff;

$userDescFontSize:          14px;
$userDescFontColor:         #fff;
$userDescMarginB:           .5rem;

$buttonLFontSize:           16px;
$buttonSFontSize:           14px;            
          
$socialListMarginBottom:    .5rem;     
$socialIconsColor:          #fff;
$socialIconsFontSize:       $font-medium;

$likeWrapMarginB:           .25rem;
$statusWrapFontSize:        20px;
$statusWrapColor:           $textColor;
$likeLableFontSize:         12px;
$likeNumFontWeight:         700;

$backToTopFontSize:         18px;
$backToTopColor:            $default-color;

/*  Profile banner variable   */

$profile-banner-height       : 360px;

/* Tab variables   */

$tabItemColor:              $textColor;
$tabItemFontSize:           15px;
$tabFontFamily:             $fontHeading;
$tabBorderColor:            #fff;
$tabMarginB:                2rem;
$tabItemBorderColor:        #3A3A43;
$tabItemBgColor:            #fff;
$tabItemBorderRadius:       6px;
$tabItemMarginB:            3rem;
$tabItemHoverColor:         #fff;
$tabItemHoverBorderColor:   $color-Button;
$tabItemHoverBgColor:       $color-Button;
$tabActiveColor:            #fff;
$tabActiveBgColor:          transparent;
$tabActiveBorderColor:      transparent;
$tabActiveFontWeight:       normal; 
$TabOutlineColor:           $white;

/* Pagination Variables  */ 

$paginationMarginT:         30px; 
$paginationMarginB:         30px;        
$paginationColor:           $default-color;
$paginationBgColor:         rgba(255, 255, 255, 0.2);
$paginationBorderColor:     transparent;
$paginationBorderRadius:    0px;
$paginationLineHeight:      38px;
$paginationActiveColor:     $white;
$paginationActiveBgColor:   $color-primary-main;
$paginationActiveBorderColor: $color-primary-main;
$paginationFontSize:        18px;


/* Collection Tab  Variables */

$thumbListMarginB:           .2rem;
$thumbListPadding:           0px;
$thumbListBorderColor:       transparent;
$thumbListHoverBorderColor:  transparent;
$thumbListBorderRadius:      8px;

$thumbImgMarginB:            0px;
$thumbImgBorderRadius:       transparent;
$thumbImgBorderColor:        transparent;
$thumbImgBorderHoverColor:   transparent;

$thumbInfoPadding:            1rem;
$thumbInfoBgColor:            $color-secondary-main;
$thumbInfoBgHoverColor:       $color-primary-main;
$thumbInfoBorderColor:        transparent;
$thumbInfoHoverBorderColor:   transparent;

$thumbTitleColor:             #fff;
$thumbTitleHoverColor:        $default-color;
$thumbTitleSize:              30px;
$thumbTitleMarginB:           .5rem;
$thumbTitleFontWeight:        normal;
$thumbAssetColor:             #fff;
$thumbAssetSize:              15px;
$thumbDescColor:              #fff;
$thumbDescSize:               14px;
$thumbDescMarginB:            .5rem;
$thumbDateColor:              #fff;
$thumbDateSize:               14px;
$thumbWishCountColor:         $textColor;
$thumbWishCountSize:          16px;
$thumbWishColor:              $white;
$thumbWishSize:               24px;

/* exhibition Tab Variables  */

$exhibitionThumbListMarginB:           .2rem;
$exhibitionThumbListPadding:           0px;
$exhibitionThumbListBorderColor:       transparent;
$exhibitionThumbListHoverBorderColor:  transparent;
$exhibitionThumbListBorderRadius:      8px;

$exhibitionThumbImgMarginB:            0px;
$exhibitionThumbImgBorderRadius:       transparent;
$exhibitionThumbImgBorderColor:        transparent;
$exhibitionThumbImgBorderHoverColor:   transparent;

$exhibitionThumbInfoPadding:            1rem;
$exhibitionThumbInfoBgColor:            $color-secondary-main;
$exhibitionThumbInfoBgHoverColor:       $color-primary-main;
$exhibitionThumbInfoBorderColor:        transparent;
$exhibitionThumbInfoHoverBorderColor:   transparent;

$exhibitionThumbTitleColor:             #fff;
$exhibitionThumbTitleHoverColor:        $default-color;
$exhibitionThumbTitleSize:              30px;
$exhibitionThumbTitleMarginB:           .5rem;
$exhibitionThumbTitleFontWeight:        normal;
$exhibitionThumbAssetColor:             #fff;
$exhibitionThumbAssetSize:              15px;
$exhibitionThumbDescColor:              #fff;
$exhibitionThumbDescSize:               14px;
$exhibitionThumbDescMarginB:            .5rem;
$exhibitionThumbDateColor:              #fff;
$exhibitionThumbDateSize:               14px;
$exhibitionThumbWishCountColor:         $textColor;
$exhibitionThumbWishCountSize:          16px;
$exhibitionThumbWishColor:              $white;
$exhibitionThumbWishSize:               24px;

/* Assets Tab  Variables */

$assetThumbListMarginB:           .1rem;
$assetThumbListPadding:           0px;
$assetThumbListBorderColor:       transparent;
$assetThumbListHoverBorderColor:  transparent;
$assetThumbListBorderRadius:      8px;

$assetThumbImgMarginB:            0px;
$assetThumbImgBorderRadius:       8px;
$assetThumbImgBorderColor:        transparent;
$assetThumbImgBorderHoverColor:   transparent;

$assetThumbInfoPadding:            1rem;
$assetThumbInfoBgColor:            $color-primary-main;
$assetThumbInfoBgHoverColor:       transparent;
$assetThumbInfoBorderColor:        transparent;
$assetThumbInfoHoverBorderColor:   transparent;

$assetThumbTitleColor:             #fff;
$assetThumbTitleHoverColor:        $default-color;
$assetThumbTitleSize:              14px;
$assetThumbTitleMarginB:           .5rem;
$assetThumbTitleFontWeight:        normal;
$assetThumbAssetColor:             $default-color;
$assetThumbAssetSize:              14px;
$assetThumbDescColor:              #fff;
$assetThumbDescSize:               14px;
$assetThumbDescMarginB:            .1rem;
$assetThumbDateColor:              $default-color;
$assetThumbDateSize:               14px;
$assetThumbWishCountColor:         $default-color;
$assetThumbWishCountSize:          16px;
$assetThumbWishColor:              $textColor;
$assetThumbWishSize:               24px;
$assetThumbPlaySize:               20px;



/*  Footer variables  */

$footerMarginT:                   15px;
$footerPaddingT:                  .75rem;
$footerPaddingB:                  1rem;
$footerBgColor:                   transparent;
$footerColor:                     $textColor;
$footerFontSize:                  $font-small;


.primayTextColor {
    background: $color-primary-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: auto;
    display: inline-block;
}