

@import '../collections006/variables';


.collectionWrap {
    /*background-color: #FFD400;*/
}

.collectionHeader {
    background: $white; padding-top: $collectionHeaderPaddingT;
    padding-bottom: $collectionHeaderPaddingB; 
    margin-bottom: $collectionMarginB;
}
.collectionContents {
    padding-top: $pageContentPaddingT;
    padding-bottom: $pageContentPaddingB;
    background: $pageContentBgColor;
}
.collectionAll {
    display: grid;
    grid-template-columns: repeat(3, minmax(12rem, 1fr));
    gap: .5rem;
    padding-bottom: 1rem;
    place-items: center;
}
.slickSlider {
    display: block; padding-top: 40px; padding-bottom: 40px;
    .slick-next {
        background: red;
    }
}
.textCenter {
    text-align: center;
}


.headSocial {
    text-align: right;
    a {
        margin: 0 .75rem .5rem 0;
        font-size: $socialFontSize;
        color: $socialIconColor;
    }
}
.socialLabel {
    font-size: $socialLabelFontSize;
    margin-right: .75rem;
}
.headWrap {
    margin-bottom: $collectionHeadWrapMarginB;
    background: $white; padding: 1rem;
    h1 {
        font-size: $collectionH1FontSize; color: $titleTextColor;
        font-weight: $collectionH1FontWeight; margin-bottom: $collectionH1MarginB;
        text-transform: uppercase;
    }
    h6 {
        color: $titleTextColor;
        font-size: $collectionH6FontSize;
        white-space: nowrap;
    }
}
.userImg {
    margin-bottom: $userImgMarginB;
    line-height: 1;
    .profileImg {
        border-radius: $userImgBorderRadius; 
    }
    img {
        line-height: 1;
    }
}
.userDesc {
    font-size: $userDescFontSize; color: $userDescColor;
    margin-bottom: $userDescMarginB; line-height: 1.5;
    background: $white; padding: 1rem;
}


.thumbList {
  margin-bottom: $thumbListMarginB;
  transition: all 0.5s ease-in-out;
  /*border: 1px solid $thumbListBorderColor;
  border-radius: $thumbListBorderRadius;*/
  overflow: hidden;
  padding: 7.5px;
  position: relative;

  &:hover {
    .thumbImg {
        img {
          transform: scale(1.05);
          -webkit-transform: scale(1.05);
        }
    }
    .thumbInfo {
        background: $thumbInfoBgHoverColor;
        color: $white;
        a {
            color: $white;
        }
        .thumbTitle, .thumbDesc {
            color: $white;
        }
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
      border-radius: $thumbImgBorderRadius;
    }
  }

}
.thumbInfo {
  z-index: 1;
  width: 100%;  padding: $thumbInfoPadding; 
  background-color: $thumbInfoBgColor;
  color: $thumbInfoColor;
  max-width: 240px;
}
.thumbTitle {
    font-size: $thumbTitleSize; margin-bottom: $thumbTitleMarginB;
    font-weight: $thumbTitleFontWeight; color: $thumbTitleColor;
    a {
      color: $thumbTitleColor; transition: none;
    }
}
.thumbDesc {
  font-size: $thumbDescSize; color: $thumbDescColor;
  margin-bottom: $thumbDescMarginB; line-height: 1.5;
}

/* Footer  */

.collectionFooter {
    padding-bottom: $footerPaddingB; padding-top: $footerPaddingT;
    background-color: $footerBgColor; color: $footerColor;
    margin-top: $footerMarginT;
    /*position: sticky; bottom: 0;*/
}

.profileWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userLogged {
    display: flex; align-items: center;
}
.likesCount {
    text-align: center;
}
.userInfo {
    h4 {
        font-size: $userTitleFontSize; color: $userTitleColor;
        margin-bottom: $userTitleMarginB;
        font-weight: $userTitleFontWeight;
    }
    
}
.viewLink {
    font-size: $viewLinkFontSize; color: $viewLinkColor;
    a {
        color:$viewLinkColor;
    }
}

.profileLike {
    margin-top: 0px;
    margin-bottom: 20px;
}
.copyrightWrap {
    padding: 1rem 0; 
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyrightLogo {
    margin-left: .5rem;
    margin-right: .5rem;
    display: inline-block;
}

.fixIcons {
    position: fixed; right: 30px;
    z-index: 1; bottom: 80px;
}

.sidebarBanner {
    background-color: $white; min-height: 98%;
}

@media all and (max-width: 991px) {

    .collectionAll {
        /*display: grid;
        grid-template-columns: repeat(2, minmax(2rem, 1fr));
        gap: 1.5rem;*/
        /*display: block;*/
    }
    .collectionHeader {
        padding-top: 1.25rem;
    }
    .headWrap {
        h1 {
            white-space: nowrap; overflow: hidden;
            text-overflow: ellipsis; font-size: $font-large;
        }
    }
    .slick-slider {
        margin-left: -5px; margin-right: -5px;
    }
    .copyright {
        flex-wrap: wrap;
    }
    .fixIcons {
        bottom: 50px;
    }

}