
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');


$fontHeading:                'Syne', sans-serif;
$fontBody:                   'Space Mono', monospace;

/*$fontOpenSans:             'Open Sans', sans-serif;*/

$color-primary-main:        #DB2A15;
$color-secondary-main:      #DBDBDB;
$color-Button:              #DB2A15;
$color-title-main:          #fff;

$default:                   #434657;
$default-color:             $default;
$bodyBgColor:               #FFF5D7;
$textColor:                 $default; 
$textBgColor:               #FFD400;


$profileThumbMarginB:       12px;
$profileImgBorderRadius:    0px;

$profileH1FontSize:         36px;
$profileH1FontColor:        #fff;
$profileH1FontFamily:       $fontHeading;
$profileH1FontWeight:       700;
$profileH1MarginB:          .25rem;

$profileH2FontSize:         18px;
$profileH2FontColor:        $default-color;
$profileH2FontWeight:       600;
$profileH1FontFamily:       $fontHeading;

$profileH3FontSize:         18px;
$profileH3FontColor:        #F9F9F9;
$profileH3FontWeight:       300;
$profileH3FontFamily:       $fontHeading;

$profileH4FontSize:         14px;
$profileH4FontColor:        $default-color;
$profileH4FontFamily:       $fontHeading;


$userIdFontSize:            13px;
$userIdFontColor:           #fff;

$userDescFontSize:          14px;
$userDescFontColor:         #fff;
$userDescMarginB:           .75rem;

$buttonLFontSize:           16px;
$buttonSFontSize:           14px;            
          
$socialListMarginBottom:    10px;     
$socialIconsColor:          #fff;
$socialIconsFontSize:       $font-medium;

$likeWrapMarginB:           .25rem;
$statusWrapFontSize:        20px;
$statusWrapColor:           #fff;
$likeLableFontSize:         12px;
$likeNumFontWeight:         700;

$backToTopFontSize:         18px;
$backToTopColor:            $default-color;

/*  Profile banner variable   */

$profile-banner-height       : 360px;
$bannerBgImg:                'public/profile/profile007/bannerBg';

/* Tab variables   */

$tabItemColor:              #53535A;
$tabItemFontSize:           18px;
$tabBorderColor:            transparent;
$tabMarginB:                2rem;
$tabItemBorderColor:        transparent;
$tabItemBgColor:            transparent;
$tabItemBorderRadius:       0px 0px 0 0;
$tabItemMarginB:            3rem;
$tabItemHoverColor:         $color-primary-main;
$tabItemHoverBorderColor:   $color-primary-main;
$tabItemHoverBgColor:       transparent;
$tabActiveColor:            $color-primary-main;
$tabActiveBgColor:          transparent;
$tabActiveBorderColor:      $color-primary-main;
$tabActiveFontWeight:       700; 
$TabOutlineColor:           $white;

/* Pagination Variables  */ 

$paginationMarginT:         30px; 
$paginationMarginB:         30px;        
$paginationColor:           $default-color;
$paginationBgColor:         rgba(255, 255, 255, 0.2);
$paginationBorderColor:     rgba(0, 0, 0, 0.06);
$paginationBorderRadius:    8px;
$paginationLineHeight:      38px;
$paginationActiveColor:     $white;
$paginationActiveBgColor:   $color-primary-main;
$paginationActiveBorderColor: $color-primary-main;
$paginationFontSize:        18px;


/* Collection Tab  Variables */

$thumbListMarginB:           .1rem;
$thumbListPadding:           0px;
$thumbListBorderColor:       transparent;
$thumbListHoverBorderColor:  transparent;
$thumbListBorderRadius:      0px;

$thumbImgMarginB:            0px;
$thumbImgBorderRadius:       transparent;
$thumbImgBorderColor:        transparent;
$thumbImgBorderHoverColor:   transparent;

$thumbInfoPadding:            1rem;
$thumbInfoBgColor:            $color-primary-main;
$thumbInfoBgHoverColor:       $color-primary-main;
$thumbInfoBorderColor:        transparent;
$thumbInfoHoverBorderColor:   transparent;

$thumbTitleColor:             #fff;
$thumbTitleHoverColor:        $default-color;
$thumbTitleSize:              36px;
$thumbTitleMarginB:           .5rem;
$thumbTitleFontWeight:        800;
$thumbAssetColor:             #fff;
$thumbAssetSize:              16px;
$thumbDescColor:              #fff;
$thumbDescSize:               14px;
$thumbDescMarginB:            .5rem;
$thumbDateColor:              #fff;
$thumbDateSize:               14px;
$thumbWishCountColor:         #fff;
$thumbWishCountSize:          16px;
$thumbWishColor:              $white;
$thumbWishSize:               24px;

/* Exhibition Tab Variables  */

$ExhibitionThumbListMarginB:           .1rem;
$ExhibitionThumbListPadding:           0px;
$ExhibitionThumbListBorderColor:       transparent;
$ExhibitionThumbListHoverBorderColor:  transparent;
$ExhibitionThumbListBorderRadius:      0px;

$ExhibitionThumbImgMarginB:            0px;
$ExhibitionThumbImgBorderRadius:       transparent;
$ExhibitionThumbImgBorderColor:        transparent;
$ExhibitionThumbImgBorderHoverColor:   transparent;

$ExhibitionThumbInfoPadding:            1rem;
$ExhibitionThumbInfoBgColor:            $color-primary-main;
$ExhibitionThumbInfoBgHoverColor:       $color-primary-main;
$ExhibitionThumbInfoBorderColor:        transparent;
$ExhibitionThumbInfoHoverBorderColor:   transparent;

$ExhibitionThumbTitleColor:             #fff;
$ExhibitionThumbTitleHoverColor:        $default-color;
$ExhibitionThumbTitleSize:              36px;
$ExhibitionThumbTitleMarginB:           .5rem;
$ExhibitionThumbTitleFontWeight:        800;
$ExhibitionThumbAssetColor:             #fff;
$ExhibitionThumbAssetSize:              16px;
$ExhibitionThumbDescColor:              #fff;
$ExhibitionThumbDescSize:               14px;
$ExhibitionThumbDescMarginB:            .5rem;
$ExhibitionThumbDateColor:              #fff;
$ExhibitionThumbDateSize:               14px;
$ExhibitionThumbWishCountColor:         #fff;
$ExhibitionThumbWishCountSize:          16px;
$ExhibitionThumbWishColor:              $white;
$ExhibitionThumbWishSize:               24px;

/* Assets Tab  Variables */

$assetThumbListMarginB:           .1rem;
$assetThumbListPadding:           0px;
$assetThumbListBorderColor:       transparent;
$assetThumbListHoverBorderColor:  transparent;
$assetThumbListBorderRadius:      0px;

$assetThumbImgMarginB:            0px;
$assetThumbImgBorderRadius:       transparent;
$assetThumbImgBorderColor:        transparent;
$assetThumbImgBorderHoverColor:   transparent;

$assetThumbInfoPadding:            .5rem;
$assetThumbInfoBgColor:            #fff;
$assetThumbInfoBgHoverColor:       $color-primary-main;
$assetThumbInfoBorderColor:        transparent;
$assetThumbInfoHoverBorderColor:   transparent;

$assetThumbTitleColor:             $default-color;
$assetThumbTitleHoverColor:        $default-color;
$assetThumbTitleSize:              16px;
$assetThumbTitleMarginB:           .5rem;
$assetThumbTitleFontWeight:        700;
$assetThumbAssetColor:             $default-color;
$assetThumbAssetSize:              16px;
$assetThumbDescColor:              $default-color;
$assetThumbDescSize:               14px;
$assetThumbDescMarginB:            .1rem;
$assetThumbDateColor:              $default-color;
$assetThumbDateSize:               14px;
$assetThumbWishCountColor:         $default-color;
$assetThumbWishCountSize:          16px;
$assetThumbWishColor:              $white;
$assetThumbWishSize:               24px;
$assetThumbPlaySize:               20px;



/*  Footer variables  */

$footerMarginT:                   2rem;
$footerPaddingT:                  1rem;
$footerPaddingB:                  1rem;
$footerBgColor:                   transparent;
$footerColor:                     $default-color;
$footerFontSize:                  $font-small;


.primayTextColor {
    background: $color-primary-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: auto;
    display: inline-block;
}