
/*  Setting Varible  */

$collectionOneFontFamily:           'Archivo', sans-serif;
$collectionOneColor:                #fff;
$collectionOneBgColor:              #000;

$collectionOneBgImg:                'imagePath';
$collectionOneBgFillColor:          #000;
$collectionOneBgAdjustment:         cover;
$collectionOneCoverBg:              #000;
$collectionOneCoverBg:              #000;

$collectionFourFontFamily:           'Archivo', sans-serif;
$collectionFourColor:                #fff;
$collectionFourBgColor:              #000;

$collectionFourBgImg:                'imagePath';
$collectionFourBgFillColor:          #000;
$collectionFourBgAdjustment:         cover;
$collectionFourCoverBg:              #000;
$collectionFourCoverBg:              #000;

$collectionFiveFontFamily:           'Archivo', sans-serif;
$collectionFiveColor:                #fff;
$collectionFiveBgColor:              #000;
$collectionFiveBgImg:                'imagePath';
$collectionFiveBgFillColor:          #000;
$collectionFiveBgAdjustment:         cover;
$collectionFiveCoverBg:              #000;
$collectionFiveCoverBg:              #000;


$collectionSixFontFamily:           'Archivo', sans-serif;
$collectionSixColor:                #fff;
$collectionSixBgColor:              #000;
$collectionSixBgImg:                'imagePath';
$collectionSixBgFillColor:          #000;
$collectionSixBgAdjustment:         cover;
$collectionSixCoverBg:              #000;
$collectionSixCoverBg:              #000;

