

@import '@/components/profile/profile008/variables';

.assetsAll {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1.5rem;
}

.thumblist {
  margin-bottom: $assetThumbListMarginB;
  transition: all 0.5s ease-in-out;
  position: relative;

  &:hover {
    .thumbInfo {
      opacity: 1; height: 100%;
    }    
    .thumbImg img {
      /*transform: scale(1.1);
      -webkit-transform: scale(1.1);*/
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
}

.thumbInfo {
  padding: $assetThumbInfoPadding; background-color: $assetThumbInfoBgColor;
  position: absolute; left: 0; bottom: 0;
  width: 100%; height: 0%;
  @include flexbox; align-items: center;
  text-align: center;
  opacity: 0;
  transition: ease-in-out 300ms;
}
.thumbTitlewrap {
  h3 {
    font-size: $assetThumbTitleSize; margin-bottom: $assetThumbTitleMarginB;
    font-weight: $assetThumbTitleFontWeight; font-family: $fontHeading;
    a {
      color: $assetThumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $assetThumbDescSize; color: $assetThumbDescColor;
  margin-bottom: $assetThumbDescMarginB; line-height: 1.5;
}


@media all and (max-width:550px) {

    .assetsAll {
        grid-template-columns: repeat(2, minmax(2rem, 2fr));
        gap: 1rem;
    }

}