
@import '../../../../components/profile/profile006/variables';

.collectionWraps {
  display: grid;
  grid-template-columns: repeat(4, minmax(12rem, 1fr));
  gap: 1.5rem;
}

.thumblist {
  margin-bottom: $thumbListMarginB;
  transition: all 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px $color-primary-main;   
    .thumbImg img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
    .wishLike {
      font-weight: bold;
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  .wishLike {
    font-size: $thumbWishSize; color: $thumbWishColor;
    margin-bottom: 1rem; text-align: right;
    position: absolute; right: 30px; top: 20px;
  }
}

.thumbInfo {
  padding: $thumbInfoPadding; background-color: $thumbInfoBgColor;
}
.thumbTitlewrap {
  h3 {
    font-size: $thumbTitleSize; margin-bottom: $thumbTitleMarginB;
    font-weight: $thumbTitleFontWeight;
    a {
      color: $thumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $thumbDescSize; color: $thumbDescColor;
  margin-bottom: $thumbDescMarginB; line-height: 1.5;
}
.dateWish {
  @include flexbox; justify-content: space-between;
  font-size: $thumbWishCountSize;
  position: absolute; bottom: 10px; width: 100%;
  .num {
    font-weight: 700;
  }
}

.descWishWrap {
  @include flex; justify-content: space-between;
  .wish {
    width: 70px; text-align: right; color: $default-color;
  }
}


@media all and (max-width: 1300px) {
  .collectionWraps {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
}


@media all and (max-width: 550px) {
  .collectionWraps {
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
    gap: 1rem;
  }
}