@import '../../../../components/profile/profile007/variables';


.exhibitionWraps {
    display: grid;
    grid-template-columns: repeat(3, minmax(12rem, 1fr));
    gap: 1.5rem;
}
.slickSlider {
  display: block; padding-left: 2rem; 
}
.thumblist {
  margin-bottom: $ExhibitionThumbListMarginB;
  transition: all 0.5s ease-in-out;
  padding-right: 90px; margin-left: 15px;
  position: relative;

  background: url('../../../../public/profile/profile007/images/bgThumb.svg') right -10px center no-repeat;
  background-size: contain;
  &:hover {
    .thumbInfo {
      opacity: 1; height: 100%;
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  /*.wishLike {
    font-size: $thumbWishSize; color: $thumbWishColor;
    margin-bottom: 1rem; text-align: right;
    position: absolute; right: 30px; top: 15px;
  }*/
}

.thumbInfo {
  padding: $ExhibitionThumbInfoPadding; background-color: $ExhibitionThumbInfoBgColor;
  color: $white;
  position: absolute; left: 0; bottom: 0;
  width: calc(100% - 90px); height: 0%;
  @include flexbox; align-items: flex-end;
  opacity: 0;
  transition: ease-in-out 300ms;
}
.thumbTitlewrap {
  h3 {
    font-size: $ExhibitionThumbTitleSize; margin-bottom: $ExhibitionThumbTitleMarginB;
    font-weight: $ExhibitionThumbTitleFontWeight;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    a {
      color: $ExhibitionThumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $ExhibitionThumbDescSize; color: $ExhibitionThumbDescColor;
  margin-bottom: $ExhibitionThumbDescMarginB; line-height: 1.5;
}
.thumbAsset {
  font-size: $ExhibitionThumbAssetSize; color: $ExhibitionThumbAssetColor;
  margin-bottom: .25rem; font-weight: 700;
}


@media all and (max-width: 1199px) {

  .exhibitionWraps {
    grid-template-columns: repeat(2, minmax(2rem, 2fr));
    gap: 1rem;
  }
  /*.thumblist { 
    padding-right: 50px;
    background-position: right 5px center;
  }*/

}


@media all and (max-width: 767px) {

  .slickSlider { 
    padding-left: 0rem;
  }
  .thumblist { 
    padding-right: 40px; margin-left: 10px;
    background-position: right 5px center;
  }
  .thumbInfo {
    width: calc(100% - 40px);
  }

}
