
@import '../../../components/profile/profile003/variables'; 

.paginationWrap {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $paginationActiveBgColor;
                border-color: $paginationColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $paginationActiveBgColor;
                border-color: $paginationColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; height: 41px;
            line-height: 41px;
            border-radius: 4px;
            border: 2px solid $paginationBgColor;
            color: $paginationColor;
            background-color: $paginationBgColor;
            font-size: $paginationFontSize;
        }
        [aria-selected="true"] {
            background-color: $paginationActiveBgColor;
            border-color: $paginationColor;
            a {
                background-color: $paginationActiveBgColor;
                border-color: $paginationColor;
            }
        }
    } 
}
@media all and (max-width:767px) {
    .tabsWrapper {
        text-align: center;
        ul {
            margin-bottom: 1rem;
            border-bottom: none;
        }
        li {
            padding: 0.4rem 0.8rem;
            bottom: 0 !important;
            margin: 10px;
            font-size: $TabsFontSize;
            border: 2px solid $tabBorderColor;
            display: inline-block;
            border-radius: $tabItemBorderRadius;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}