@import '@/components/profile/profile008/variables';


.exhibitionWraps {
    display: grid;
    grid-template-columns: repeat(1, minmax(6rem, 1fr));
    gap: 1.5rem;
}

.thumblist {
  margin-bottom: $ExhibitionThumbListMarginB;
  transition: all 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px $color-primary-main;   
    .thumbImg img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  /*.wishLike {
    font-size: $thumbWishSize; color: $thumbWishColor;
    margin-bottom: 1rem; text-align: right;
    position: absolute; right: 30px; top: 15px;
  }*/
}

.thumbInfo {
  padding: $ExhibitionThumbInfoPadding; background-color: $ExhibitionThumbInfoBgColor;
}
.thumbTitlewrap {
  h3 {
    font-size: $ExhibitionThumbTitleSize; margin-bottom: $ExhibitionThumbTitleMarginB;
    font-weight: $ExhibitionThumbTitleFontWeight; text-transform: uppercase;
    font-family: $fontHeading;
    a {
      color: $ExhibitionThumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $ExhibitionThumbDescSize; color: $ExhibitionThumbDescColor;
  margin-bottom: $ExhibitionThumbDescMarginB; line-height: 1.5;
  height: 48px; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.descWishWrap {
  @include flex; justify-content: space-between;
  .wish {
    width: 70px; text-align: right; color: $default-color;
  }
}
.num, .assetNum {
  font-weight: 700;
}



@media all and (max-width: 1199px) {

    .exhibitionWraps {
        grid-template-columns: repeat(2, minmax(2rem, 2fr));
        gap: 1rem;
    }
}
