
@import '@/components/profile/profile010/variables';

@keyframes in-left {
  from {transform: rotate3d(0,1,0, 90deg)}
  to   {transform: rotate3d(0,0,0, 0deg)}
}

.exhibitionWraps {
  display: grid;
  grid-template-columns: repeat(3, minmax(12rem, 1fr));
  gap: 1.5rem;
  position: relative;
}

.thumblist {
  margin-bottom: $exhibitionThumbListMarginB;
  
  position: relative; overflow: hidden;
  border-radius: $exhibitionThumbListBorderRadius;

  &:hover {
    .thumbInfo {
      transform-origin: 0% 0%;
      -webkit-animation: in-left 300ms ease 0ms 1 forwards;
      animation: in-left 300ms ease 0ms 1 forwards;
    }

    .wishLike {
      font-weight: bold;
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  
}
.wishLike {
  font-size: $exhibitionThumbWishSize; color: $exhibitionThumbTitleColor;
  margin-bottom: 1rem; text-align: right;
  width: 100%;
  svg { 
    color: $exhibitionThumbTitleColor !important;
  }
  &.active {
    color: red !important;
  }
}

.thumbInfo {
  padding: $exhibitionThumbInfoPadding; background: $exhibitionThumbInfoBgColor;
  position: absolute; left: 0; top: 0; 
  width: 100%; height: 100%; 
  @include flexbox; justify-content: space-between;
  transition: all 0.5s ease-in-out;

  transform: rotate3d(1, 0, 0, 90deg);
  transform-origin: 0% 0%;
  -webkit-animation: out-left 300ms ease 0ms 1 forwards;
  animation: out-left 300ms ease 0ms 1 forwards;
}

.thumbInfoInner {
  @include flexbox; justify-content: space-between;
}

.thumbTitlewrap {
  width: 100%; text-align: center;
  h3 {
    font-size: $exhibitionThumbTitleSize; margin-bottom: $exhibitionThumbTitleMarginB;
    font-weight: $exhibitionThumbTitleFontWeight; font-family: $fontHeading;
    white-space: nowrap; text-overflow: ellipsis;
    overflow: hidden; justify-content: center;
    a {
      color: $exhibitionThumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $exhibitionThumbDescSize; color: $exhibitionThumbDescColor;
  margin-bottom: $exhibitionThumbDescMarginB; line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*.dateWish {
  @include flexbox; justify-content: space-between;
  font-size: $thumbWishCountSize;
  position: absolute; bottom: 10px; width: 100%;
  
}*/
.assetNum {
  font-size: $exhibitionThumbAssetSize; margin-bottom: .25rem;
}
.num, .assetNum {
  font-weight: 700; color: $exhibitionThumbTitleColor;
}

.descWishWrap {
  margin-top: auto;
  .wish {
    color: $exhibitionThumbTitleColor;
    text-align: right;
  }
}
.thumbBottom {
  margin-top: auto; width: 100%;
}


@media all and (max-width: 1199px) {
  .exhibitionWraps {
    grid-template-columns: repeat(2, minmax(6rem, 1fr));
    gap: .75rem;
  }
}