
@import '../../../components/profile/profile004/variables';

@media all and (min-width: 1400px) {
    .container {
        max-width: 1370px;
    }
}

.bannerImg {
    display: flex;
    justify-content: center;
    position: relative;
    height: $profile-banner-height;
    text-align: center;
    img {
        width: 100%;
        object-fit: cover;
    }
}
.profileImg {
    /*text-align: center;*/
    margin-bottom: $profileThumbMarginB;
    img {
        display: block; line-height: 1;
    }
}
.walletConnect {
    position: absolute;
    top: 24px; right: 24px;
}
.userWrap {
    max-width: 508px;
    margin: 0px auto 0 auto;
    .userName {
        font-size: $profileH1FontSize;
        color: $profileH1FontColor;
        font-family: $profileH1FontFamily;
        margin-bottom: $profileH1MarginB;
    }
    .userMore {
        font-size: $profileH3FontSize;
        color: $profileH2FontColor;
        font-weight: $profileH3FontWeight;
    }
    .userDesc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $userDescFontSize;
        color: $userDescFontColor;
        margin-bottom: $userDescMarginB;
    }
}
.btnGroups {
	.btn {

		font-size: 1.5rem;
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}

.likeWrap {
    margin-bottom: $likeWrapMarginB;
}
.statusWrap {
    font-size: $statusWrapFontSize;
    color: $statusWrapColor;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    > span {
        flex: 0 0 50%;
        font-size: 18px;
        max-width: 50%; margin-bottom: 1rem;
        font-size: $likeLableFontSize;
    }
    .num {
        margin: 0 auto 5px auto;
        display: block; font-weight: $likeNumFontWeight;
        font-size: $statusWrapFontSize;
    }
}
.userId {
    transition: all 0.3s;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: $userIdFontSize;
    color: $userIdFontColor;
}
.socialList {
    margin-bottom: $socialListMarginBottom;
    a {
        color: $socialIconsColor;
        font-size: $socialIconsFontSize;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}

.copyTxt {
    margin-left: 1rem;
}
.btnPrimary {
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 2px solid $textColor;;
    font-size: 1.5rem;
    transition: all 0.5s;
    margin-bottom: 2rem;
    border-radius: 4px;
    &:not(:last-child) {
        margin-right: 1rem;
    }
    &:hover, &:active {
        background-color: $textBgColor;
    }
    &.active {
        background-color: $textBgColor;
    }
}

// Tabs Dssign
.collectionTabsWrapper {
    text-align: center;
}

.nav {
    flex-direction: column;
    
    li {
        position: relative;
        padding: 0 2rem;
        margin-bottom: $tabItemMarginB;
        &:before , &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            height: calc(50% - 1px);
            border: 1px solid $TabOutlineColor;
            transition: all .15s ease;
            opacity: 0;
        }
        &:before {
            top: -18px;
            border-bottom-width: 0;
        }
        &:after {
            bottom: -18px;
            border-top-width: 0;
        }
        
        &[aria-selected="true"], &:hover {
            button {
                background-color: $tabActiveBgColor;
                border-color: $tabActiveBorderColor;
                color: $tabActiveColor;
            }
            &:before , &:after {
                opacity: 1;
            }
            
        }
    }
    button {
        width: 100%;
        background-color: $tabItemBgColor;
        border-color: $tabItemBorderColor;
        color: $tabItemColor;
        font-size: $tabItemFontSize;
        
        font-weight: $tabActiveFontWeight;
    
        &:hover {
            background-color: $tabItemHoverBgColor;
            border-color: $tabItemHoverBorderColor;
            color: $tabItemHoverColor;
        }
        
    }
}

.paginationWrap {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $textBgColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $textBgColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; height: 41px;
            border-radius: 4px;
            border: 2px solid $paginationColor;
            color: $paginationColor;
            background-color: $paginationBgColor;
            font-size: $paginationFontSize;
        }
        [aria-selected="true"] {
            background-color: $paginationActiveBgColor;
            a {
                background-color: $paginationActiveBgColor;
            }
        }
    } 
}

// Footer 
.footer {
	padding-top: 1.5rem; 
	padding-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, .6);
    & + div {
        display: none;
    }
}
.footerRow {
    display: flex;
    justify-content: space-between
}
.socialContainer {
    list-style: none;
    margin: 0; padding: 0;
    display: inline-flex;
    align-items: center;
    li {
        &:not(:last-child) {
            border-right: 1px solid $textColor;
            margin-right: 1rem;
            padding-right: 1rem;
        }
    }
 	span {
		margin-right: 1rem;
	}
	a {
        color: #FFFFFF;
		&:not(:last-child) {
			margin-right: 35px;
		}
	}
}
.copyright {
    display: flex;
    align-items: center
}



@media all and (max-width: 991px) {

}


@media all and (max-width: 991px) {
    
    .footerRow {
        flex-wrap: wrap;
    }
    .copyright {
        width: 100%; border-right: none;
    }
    .socialContainer {
        @include flexbox; width: 100%;
        li {
            &:first-child {
                width: 100%;
            } 
            margin-top: .75rem;
        }
    }

}