@import '../public/account/variables/colors';
@import '../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


html {
    box-sizing: border-box;
    height: 100%;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
 }

body {
    line-height: 1.5;
    font-weight: 400;
	color: $default;
	font-family: 'Open Sans', sans-serif;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// HTML5 display-role reset for older browsers
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

blockquote, q {
    quotes:none;
    border-left: solid 2px #5E35B1;
    margin-left: 0;
    padding-left: 5px;
    color: #5E35B1;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    text-decoration: none;
    transition: all 0.5s ease-in-out 0s;
   &:hover, &:active, &.active {
        //opacity: 0.6;
    }
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #3A3A43;
    margin:1em 0;
    padding:0;
}

img {
  line-height: 1; vertical-align: top;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template, .hide {
  display: none !important;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    line-height: 1.2;
	font-family: 'Jost', sans-serif;
	margin-bottom: 8px;
}
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    &:empty {
        margin:0;
    }
}
iframe {
    max-width: 100%;
}

address {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


// Need Global Style
.flex-nowrap {
	.form-control {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
}
.flex-nowrapleft {
	border-radius: 1rem;
	overflow: hidden;
	.input-group-text {
		padding: 1rem 1.5rem;
	}
	.form-control {
		background-color: transparent;
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
}

.flex-nowrapboth {
	border-radius: 1rem;
	overflow: hidden;
	.input-group-text {
		padding: 1rem 1.5rem;
	}
	.form-control {
		background-color: transparent;
		border-radius: 0 !important;
		border-right: none !important;
		&:focus, &:active {
			box-shadow: none;
		}
		& + {
			.input-group-text {
				border-top-right-radius: 1rem;
				border-bottom-right-radius: 1rem;
				color: $success;
				border-left: none;
			}
		}
	}
}
.formUserStatus {
	margin-top: 5px;
	font-size: $font-mini;
	&.error {
		color: $red;
	}
	&.success {
		color: $success;
	}
}


.nobgelements {
	background-color: transparent !important;
	color: $white;
	&:hover, &:active {
		background-color: transparent !important;
		box-shadow: none;
	}
	&::placeholder {
		color: $grayLight !important;
	}
}

.loading {
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 3px solid $success;
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
	to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
	to { -webkit-transform: rotate(360deg); }
  }

// for header responsive

.menuList  {
	&.active {
		display: block;
	}
}



//Body Classes Globally

.AuthWrap {
	background: url(../public/main/images/authBgGradient.png) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	background-image: radial-gradient(#C051FF80 50%, #1A1A22 100% #1A1A22 0%, #404BE3);;
}

.collection002 {
	background: url(../public/dummyassets/collection002_bg.svg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
}
.collection003 {
  background: url(../public/collections/collections003/images/body.svg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
  font-family: 'VT323', monospace;
}

.collection009 {
  .slick-prev {
    right: -30px;
    top: 45%;
	width: 26px;
	height: 26px;
    left: auto;
    &:before {
      opacity: 1 !important;
	  font-size: 24px;
    }
  }
  .slick-next {
    top: 53%;
	right: -30px;
	width: 26px;
	height: 26px;
    &:before {
		font-size: 24px;
		opacity: 1 !important;
    }
  }
}

//Header Style
.headerWraps {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.5s;
	&.scrolled {
		background-color: #1B1B2F;
	}
}
// .mainHome {


	// 	background: linear-gradient(#853C9D 0%, #9659EA 40.1%, #3650DD 100%);
// }

.walletwrap {
	li {
		display: inline-block;
		padding: 1rem;
	}
	.walletID {
		font-weight: bold;
	}
	.mataaddress {
		color: #FFFFFF;
		margin-right: 2rem;
	}
}
.fontWeightBold {
	font-weight: bold;
}

// Need to Keep 
.colThumb {
    border: 1px solid $border;
    width: 88px;
    height: 88px;
    border-radius: 24px;
    display: inline-block;
}
.ciHead {
	font-size: 48px;
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-weight: 700;
}
.ciSubHead {
	font-size: 32px;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 64px;
}
.colmargin {
	margin-bottom: 2rem;
}


// Profile BG 


  
.profile4 {
    color: #FFFFFF;
    background: #000000 url(../public/profile/profile004/images/body.png) center center;
    font-family: 'Archivo', sans-serif;
    padding-top: 50px;
    a {
      color: #FFFFFF;
    }
}
.profile5 {
    color: #FFFFFF;
    background: #000000 url(../public/profile/profile005/images/body.png) center center;
    font-family: 'Archivo', sans-serif;
    padding-top: 50px;
    a {
      color: #FFFFFF;
    }
}



  .collectionOne {
    // background-image: url(../assets/images/thumbsfull.png);
    background-repeat: no-repeat;
    background-size: cover;
  }



// Not Delete the below styles
input {
	  border-radius: 1rem !important;
	  border-color: #EAEAED;
}

.form-moreselect {
	border-radius: 1rem !important;
}
.modal-header {
	  border-bottom: none;
}
.modal-content {
	border-radius: 1rem;
}
.btn {
	padding: 17px 19px;
	border-radius: 1rem;
}
.textTruncate {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	display: inline-block;
	max-width: 100px;
}

// Modal Slider
.modal {
	.slick-prev, .slick-next {
		background-color: transparent;
	}
	.slick-prev {
		left: 15px;
		z-index: 99;
		&:before {
			opacity: 1;
			font-size: 34px;
		}
	}
	.slick-next {
		right: 15px;
		z-index: 99;
		&:before {
			font-size: 34px;
			opacity: 1;
		}
	}
}

  .resimage {
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
  }

.nobgelements {
	color: $white !important;
	&::placeholder {
	    color: $placeholder_color;
  	}
	&:focus, &.focus, &:hover, &.hover, &:active, &.active {
		color: $white !important;
	}
}


// Home page Style

// Baners Section
.banners-wapper {
	background-image: url(./images/bannerbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 150px;
	padding-left: 12px;
	padding-right: 12px;
}	
.banners-wrap {
	// background: linear-gradient(180deg, #131328 0%, #333253 100%);
	padding-top: 100px;
	padding-bottom: 100px;
	color: $white;
	text-align: center;
}

.banners-wraps {
	padding-top: 100px;
	padding-bottom: 100px;
	color: $white;
	text-align: center;
}
.bannertop-wrap {
	text-align: left;
}
.bannertop-head {
	font-size: 48px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 32px;
	line-height: 69px;
}
.bannertop-para {
	text-align: left;
	font-size: 20px;
	margin-bottom: 32px;
}
.btn-bannertop {
	.btn {
		background-color: #ED0677;
		border-color: #ED0677;
		border-radius: 16px;
		color: $white;
		font-weight: 700;
		padding: 17px 50px;
		&:hover, &:active, &:focus {
			background-color: $white;
			color: #ED0677;
			border-color: #ED0677;
		}
	
	}
}

.amplify-head {
	font-size: 40px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 24px;
	color: $white;
}
.amplify-para {
	text-align: left;
	font-size: 20px;
	color: $white;
}


// Profile section

.profile-wrap {
	background-color: #282442;
	padding-top: 56px;
	padding-bottom: 56px;
	padding-left: 12px;
	padding-right: 12px;

}

// wallet case section
.wallet-wrapps {
	// background: linear-gradient(117.68deg, #150958 8.54%, rgba(23, 16, 65, 0) 45.41%);
	background-color: #131328;
	padding-top: 56px;
	padding-bottom: 56px;
	padding-left: 12px;
	padding-right: 12px;

}
.wallet-icons {
	text-align: center;
	margin-top: 57px;
}

// Show Case Section
.showcase-wrapper {
	background-color: #282442;
	padding-top: 74px;
	padding-bottom: 148px;
	padding-left: 12px;
	padding-right: 12px;

}


.numwrap {
	text-align: center;
	.showcase-num {
		margin-bottom: 58px;
		&.line {
			margin-top: 55px;
			margin-bottom: 55px;
		}
	}
	.num {
		display: inline-block;
		img {
			vertical-align: middle;
		}
	}
	.num-para {
		color: $white;
		padding-bottom: 32px;
		margin-bottom: 0;
	}
	.num-line {
		border-left: 2px solid #ED0677;
		display: inline-block;
		height: 99px;
		line-height: 99px;
	}
}
.sub-section {
	font-size: 40px;
	text-align: center;
	color: #ED0677;
	text-transform: uppercase;
}
.sub-sectionleft {
	font-size: 40px;
	text-align: left;
	color: #ED0677;
	text-transform: uppercase;
}
.view-all {
	text-align: center;
	margin-top: 30px;
	.btn-view {
		border: 2px solid $white;
		border-radius: 32px;
		color: $white;
		width: 100%;
		max-width: 380px;
		&:hover, &:active, &:focus {
			background-color: $white;
			color: $black;
			border-color: $white;
		}
	}
}

// FaQ Section
.faq-wrap {
	color: $white;
}

.grid-wrap {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 32px;
    grid-gap: 32px;
	padding: 0;
	margin: 0;;
}
.grid-thums {
	border-radius: 8px;
	text-align: center;
	
	.grid-img {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;

	}
	.thumb-head {
		background-color: #3A3A43;
		color: $white;
		font-size: 20px;
		padding: 8px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}


.case-collection {
	background: linear-gradient(180deg, #150958 1.79%, #670864 59.18%, #820768 79.68%, #A5076D 100.16%, #ED0677 100.17%);
	padding: 40px;
	border-radius: 40px;
	text-align: center;
	color: $white;
	margin-top: 150px;
	margin-bottom: 112px;
	.collection-head {
		font-size: 48px;
		font-weight: 700;
	}
	.collection-para {
		font-size: 24px;
		margin-top: 16px;
		margin-bottom: 24px;
	}
	.case-btn {
		background-color: #150958;
		color: $white;
		border-color: #150958;
		border-radius: 16px;
		&:hover, &:active, &:focus {
			background-color: transparent;
			border-color: #150958;
		}
	}
}

// Accordion Style
.task-collapse {
	display:block;
	margin: 0;
	border-bottom: 1px solid #ED0677;
	.toggle-collapse {
	  	display:none;
	  &:checked {
		~.heading {
		  &:before {
			content: '\2212';
		  }
		}
		~.collapses {
		  max-height: 300px;
		  overflow: initial;
		  opacity:1;
		}      
	  }
	}  
	.collapses {
	  max-height: 0;
	  overflow: hidden;
	  opacity:0;
	  transition: all .3s ease;
	}
	
	//Style
	.heading {
	  font-weight: 700;
	  font-size: 24px;
	  position: relative;
	  transition: all .3s ease;
	  padding: 30px 60px 30px 0;
	  cursor: pointer;
	  &:before {
		  content: "\2b";
		  font-size: 3rem;
		  position: absolute;
		  top: 50%; right: 20px;
		  -webkit-transform: translateY(-50%);
		  -moz-transform: translateY(-50%);
		  transform: translateY(-50%);
		  transition: 0.3s;
		  font-family: "Font Awesome 6 Pro";
	  }
	}
	.contents {
		  padding-bottom: 32px;
	  }  
  }

.faq-all {
	text-align: right;
	a {
		display: block;
		color: $white;
		font-size: 14px;
		padding: 30px 20px;
		&:hover, &:active, &:focus {
			color: #ED0677;
		}
	}
}







@media all and (min-width: 1300px) {
    .container {
        max-width: 1600px !important;
		padding-left: 1rem;
		padding-right: 1rem;
    }

}

@media all and (min-width: 1025px) {
    .lineBreak {
		display: block;
	}
}

@media all and (max-width: 1300px) {
    .container {
        max-width: 100% !important;
		padding-left: 1rem;
		padding-right: 1rem;
    }
    .collection009 .slick-slider{
	  .slick-prev, .slick-next {
	    right: -14px; text-align: right;
	  }
	}
}

@media all and (max-width: 991px) {
	.btn {
		padding: 0.8rem 1rem;
		border-radius: 1rem;
	}


}

@media all and (max-width: 767px) {
	.ciHead {
		margin: 5px 0;
		font-size: 36px;
	}	
	.ciSubHead {
		font-size: 24px;
		margin: 10px 0;
	}


	// Home Page
	.banners-wapper {
		background: url(./images/mobileBanner.png);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.grid-wrap {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-gap: 16px;
	}
	
	.grid-thums {
		.thumb-head {
			font-size: 14px;
		}
	}
	// Home Page Style
	.banners-wrap {
		padding-top: 0;
		padding-bottom: 80px;
		.bannercoltwo {
			order: 1;
		}
		.bannercolone {
			margin-top: 32px;
			order: 2;
		}
	}
	.banners-wraps {
		padding-top: 0;
		padding-bottom: 50px;
	}
	.profile-wrap {
		padding-top: 45px;
	}
	.wallet-wrapps {
		padding-top: 35px;
	}
	.numwrap {
		.num-line {
			height: 50px;
		}
		.num-para {
			padding-bottom: 24px;
			// display: -webkit-box;
			// -webkit-line-clamp: 3;
			// -webkit-box-orient: vertical;
			// overflow: hidden;
			// text-overflow: ellipsis;
		}
		.num img {
			max-width: 60px;
		}
	}
	.wallet-icons {
		margin-top: 0;
	}
	.showcase-wrapper {
		padding-top: 44px;
		padding-bottom: 0;
	}
	.case-collection {
		margin-top: 86px;
		margin-bottom: 80px;
		padding: 16px;
		.collection-head {
			font-size: 16px;
		}
		.collection-para {
			font-size: 14px;
		}
	}
	.view-all {
		.btn-view {
			padding: 5px;
		}
	}
	.sub-sectionleft {
		font-size: 18px;
		text-align: center;
		line-height: 52px;
		margin-bottom: 0;
	}

	.bannertop-head {
		font-size: 20px;
		line-height: 28.9px;
		margin-bottom: 16px;
	}
	.bannertop-para {
		font-size: 14px;
	}
	.numwrap {
		.showcase-num {
			&.line {
				margin-top: 24px;
				margin-bottom: 24px;
			}
		}
	}
	.amplify-wrap {
		margin-top: 50px;
	}
	.amplify-head {
		font-size: 20px;
		margin-bottom: 16px;
	}
	.amplify-para {
		font-size: 14px;
	}
	.numwrap {
		.showcase-num {
			margin-bottom: 24px;
		}
	}
	.sub-section {
		font-size: 18px;
	}
	.num-para {
		font-size: 14px;
	}
	.task-collapse {
		.heading {
			font-size: 16px;
			padding: 20px 50px 20px 0;
			&:before {
				font-size: 2rem;
				top: 30px;
			}
		}
		.contents {
			font-size: 14px;
		}
	}

}



@media all and (max-width: 576px) {
	// Home page Style
	.btn-bannertop {
		.btn {
			width: 100%;
		}
	}
} 