@import './variables/global';


.collectionOne {
  color: $collectionOneColor;
  background: $collectionOneBgFillColor url(../public/collections/collections001/images/body.png) center center;
  background-repeat: repeat;
  background-size: $collectionOneBgAdjustment;
  background-color: $collectionOneBgColor;
  font-family: $collectionOneFontFamily;
}

.collectionFour {
  color: $collectionFourColor;
  // background: $collectionFourBgFillColor url(../public/collections/collections004/images/body.png) center center;
  background-repeat: repeat;
  background-size: $collectionFourBgAdjustment;
  background-color: $collectionFourBgColor;
  font-family: $collectionFourFontFamily;
}

.collectionFive {
  color: $collectionFiveColor;
  background: $collectionFiveBgFillColor url(../public/collections/collections005/images/body.svg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: $collectionFiveBgAdjustment;
  background-color: $collectionFiveBgColor;
  font-family: $collectionFiveFontFamily;
}



.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* overide slider  */

/*.slick-vertical .slick-prev {
  &:before {
    content: "\f053";
    font-family: "FontAwesome";
  }
}*/

.collectionFour .slick-vertical .slick-prev {
    left:auto; right: -25px;
    margin-top: -30px;
    transform: rotate(90deg);
}
.collectionFour .slick-vertical .slick-next {
    transform: rotate(90deg);
    margin-top: 2px;
}
.collectionSix .slick-vertical .slick-prev {
    left:49.5%; top: 0; 
    margin-top: -30px;
    transform: rotate(90deg);
}
.collectionSix .slick-vertical .slick-next {
    right:49.5%; top:100%; 
    transform: rotate(90deg);
    margin-top: 2px;
}

.collectionSeven .slick-arrow {
   border-radius: 50%;
   &:before, &:after {
     border-radius: 50%; line-height: 1;
     background: #fff; color:#DB2A15;
     font-size: 24px;
   }
}

@media all and (max-width: 767px) {

  .collectionFour .slick-vertical .slick-next,
  .collectionFour .slick-vertical .slick-prev { 
    right: -5px; z-index: 3;
  }

}