
@import '../../../components/profile/profile005/variables';

.tabToggleIcon {
    font-size: $toggleIconFontSize; color: $toggleIconColor;
    margin-bottom: $toggleIconMarginB; font-weight: $toggleIconFontWeight;
    display: inline-block; cursor: pointer;
    width: auto;
}
.navDropdown {
    background: $navDropdownBg; padding: $navDropdownPadding;
    min-width: 350px;
    ul {
        padding: 0; margin: 0;
        display: block;
    }
    a {
        color: $navDropdownItemColor; padding: $navDropdownItemPadding;
        margin-bottom: $navDropdownItemMarginB;
        cursor: pointer;
        width: 100%;
        > span {
            margin-right: .4rem; opacity: 0;
        }
        &[aria-selected="true"], &.active, &:hover {
            > span {
                opacity: 1;
            }
        }
    }
}

.userInfoWrap {
    @include flexbox();
    align-items: center;

    .profileImg {
        width: 18%;
    }
    .userInfo {
        width: 27%; padding: 0 1.5%;
    }
    .userDesc {
        width: 40%;
    }
    .likeWrap {
        width: 15%;
    }
    a {
        &:hover {
            color: $primary;
        }
    }
}
.textRight {
    text-align: right;
}
.backToTop {
    font-size: $backToTopFontSize; cursor: pointer;
    color: $backToTopColor; margin-bottom: .25rem;
    display: inline-block;
    &:hover {
        color: $primary;
    }
}
.profileImg {
    /*text-align: center;*/
    margin-bottom: $profileThumbMarginB;
    margin-top: -90px;
    img {
        display: block; line-height: 1;
        border-radius: $profileImgBorderRadius;
    }
}


.userName {
    font-size: $profileH1FontSize;
    color: $profileH1FontColor;
    font-family: $profileH1FontFamily;
    margin-bottom: $profileH1MarginB;
    white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis;
}
.userMore {
    font-size: $profileH3FontSize;
    color: $profileH2FontColor;
    font-weight: $profileH3FontWeight;
    margin-bottom: .75rem;
}
.userDesc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $userDescFontSize;
    color: $userDescFontColor;
    margin-bottom: $userDescMarginB;
    line-height: 1.9;
}

.btnGroups {
	.btn {

		font-size: 1.5rem;
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}

.likeWrap {
    margin-bottom: $likeWrapMarginB;
}
.statusWrap {
    font-size: $statusWrapFontSize;
    color: $statusWrapColor;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    > span {
        flex: 0 0 50%;
        font-size: 18px;
        max-width: 50%; margin-bottom: .25rem;
        font-size: $likeLableFontSize;
    }
    .num {
        margin: 0 auto 2px auto;
        display: block; font-weight: $likeNumFontWeight;
        font-size: $statusWrapFontSize;
    }
}
.userId {
    transition: all 0.3s;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-bottom: .75rem;
    font-size: $userIdFontSize;
    color: $userIdFontColor;
}
.socialList {
    margin-bottom: $socialListMarginBottom;
    a {
        color: $socialIconsColor;
        font-size: $socialIconsFontSize;
        &:not(:last-child) {
            margin-right: 1rem;
        }
        &:hover {
            color: $primary;
        }
    }
}

.copyTxt {
    margin-left: 1rem; 
}


// Tabs Dssign

.collectionTabsWrapper {
    text-align: center;
}

.nav {
    flex-direction: column;
    
    li {
        position: relative;
        padding: 0 2rem;
        margin-bottom: $tabItemMarginB;
        
        &[aria-selected="true"] {
            button {
                background-color: $tabActiveBgColor;
                border-color: $tabActiveBorderColor;
                color: $tabActiveColor;
            }
            &:before , &:after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                left: 0;
                height: calc(50% - 1px);
                border: 1px solid $TabOutlineColor;
                transition: all .15s ease;
            }
            &:before {
                top: -20px;
                border-bottom-width: 0;
            }
            &:after {
                bottom: -20px;
                border-top-width: 0;
            }
        }
    }
    button {
        width: 100%;
        background-color: $tabItemBgColor;
        border-color: $tabItemBorderColor;
        color: $tabItemColor;
        font-size: $tabItemFontSize;
        
        font-weight: $tabActiveFontWeight;
    
        &:hover {
            background-color: $tabItemHoverBgColor;
            border-color: $tabItemHoverBorderColor;
            color: $tabItemHoverColor;
        }
        
    }
}

.paginationWrap {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $textBgColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $textBgColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; height: 41px;
            border-radius: 4px;
            border: 2px solid $paginationColor;
            color: $paginationColor;
            background-color: $paginationBgColor;
            font-size: $paginationFontSize;
        }
        [aria-selected="true"] {
            background-color: $paginationActiveBgColor;
            a {
                background-color: $paginationActiveBgColor;
            }
        }
    } 
}

// Footer 
.footer {
	padding-top: $footerPaddingT; 
	padding-bottom: $footerPaddingB;
    background-color:$footerBgColor;
    margin-top: $footerMarginT;
    & + div {
        display: none;
    }
}
.footerRow {
    display: flex;
    justify-content: space-between
}
.socialContainer {
    list-style: none;
    margin: 0; padding: 0;
    display: inline-flex;
    align-items: center;
    li {
        &:not(:last-child) {
            border-right: 1px solid $textColor;
            margin-right: 1rem;
            padding-right: 1rem;
        }
    }
 	span {
		margin-right: 1rem;
	}
	a {
        color: $white;
		&:not(:last-child) {
			margin-right: 35px;
		}
	}
}
.copyright {
    display: flex;
    align-items: center
}


@media all and (max-width: 991px) {
    
    .footerRow {
        flex-wrap: wrap;
    }
    .copyright {
        width: 100%; 
    }
    .socialContainer {
        @include flexbox; width: 100%;
        li {
            &:first-child {
                width: 100%; border-right: none;
            } 
            margin-top: .75rem;
        }
    }

    .userInfoWrap {
        .profileImg, .userInfo, .userDesc, .likeWrap {
            width: 100%; margin-bottom: .75rem;
        }
        .profileImg {
            margin-top: 0;
        }
        .socialList {
            margin-bottom: 0;
        }
    }



}