

@import '../variables';



.thumblistWrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 1rem;
}
.container {
    max-width: 1030px;
}
.exhibitionAssetsWrap {
    background: linear-gradient(180deg, #131328 0%, #333253 100%);
    position: relative; padding:3rem 0 1.5rem 0;
    min-width: 100vh; min-height: 100vh;
    color: $textColor;
}



.modeListWrap {
    text-align: center; margin-bottom: 2rem;
    width: 100%;
    .modeList {
        border: 1px solid $white; font-size: $modeFontSize;
        display: inline-block; line-height: 1;
        border-radius: $modeBorderRadius;
    }
    a {
        color: $modeItemColor; padding: 1.1rem 1.5rem;
        display: inline-block; text-align: center;
        line-height: 1; background: $modeItemBgColor;
        text-align: center; min-width: 130px;
        &.active, &:hover {
            background:$modeItemActiveBgColor; color: $modeItemActiveColor;
        }
        &:first-child {
            border-radius: $modeBorderRadius 0 0 $modeBorderRadius;
            margin-left: -1px;
        }
        &:last-child {
            border-radius: 0 $modeBorderRadius  $modeBorderRadius 0;
        }
    }
}

.exbHeadingInfo {
    text-align: center;
}
.title {
    font-size: 2rem; font-weight: normal;
}




.userDesc {
    font-size: $userDescFontSize;
    color: $userDescColor; margin-bottom: $userDescMarginB;
}

.userLogged {
    display: flex; align-items: center;
}


.btnLink {
    border-color: $white;
    color: $white;
    margin-left: 1rem;
    svg {
        margin-right: .3rem; font-size: 99%;
    }
    &:hover {
        background: $white;

    }
}


/*  item list */
.thumbImg {
    line-height: 1;
    img {
        vertical-align: top;
    }
}
.thumbInfo {
    background: linear-gradient(286.7deg, #000000 9.6%, #4C4F54 101%);
    padding: .75rem;
}
.thumbTitlewrap {
    h3 {
        font-size: $font-medium; color: #69E9B8;
        font-weight: 700;
        a {
            color: #69E9B8;
        }
    }

}
.thumbDesc {
    margin-bottom: .1rem; font-size: $font-small;
    font-style: italic;
}

/*  Pagination  */
.paginationWrap {
    margin-top: $paginationMarginT;
    margin-bottom: $paginationMarginB;
    text-align: center;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $paginationActiveBgColor;
                color: $paginationActiveColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $paginationActiveBgColor;
                color: $paginationActiveColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; height: 41px;
            line-height: 39px;
            border-radius: 4px;
            border: 2px solid $paginationColor;
            color: $paginationColor;
            background-color: $paginationBgColor;
            font-size: $paginationFontSize;
        }
        [aria-selected="true"] {
            background-color: $paginationActiveBgColor;
            a {
                background-color: $paginationActiveBgColor;
                color: $paginationActiveColor;
            }
        }
    } 
}

/* Footer  */

.footer {
    padding-bottom: $footerPaddingB; padding-top: $footerPaddingT;
    background-color: $footerBgColor; color: $footerColor;
    margin-top: auto; font-size: $footerFontSize;
    width: 100%; position: sticky; left: 0; bottom: 0; z-index: 1;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    img, svg {
        margin-left: .5rem !important;
    }
}
.copyrightLogo {
    margin-left: .5rem;
}

@media all and (max-width: 767px) {

    

}


@media all and (max-width: 767px) {

    

}