
@import '@/components/profile/profile010/variables'; 


.paginationWrap {
    margin-top: $paginationMarginT;
    margin-bottom: $paginationMarginB;
    text-align: center;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $paginationActiveBgColor;
                color: $paginationActiveColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $paginationActiveBgColor;
                color: $paginationActiveColor;
            }
        }
        .disabled {
            display: none;
        }
        a {
            display: inline-block;
            min-width: 41px; height: 41px;
            padding-left: .5rem; padding-right: .5rem;
            line-height: 39px;
            border-radius: 4px;
            border: 1px solid $paginationBorderColor;
            color: $paginationColor;
            background-color: $paginationBgColor;
            font-size: $paginationFontSize;
        }
        [aria-selected="true"] {
            background-color: $paginationActiveBgColor;
            a {
                background-color: $paginationActiveBgColor;
                color: $paginationActiveColor;
            }
        }
    } 
}
