
@import '../../public/account/variables/colors';
@import '../../public/account/variables/text_link';

$roadmapBg   : #1B1B2F;  

/*  RoadMap  */

.roadMapHeader {
    text-align: center; margin-bottom: 3.5rem;
    color: $gray005;
    h2 {
        text-transform: uppercase; color: $white;
    }
}

.roadmapInner {
    padding:5rem 0 3.4rem 0;
    background: $roadmapBg; color:$gray005;
    position: relative;
}
.roadMapWrap {
    position: absolute; left: .5rem; top: 4.5rem;
}
.roadMapList {
    padding-top: 20px; position: relative;

    &:before {
        position: absolute; 
        left: 0; top: 12px;
        content: "";
        border-top: 2px solid #5F5F6D;
        width: 100%; height: 2px;
    }
}
.roadMapRow {
   display: flex;
   flex-wrap: wrap; 
}

.roadMapCol {
    width: 20%; text-align: center;
    position: relative;
    padding-top: 60px;

    &:before {
        content: ''; position: absolute;
        left: 48%; top: -20px;
        width: 25px;
        height: 25px;
        background-color: #ABABBA;
        border: 4px solid #5C5E70;
        border-radius: 50%;
        z-index: 1;
    }
    h3 {
        font-size: 18px; font-weight: 700;
        margin-bottom: 1.75rem;
    }

    &.active {

        &:before {
            background-color: #ED0677;
            border-color:#3718E7;    
        }
        &:after {
            position: absolute; content: "";
            left: 0; top: -8px; width: 100%;
            height: 1px;
            border-top: 1px solid #ED0677;
        }
        .year {
            color: #ED0677;
        }
    }
}


.monthItem {
    margin-bottom: 1.5rem;
    h4 {
        font-size: 16px; font-weight: 700;
        margin-bottom: .25rem;
    }
}


/*  Footer  */
.footer {
    background: #292A32; padding: .75rem 0;
    color: #FBFBFB;
    a {
        color: #FBFBFB;
        &:hover {
            color: #ED0677;
        }
    }
}
.footerInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footerList {
    margin-bottom: 0; display: flex;
    flex-wrap: wrap;
    li {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}


/* Roadmap */

@media all and (max-width: 767px) {

    .roadMapList {
        padding-top: 0;
        &:before {
            left: 49.75%; top: 0px;
            content: "";
            border-top: none;
            border-left: 2px solid #5F5F6D;
            width: 2px; height: 100%;
        }
    }

    .roadMapCol {
        width: 50%;
        padding-right: 30px;
        padding-top: 0;
        text-align: right;
        padding-bottom: 20px;

        .year {
            text-align: center;
            color: #ED0677; background: rgba(255, 255, 255, 0.6);
            border-radius: 8px; padding: 12px 10px;
            margin-top: -12px; position: relative;

            &:before {
                position: absolute; right: -10px; top: calc(50% - 10px);
                content: "";
                width: 0; 
                height: 0; 
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left:10px solid rgba(255, 255, 255, 0.6);
            }
        }
        &.active {
            &:after {
                display: none;
            }
        }

        &:before {
            content: ''; position: absolute;
            left: calc(100% - 13px); top: -1px;
            width: 25px;
            height: 25px;
            background-color: #ABABBA;
            border: 4px solid #5C5E70;
            border-radius: 50%;
            z-index: 1;
        }

        &:nth-child(even) {
            padding-top: 80px;
            text-align: left;
            padding-left: 30px;

            &:before { 
                left: -13px; top: 80px;
            }
            .year {
                &:before {
                    position: absolute; left: -10px; top: calc(50% - 10px);
                    content: "";
                    width: 0; 
                    height: 0; 
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right:10px solid rgba(255, 255, 255, 0.6); 
                    border-left: none;           
                }
            }
        }

    }




}


/* Footer */

@media all and (max-width: 767px) { 

    .footerInner {
        text-align: center;
    }
    .copyright , .footerLink {
        width: 100%;
    }
     .copyright {
        order: 2;
     }
    .footerLogo {
        order: 3; width: 100%;
    }
    .footerList {
        display: block;
        li {
            margin: 8px 0; 
            margin-right: 0 !important;
        }
    }

}