
@import '../../public/account/variables/colors';
@import '../../public/account/variables/text_link';




.mainHeader {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}
.logoWrap {
	.menuIcon {
		display: none;
	}
}


.headerList {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	li {
		margin-right: 2rem;
	}
	a {
		color: $darkModetextPrimary;
		display: block;
		padding: 14px 5px;
		/*&:not(.btn) {
			color: #fff;
		}*/
		&:hover, &.active {
			color: #ED0677;
			font-weight: 700;
		}
	}
	.btn {
		background: transparent;
		border-radius: 20px;
		border-width: 2px;
		padding: 15px 20px;
	}
}

@media all and (min-width: 768px) { 

	.closeMenu {
		display: none;
	}

}

@media all and (max-width: 767px) {
	.mainHeader {
		display: block;
	}
	.menuList {
		display: none; background: #1B1B2F;
		padding: 15px; height: 100%; width: 100%;
		position: fixed;
		left: 0;
		top: 0;
		transition: all 0.5s ease-in-out 0s;

		&.active {
			display: block;
		}
	}
	.headerList {
		display: block;
		li {
			margin-bottom: 1rem; margin-right: 0;
		}
	}
	.closeMenu {
		color: #fff; cursor: pointer; text-align: right;
	}
	.logoWrap {
		display: flex; justify-content: space-between;
		align-items: center;
		.menuIcon {
			display: block; color: #fff; font-size: 26px;
			cursor: pointer;
		}
	}
}

