

@import '../variable';

.progress {
    width: 100%; margin: 0 15px;
    height: 9px; 
    border: 1px solid #ABABBA;
    border-radius: 4px; overflow: hidden;
    
}
.progressbar {
    background: $white; padding: 15px 0;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}
 
.progressInner {
    display: flex; align-items: center;
    justify-content: space-between;

}

.backThemename {
    display: inline-flex; align-items: center;
    button {
        margin-right: 1rem;
    }
    h2 {
        font-size: 20px; font-weight: normal;
        margin-bottom: 0.8rem;
        margin-right: 0.5rem;
    }
}
.headerBtnGroup {
    span {
        margin-right: 1rem;
    }
    button {
        &:not(:last-child) {
            margin-right: 1rem;
        }
        svg {
            margin-right: .25rem;
        }
    }
}

.statusButton {
    display: inline-block;
    border-right: 1px solid $border-color;  
    padding-right: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.8rem;
}

@media all and (min-width: 768px) {
    .backThemename {
        h2 {
            margin-right: 0.5rem;
        }
    }
}
@media all and (max-width: 991px) {
    .headerBtnGroup {
        button {
            margin-bottom: 0rem;
        }
    }
    .statusButton {
        margin-bottom: 0.8rem;
    }
}

@media all and (max-width: 767px) {
     .progressInner {
        flex-wrap: wrap;
    }
    .backThemename {
        width: 100%;
    }
}