@import '../../../../components/profile/profile002/variables';

.collectionWraps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $collectionItemGap;
    // padding-top: $collectionPaddingT;
    // padding-bottom: $collectionPaddingB;
    .thumbsItem {
        display: inline-block;
        img {
            display: block;
            width: 100%;
            object-fit: cover;
    
        }
    }    
    .slideDownEffects {
        display: block
    }    
    .thumbsWrap {
        text-align: $collectionItemAlign;
        position: relative;
        overflow: hidden;
        &:hover {
            .thumbsItemContent {
                transition: all 0.3s ease-in-out;
                top: 0;
            }
        }
        a {
            font-size: 0;
        }
    }
    .thumbsContent {
        padding: $collectionItemContentPadding;
        text-align: center;
        p {
            margin-bottom: 0;
        }
    }
}

.thumbsItemContent {
    background: $collectionItemHoverBg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: $collectionItemHoverBg;
    z-index: 2;
    top: -100%;
    left: 0;
    h3 {
        position: absolute;
        top: 50%; width: 100%;
        transform: translateY(-50%);
        text-align: center;
        margin: 0 auto;
        font-size: $profileH3FontSize;
        color: $profileH3FontColor;
    }
}


.wishLike {
	font-size: $thumbWishSize; color: $thumbWishColor;
	margin-bottom: 1rem; text-align: right;
	position: absolute;
	top: 1rem; right: 1rem;
  }
  .dateWish {
	  position: absolute;
	  bottom: 1rem;
	  display: flex;
	  left: 1rem; right: 1rem;
	  align-items: center;
	  justify-content: space-between;
	  svg {
		  vertical-align: middle;
	  }
      span {
          font-weight: bold;
      }
  }

@media all and (max-width:767px) {
    .collectionWraps {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}