
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

$fontHeading:             'Bebas Neue', cursive;
$fontBody:                'Montserrat', sans-serif;


$default       : #3A3A43;
$default-color : $default;
$border        : #EAEAED;
$border-color  : $border;
$color-primary-main:   $default-color;

/*  Setting Varible  */
$headingFontFamily:            $fontHeading; 
$bodyFontFamily:               $fontBody;
$buttonBgColor:                #FFFFFF;
$buttonColor:                  #5F5F6D;
$buttonBorderColor:            #EAEAED;
$buttonBgGredientColor:        #000;

$buttongGredientColor:         #5F5F6D;
$buttonHoverBgColor:                #5F5F6D;
$buttonHovercolor:                  #EAEAED;
$buttonBgHoverGredientColor:        #000;      
$buttongHoverGredientColor:         #5F5F6D;


/* Variable for Collection Thumb component  */

$thumbListMarginB:            .1rem;
$thumbListPadding:            0px;
$thumbListBorderColor:        #000;
$thumbListHoverBorderColor:   transparent;
$thumbListBorderRadius:       16px;

$thumbImgMarginB:             0px;
$thumbImgBorderRadius:        0;
$thumbImgBorderColor:         transparent;
$thumbImgBorderHoverColor:    transparent;

$thumbInfoPadding:            .75rem 1rem;
$thumbInfoColor:              $default-color;
$thumbInfoBgColor:            #FF4755;
$thumbInfoBgHoverColor:       $default-color;
$thumbInfoBorderColor:        transparent;
$thumbInfoHoverBorderColor:   transparent;

$thumbTitleColor:             #000;
$thumbTitleHoverColor:        $default-color;
$thumbTitleSize:              16;
$thumbTitleMarginB:           .25rem;
$thumbTitleFontWeight:        700;

$thumbDescColor:              #FFFFFF;
$thumbDescSize:               14px;
$thumbDescMarginB:            .5rem;
$thumbDateColor:              $default-color;

$thumbChainFontSize:          14px;
$thumbChainFontColor:         $default-color;
$thumbChainMarginB:           16px;

/* Variable for Collection page   */

$pageContentPaddingT:               0px;
$pageContentPaddingB:               0px;

$collectionH1FontSize:             48px;
$collectionH1FontColor:            #3A3A43;
$collectionH1FontFamily:           $headingFontFamily;
$collectionH1FontWeight:           400;
$collectionH1MarginB:              .25rem;
$collectionHeadWrapMarginB:        0rem;

$collectionH2FontSize:             36px;
$collectionH2FontColor:            $default-color;
$collectionH2FontFamily:           $headingFontFamily;
$collectionH2FontWeight:           700;
$collectionH2MarginB:              .25rem;

$collectionH3FontSize:             20px;
$collectionH3FontColor:            #FFFFFF;
$collectionH3FontFamily:           $headingFontFamily;
$collectionH3FontWeight:           400;
$collectionH3MarginB:              0.625rem;

$collectionH4FontSize:             18px;
$collectionH4FontColor:            $default-color;
$collectionH4FontFamily:           $headingFontFamily;
$collectionH4FontWeight:           400;
$collectionH4MarginB:              0.625rem;

$collectionH5FontSize:             36px;
$collectionH5FontColor:            $default-color;
$collectionH5FontFamily:           $headingFontFamily;
$collectionH5FontWeight:           400;
$collectionH5MarginB:              0.625rem;

$collectionH6FontSize:             18px;
$collectionH6FontColor:            #C4C4C4;
$collectionH6FontFamily:           $headingFontFamily;
$collectionH6FontWeight:           normal;
$collectionH6MarginB:              0.625rem;

$collectionTopBorderColor:         #000;
$collectionBootomPaddingT:         1.25rem;
$collectionBootomMarginT:          22px;
$collectionBootomPaddingB:         22px;
$collectionBootomMarginB:          1.75rem;

$socialLabelFontSize:              14px;
$socialIconColor:                  #000;
$socialIconHoverColor:             $primary;
$socialFontSize:                   16px;

$userDescFontSize:                 14px;
$userDescColor:                    #3A3A43;
$userDescMarginB:                  14px;

$userTitleFontSize:                14px;
$userTitleColor:                   #000;
$userTitleFontWeight:              normal;
$userTitleMarginB:                 0rem;

$userImgMarginB:                    0rem;
$userImgBorderRadius:               0px;
$viewLinkFontSize:                  13px;
$viewLinkColor:                     #000;

$footerPaddingT:                    15px;
$footerPaddingB:                    15px;
$footerMarginT:                     15px;
$footerBgColor:                     #FFFFFF;
$footerColor:                       #000;
$footerFontSize:                    12px;
 
