

@import './variables';


.collectionWrap {
    /*background-color: #FFD400;*/
    padding-top: $pageContentPaddingT;
    padding-bottom: $pageContentPaddingB;
    font-family: $fontBody;
}
.collectionTop {
    padding-bottom: $collectionBootomPaddingB;
    padding-top: $collectionBootomMarginT;
}
.headSocial {
    text-align: right;
    a {
        margin: 0 .75rem .5rem 0;
        font-size: $socialFontSize;
        color: $socialIconColor;
        &:hover, &:active {
            color: $socialIconHoverColor;
        }
    }
}
.socialLabel {
    font-size: $socialLabelFontSize;
    margin-right: .75rem;
    color: $default;
}
.headWrap {
    margin-bottom: $collectionHeadWrapMarginB;
    h1 {
        font-size: $collectionH1FontSize; color: $collectionH1FontColor;
        font-weight: $collectionH1FontWeight; margin-bottom: $collectionH1MarginB;
        font-family: $fontHeading;
    }
    h6 {
        color: $collectionH6FontColor;
        font-size: $collectionH6FontSize;
    }
}

.thumbDescWrap {
    h3 {
        font-size: $collectionH3FontSize;
        color: $collectionH3FontColor;
        font-family: $collectionH3FontFamily;
        font-weight: $collectionH3FontWeight;
        margin-bottom: $collectionH3MarginB;
    }
    p {
        color: $thumbDescColor;
        font-size: $thumbDescSize;
        margin-bottom: $thumbDescMarginB;
    }
}

.bannerImg {
    position: relative;
   
}

.userImg {
    margin-bottom: $userImgMarginB;
    .profileImg {
        border-radius: $userImgBorderRadius; 
    }
    img {
        line-height: 1;
    }
}
.userDesc {
    font-size: $userDescFontSize; color: $userDescColor;
    margin-bottom: $userDescMarginB;
}

.assetsAll {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(12rem,1fr));
    gap: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
}
.thumbsWrapAll {
    color: inherit;
    cursor: pointer;
    height: 323px;
    min-height: 323px;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}
.front,
.back {
    display: flex;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.front {
    background-size: cover;
    overflow: hidden;
}
// .front:before {
//     position: absolute;
//     display: block;
//     content: "";
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: #3A3A43;
//     opacity: 0.25;
//     z-index: -1;
// }
.thumbsWrapAll:hover .front {
    transform: rotateY(180deg);
}
.thumbsWrapAll:nth-child(even):hover .front {
    transform: rotateY(-180deg);
}

.back {
    background: #3A3A43;
    transform: rotateY(-180deg);
    padding: 0 1em;
    font-size: 1.5rem;
    color: $white;
}
.thumbsWrapAll:hover .back {
    transform: rotateY(0deg);
}
.thumbsWrapAll:nth-child(even) .back {
    transform: rotateY(180deg);
}

.thumbsWrapAll:nth-child(even):hover .back {
    transform: rotateY(0deg);
}

.profileWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userImg {
    margin-right: 8px;
    .profileImg {
        width: 48px; height: 48px;
        border-radius: 48px;
        border-radius: $userImgBorderRadius; 
    }
    img {
        line-height: 1;
    }
}
.userLogged {
    display: flex;
    align-items: center;
}
.likesCount {
    text-align: center;
    color: $default;
}
.userInfo {
    h4 {
        font-size: $userTitleFontSize; color: $userTitleColor;
        margin-bottom: $userTitleMarginB;
        font-weight: $userTitleFontWeight;
        font-family: $fontHeading;
    }
    
}
.viewLink {
    font-size: $viewLinkFontSize; color: $viewLinkColor;
    a {
        color:$viewLinkColor;
        text-decoration: underline;
        font-size: $viewLinkFontSize;
    }
}

.profileLike {
    padding-top: 47px;
    padding-bottom: 32px;
}

.fixIcons {
    position: fixed; right: 30px;
    z-index: 1; bottom: 100px;
}

.btnIcons {
    background-color: $buttonBgColor;
    color: $buttonColor;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    border: 2px solid $buttonBorderColor;
    &:hover, &:active {
        background-color: $buttonHoverBgColor;
        color: $buttonHovercolor;
    }
}

/* Footer  */

.footer {
    padding-bottom: $footerPaddingB; padding-top: $footerPaddingT;
    background-color: $footerBgColor; color: $footerColor;
    margin-top: $footerMarginT;
}

.profileWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userLogged {
    display: flex; align-items: center;
}
.userInfo {
    h4 {
        font-size: $userTitleFontSize; color: $userTitleColor;
        margin-bottom: $userTitleMarginB;
        font-weight: $userTitleFontWeight;
    }
    
}
.viewLink {
    font-size: $viewLinkFontSize; color: $viewLinkColor;
    a {
        color:$viewLinkColor;
    }
}

.profileLike {
    margin-top: 10px;
    margin-bottom: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyrightLogo {
    margin-left: .5rem;
    margin-right: .5rem;
    display: inline-block;
}



.btnWrap {
    text-align: center;
    .prevBtn, .nextBtn {
        background-color: $buttonBgColor;
        color: $buttonColor;
        padding: 12px 80px 12px 80px;
        border-radius: 4px;
        border: 2px solid $buttonBorderColor;
        &:hover, &:active {
        background-color: $buttonHoverBgColor;
        color: $buttonHovercolor;
        }
    }
}

@media all and (min-width: 768px) {
    .customImg {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
      }
      
      .bannerImg {
        width: 100%;
        height: 100%;
      }
      .bannerImg > div {
        //position: unset !important;
      }

}

@media all and (max-width: 992px) {
    .assetsAll {
        display: grid;
        grid-template-columns: repeat(3, minmax(2rem, 1fr));
        gap: 1rem;
    }
    .thumbsWrapAll {
        min-height: 200px;
        height: 200px;
    }

}
@media all and (max-width: 767px) {
    .bannerImg {
        height: 600px;
      }
}



@media all and (max-width: 450px) {
    .assetsAll {
        display: grid;
        grid-template-columns: repeat(2, minmax(2rem, 1fr));
    }
}
