// $titleColor : #3A3A43;
// $textColor: #5F5F6D;
// $bgColor:       #FFD400;
// $borderColor:   #3A3A43;
///////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

$fontHeading:             'VT323', monospace;
$fontBody:                'VT323', monospace;

$default       : #3A3A43;
$default-color : #5F5F6D;
$border        : #EAEAED;
$border-color  : $border;
$color-primary-main:   $default-color;

/*  Setting Varible  */
$headingFontFamily:            $fontHeading; 
$bodyFontFamily:               $fontBody;
$buttonBgColor:                #FFFFFF;
$buttonColor:                  #000;
$buttonBorderColor:            #000;

$buttonBgGredientColor:        #000;      
$buttongGredientColor:         #5F5F6D;
$buttonHoverBgColor:           #4a4a50;
$buttonHovercolor:             #fff;
$buttonBgHoverGredientColor:   #000;      
$buttongHoverGredientColor:    #5F5F6D;

$bgColor:                      #566B7E;    
$borderColor:                  #fff;
$textColor:                    #5F5F6D;

/* Variable for Collection Thumb component  */

$thumbListMarginB:            .1rem;
$thumbListPadding:            0px;
$thumbListBorderColor:        #5F5F6D;
$thumbListHoverBorderColor:   transparent;
$thumbListBorderRadius:       16px;

$thumbImgMarginB:             0px;
$thumbImgBorderRadius:        16px 16px 0 0;
$thumbImgBorderColor:         transparent;
$thumbImgBorderHoverColor:    transparent;

$thumbInfoPadding:            8px 12px;
$thumbInfoColor:              $default-color;
$thumbInfoBgColor:            transparent;
$thumbInfoBgHoverColor:       $default-color;
$thumbInfoBorderColor:        transparent;
$thumbInfoHoverBorderColor:   transparent;

$thumbTitleColor:             $default-color;
$thumbTitleHoverColor:        $default-color;
$thumbTitleSize:              23px;
$thumbTitleMarginB:           20px;
$thumbTitleFontWeight:        700;

$thumbDescColor:              $default-color;
$thumbDescSize:               17px;
$thumbDescMarginB:            0;
$thumbDateColor:              $default-color;

$thumbChainFontSize:          14px;
$thumbChainFontColor:         $default-color;
$thumbChainMarginB:           16px;

/* Variable for Collection page   */

$pageContentPaddingT:               30px;
$pageContentPaddingB:               30px;

$collectionH1FontSize:             51px;
$collectionH1FontColor:            $white;
$collectionH1FontFamily:           $headingFontFamily;
$collectionH1FontWeight:           700;
$collectionH1MarginB:              0;

$collectionH2FontSize:             36px;
$collectionH2FontColor:            $default-color;
$collectionH2FontFamily:           $headingFontFamily;
$collectionH2FontWeight:           700;
$collectionH2MarginB:              .25rem;

$collectionH3FontSize:             23px;
$collectionH3FontColor:            $default-color;
$collectionH3FontFamily:           $headingFontFamily;
$collectionH3FontWeight:           700;
$collectionH3MarginB:              .25rem;

$collectionH4FontSize:             18px;
$collectionH4FontColor:            $default-color;
$collectionH4FontFamily:           $headingFontFamily;
$collectionH4FontWeight:           700;
$collectionH4MarginB:              .25rem;

$collectionH5FontSize:             36px;
$collectionH5FontColor:            $default-color;
$collectionH5FontFamily:           $headingFontFamily;
$collectionH5FontWeight:           700;
$collectionH5MarginB:              .25rem;

$collectionH6FontSize:             18px;
$collectionH6FontColor:            $white;
$collectionH6FontFamily:           $headingFontFamily;
$collectionH6FontWeight:           normal;
$collectionH6MarginB:              .25rem;

$socialLabelFontSize:              14px;
$socialIconColor:                  #5F5F6D;
$socialIconHoverColor:             $primary;
$socialFontSize:                   16px;

$userDescFontSize:                 20px;
$userDescColor:                    $white;
$userDescMarginB:                  0px;

$userTitleFontSize:                21px;
$userTitleColor:                   $white;
$userTitleFontWeight:              normal;
$userTitleMarginB:                 4px;

$userImgBorderRadius:               0px;
$viewLinkFontSize:                  17px;
$viewLinkColor:                     $white;

$footerPaddingT:                    15px;
$footerPaddingB:                    20px;
$footerMarginT:                     30px;
$footerBgColor:                     transparent;
$footerColor:                       $white;
$footerFontSize:                    16px;
 
$paginationColor:                   $white;
$paginationBGColor:                 $bgColor;
$paginationBorderColor:             $white;
