
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/text_link';
@import './variables';


.collectionWrap {
    background-color: $bgColor;
    padding-top: 30px;
    padding-bottom: 30px;
}
.collectionTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headWrap {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: $collectionH1FontSize; color: $collectionH1FontColor;
        font-weight: $collectionH1FontWeight; margin-right: .75rem;
    }
    h6 {
        color: $collectionH6FontColor;
        font-size: $collectionH6FontSize;
    }
}

.headSocial {
    display: flex;
    align-items: center;
    color: $white;
    svg {
        color: $white;
        margin-left: 20px;
        &:hover {
            opacity: 0.6;
        }
    }
}
.userDesc {
    color: $userDescColor;
    max-width: 781px;
    font-size: $userDescFontSize;
    margin-bottom: $userDescMarginB;
}

.assetsAll {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
    gap: 1rem;
    padding-top: 60px;
    padding-bottom: 1rem;
}
.thumbsWrapAll {
    color: inherit;
    cursor: pointer;
    height: 150px;
    min-height: 150px;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
}
.front,
.back {
    display: flex;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.front {
    background-size: cover;
    overflow: hidden;
}
.front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: 0.25;
    z-index: -1;
}
.thumbsWrapAll:hover .front {
    transform: rotateY(180deg);
}
.thumbsWrapAll:nth-child(even):hover .front {
    transform: rotateY(-180deg);
}

.back {
    background: #D63257;
    transform: rotateY(-180deg);
    padding: 0 1em;
    font-size: 1.5rem;
    color: $white;
}
.thumbsWrapAll:hover .back {
    transform: rotateY(0deg);
}
.thumbsWrapAll:nth-child(even) .back {
    transform: rotateY(180deg);
}

.thumbsWrapAll:nth-child(even):hover .back {
    transform: rotateY(0deg);
}

.profileWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userImg {
    margin-right: 8px;
    .profileImg {
        width: 48px; height: 48px;
        border-radius: 48px;
        border-radius: $userImgBorderRadius; 
    }
    img {
        line-height: 1;
    }
}
.userLogged {
    display: flex;
    align-items: center;
}
.likesCount {
    text-align: center;
    color: $white;
}
.userInfo {
    h4 {
        font-size: $userTitleFontSize; color: $userTitleColor;
        margin-bottom: $userTitleMarginB;
        font-weight: $userTitleFontWeight;
    }
    
}
.viewLink {
    font-size: $viewLinkFontSize; color: $viewLinkColor;
    a {
        color:$viewLinkColor;
        text-decoration: underline;
        font-size: $viewLinkFontSize;
    }
}

.profileLike {
    padding-top: 47px;
    padding-bottom: 32px;
}
.footer {
    padding-bottom: $footerPaddingB; padding-top: $footerPaddingT;
    background-color: $footerBgColor; color: $footerColor;
    margin-top: $footerMarginT;
}
.footerImg {
    margin: 0 15px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
}

.paginationWrap {
    margin-top: 32px;
    text-align: center;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 32px;
        }
        &:active, &.active {
            a {
                background-color: $paginationBGColor;
                border-color: $paginationBorderColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $paginationBGColor;
                border-color: $paginationBorderColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; line-height: 41px;
            border-radius: 4px;
            color: $paginationColor;
            background-color: transparent;
            border: 2px solid $paginationBorderColor;
        }
        [aria-selected="true"] {
            background-color: $paginationBorderColor;
            border-color: $paginationBorderColor;
            a {
                background-color: $paginationBorderColor;
                border-color: $paginationBorderColor;
            }
        }
    } 
}

.fixIcons {
    position: absolute;
    right: 100px;
}

.btnIcons {
    background-color: $buttonBgColor;
    color: $buttonColor;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    border: 2px solid $borderColor;
    &:hover, &:active {
        background-color: $buttonHoverBgColor;
        color: $buttonHovercolor;
    }
}


@media all and (max-width:767px) {
    .collectionTop {
        flex-wrap: wrap;
    }
    .profileLike {
        padding-top: 50px;
        padding-bottom: 32px;
    }
    .fixIcons {
        right: 30px;
    }
    .userDesc {
        padding-bottom: 50px;
    }
}