@import '../account/variables/colors';

.btnPrimary {
    background-color: $btnPrimaryNormalBG;
    color: $btnPrimaryNormalColor;
    border: 1px solid $lightModeprimaryMain;
    &:hover, &.hover {
        background-color: $btnPrimaryHoverBG;
        color: $btnPrimaryHoverColor;
        border-color: $btnPrimaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnPrimaryClickedBG;
        color: $btnPrimaryClickedColor;
        border-color: $btnPrimaryClickedBorder;
    }
}

.btnPrimaryHover {
    background-color: $btnPrimaryHoverBG;
    color: $btnPrimaryHoverColor;
    border-color: $btnPrimaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnPrimaryHoverBG;
        color: $btnPrimaryHoverColor;
        border-color: $btnPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnPrimaryClickedBG;
        color: $btnPrimaryClickedColor;
        border-color: $btnPrimaryClickedBorder;
    }
}
.btnPrimaryClicked {
    background-color: $btnPrimaryClickedBG;
    color: $btnPrimaryClickedColor;
    border-color: $btnPrimaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnPrimaryHoverBG;
        color: $btnPrimaryHoverColor;
        border-color: $btnPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnPrimaryClickedBG;
        color: $btnPrimaryClickedColor;
        border-color: $btnPrimaryClickedBorder;
    }
}

.btnPrimaryDesaibled {
    background-color: $btnPrimaryDesaibleBG;
    color: $btnPrimaryDesaibleColor;
    border-color: $btnPrimaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnPrimaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnPrimaryDesaibleColor;
    }
}
// Primary OutLine Style
.btnOutlinePrimary {
    background-color: $btnOutlinePrimaryNormalBG;
    color: $btnOutlinePrimaryNormalColor;
    border: 1px solid $btnOutlinePrimaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnOutlinePrimaryHoverBG;
        color: $btnOutlinePrimaryHoverColor;
        border-color: $btnOutlinePrimaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnOutlinePrimaryClickedBG;
        color: $btnOutlinePrimaryClickedColor;
        border-color: $btnOutlinePrimaryClickedBorder;
    }
}

.btnOutlinePrimaryHover {
    background-color: $btnOutlinePrimaryHoverBG;
    color: $btnOutlinePrimaryHoverColor;
    border-color: $btnOutlinePrimaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnOutlinePrimaryHoverBG;
        color: $btnOutlinePrimaryHoverColor;
        border-color: $btnOutlinePrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnOutlinePrimaryClickedBG;
        color: $btnOutlinePrimaryClickedColor;
        border-color: $btnOutlinePrimaryClickedBorder;
    }
}
.btnOutlinePrimaryClicked {
    background-color: $btnOutlinePrimaryClickedBG;
    color: $btnOutlinePrimaryClickedColor;
    border-color: $btnOutlinePrimaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnOutlinePrimaryHoverBG;
        color: $btnOutlinePrimaryClickedColor;
        border-color: $btnOutlinePrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnOutlinePrimaryClickedBG;
        color: $btnOutlinePrimaryClickedColor;
        border-color: $btnOutlinePrimaryClickedBorder;
    }
}

.btnOutlinePrimaryDesaibled {
    background-color: $btnOutlinePrimaryDesaibleBG;
    color: $btnOutlinePrimaryDesaibleColor;
    border-color: $btnOutlinePrimaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnOutlinePrimaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnOutlinePrimaryDesaibleColor;
    }
}
// BTN Text Primary Button
.btnTextPrimary {
    background-color: $btnTextPrimaryNormalBG;
    color: $btnTextPrimaryNormalColor;
    border: 1px solid $btnTextPrimaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnTextPrimaryHoverBG;
        color: $btnTextPrimaryHoverColor;
        border-color: $btnTextPrimaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnTextPrimaryClickedBG;
        color: $btnTextPrimaryClickedColor;
        border-color: $btnTextPrimaryClickedBorder;
    }
}

.btnTextPrimaryHover {
    background-color: $btnTextPrimaryHoverBG;
    color: $btnTextPrimaryHoverColor;
    border-color: $btnTextPrimaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnTextPrimaryHoverBG;
        color: $btnTextPrimaryHoverColor;
        border-color: $btnTextPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnTextPrimaryClickedBG;
        color: $btnTextPrimaryClickedColor;
        border-color: $btnTextPrimaryClickedBorder;
    }
}
.btnTextPrimaryClicked {
    background-color: $btnTextPrimaryClickedBG;
    color: $btnTextPrimaryClickedColor;
    border-color: $btnTextPrimaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnTextPrimaryHoverBG;
        color: $btnTextPrimaryHoverColor;
        border-color: $btnTextPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnTextPrimaryClickedBG;
        color: $btnTextPrimaryClickedColor;
        border-color: $btnTextPrimaryClickedBorder;
    }
}

.btnTextPrimaryDesaibled {
    background-color: $btnTextPrimaryDesaibleBG;
    color: $btnTextPrimaryDesaibleColor;
    border-color: $btnTextPrimaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnTextPrimaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnTextPrimaryDesaibleColor;
    }
}

// BTN Primary with Icons Prefix
.btnIconPrefixPrimary {
    background-color: $btnIconPrefixPrimaryNormalBG;
    color: $btnIconPrefixPrimaryNormalColor;
    border: 1px solid $lightModeprimaryMain;
    &:hover, &.hover {
        background-color: $btnIconPrefixPrimaryHoverBG;
        color: $btnIconPrefixPrimaryHoverColor;
        border-color: $btnIconPrefixPrimaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconPrefixPrimaryClickedBG;
        color: $btnIconPrefixPrimaryClickedColor;
        border-color: $btnIconPrefixPrimaryClickedBorder;
    }
}

.btnIconPrefixPrimaryHover {
    background-color: $btnIconPrefixPrimaryHoverBG;
    color: $btnIconPrefixPrimaryHoverColor;
    border-color: $btnIconPrefixPrimaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixPrimaryHoverBG;
        color: $btnIconPrefixPrimaryHoverColor;
        border-color: $btnIconPrefixPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixPrimaryClickedBG;
        color: $btnIconPrefixPrimaryClickedColor;
        border-color: $btnIconPrefixPrimaryClickedBorder;
    }
}
.btnIconPrefixPrimaryClicked {
    background-color: $btnIconPrefixPrimaryClickedBG;
    color: $btnIconPrefixPrimaryClickedColor;
    border-color: $btnIconPrefixPrimaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixPrimaryHoverBG;
        color: $btnIconPrefixPrimaryHoverColor;
        border-color: $btnIconPrefixPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixPrimaryClickedBG;
        color: $btnIconPrefixPrimaryClickedColor;
        border-color: $btnIconPrefixPrimaryClickedBorder;
    }
}

.btnIconPrefixPrimarysDesaibled {
    background-color: $btnIconPrefixPrimaryDesaibleBG;
    color: $btnIconPrefixPrimaryDesaibleColor;
    border-color: $btnIconPrefixPrimaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconPrefixPrimaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconPrefixPrimaryDesaibleColor;
    }
}

// BTN Primary Outline Prefix Icons
.btnIconPrefixOutlinePrimary {
    background-color: $btnIconPrefixOutlinePrimaryNormalBG;
    color: $btnIconPrefixOutlinePrimaryNormalColor;
    border: 1px solid $lightModeprimaryMain;
    &:hover, &.hover {
        background-color: $btnIconPrefixOutlinePrimaryHoverBG;
        color: $btnIconPrefixOutlinePrimaryHoverColor;
        border-color: $btnIconPrefixOutlinePrimaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconPrefixOutlinePrimaryClickedBG;
        color: $btnIconPrefixOutlinePrimaryClickedColor;
        border-color: $btnIconPrefixOutlinePrimaryClickedBorder;
    }
}

.btnIconPrefixOutlinePrimaryHover {
    background-color: $btnIconPrefixOutlinePrimaryHoverBG;
    color: $btnIconPrefixOutlinePrimaryHoverColor;
    border-color: $btnIconPrefixOutlinePrimaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixOutlinePrimaryHoverBG;
        color: $btnIconPrefixOutlinePrimaryHoverColor;
        border-color: $btnIconPrefixOutlinePrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixOutlinePrimaryClickedBG;
        color: $btnIconPrefixOutlinePrimaryClickedColor;
        border-color: $btnIconPrefixOutlinePrimaryClickedBorder;
    }
}
.btnIconPrefixOutlinePrimaryClicked {
    background-color: $btnIconPrefixOutlinePrimaryClickedBG;
    color: $btnIconPrefixOutlinePrimaryClickedColor;
    border-color: $btnIconPrefixOutlinePrimaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixOutlinePrimaryHoverBG;
        color: $btnIconPrefixOutlinePrimaryHoverColor;
        border-color: $btnIconPrefixOutlinePrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixOutlinePrimaryClickedBG;
        color: $btnIconPrefixOutlinePrimaryClickedColor;
        border-color: $btnIconPrefixOutlinePrimaryClickedBorder;
    }
}

.btnIconPrefixOutlinePrimarysDesaibled {
    background-color: $btnIconPrefixOutlinePrimaryDesaibleBG;
    color: $btnIconPrefixOutlinePrimaryDesaibleColor;
    border-color: $btnIconPrefixOutlinePrimaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconPrefixOutlinePrimaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconPrefixOutlinePrimaryDesaibleColor;
    }
}

// BTN Primary text Icons
.btnIconPrefixTextPrimary {
    background-color: $btnIconPrefixTextPrimaryNormalBG;
    color: $btnIconPrefixTextPrimaryNormalColor;
    border: 1px solid $btnIconPrefixTextPrimaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixTextPrimaryHoverBG;
        color: $btnIconPrefixTextPrimaryHoverColor;
        border-color: $btnIconPrefixTextPrimaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconPrefixTextPrimaryClickedBG;
        color: $btnIconPrefixTextPrimaryClickedColor;
        border-color: $btnIconPrefixTextPrimaryClickedBorder;
    }
}

.btnIconPrefixTextPrimaryHover {
    background-color: $btnIconPrefixTextPrimaryHoverBG;
    color: $btnIconPrefixTextPrimaryHoverColor;
    border-color: $btnIconPrefixTextPrimaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixTextPrimaryHoverBG;
        color: $btnIconPrefixTextPrimaryHoverColor;
        border-color: $btnIconPrefixTextPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixTextPrimaryClickedBG;
        color: $btnIconPrefixTextPrimaryClickedColor;
        border-color: $btnIconPrefixTextPrimaryClickedBorder;
    }
}
.btnIconPrefixTextPrimaryClicked {
    background-color: $btnIconPrefixTextPrimaryClickedBG;
    color: $btnIconPrefixTextPrimaryClickedColor;
    border-color: $btnIconPrefixTextPrimaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixTextPrimaryHoverBG;
        color: $btnIconPrefixTextPrimaryHoverColor;
        border-color: $btnIconPrefixTextPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixTextPrimaryClickedBG;
        color: $btnIconPrefixTextPrimaryClickedColor;
        border-color: $btnIconPrefixTextPrimaryClickedBorder;
    }
}

.btnIconPrefixTextPrimarysDesaibled {
    background-color: $btnIconPrefixTextPrimaryDesaibleBG;
    color: $btnIconPrefixTextPrimaryDesaibleColor;
    border-color: $btnIconPrefixTextPrimaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconPrefixTextPrimaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconPrefixTextPrimaryDesaibleColor;
    }
}

// BTN Primary Icons Suffix
.btnIconSuffixPrimary {
    background-color: $btnIconSuffixPrimaryNormalBG;
    color: $btnIconSuffixPrimaryNormalColor;
    border: 1px solid $lightModeprimaryMain;
    &:hover, &.hover {
        background-color: $btnIconSuffixPrimaryHoverBG;
        color: $btnIconSuffixPrimaryHoverColor;
        border-color: $btnIconSuffixPrimaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconSuffixPrimaryClickedBG;
        color: $btnIconSuffixPrimaryClickedColor;
        border-color: $btnIconSuffixPrimaryClickedBorder;
    }
}

.btnIconSuffixPrimaryHover {
    background-color: $btnIconSuffixPrimaryHoverBG;
    color: $btnIconSuffixPrimaryHoverColor;
    border-color: $btnIconSuffixPrimaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixPrimaryHoverBG;
        color: $btnIconSuffixPrimaryHoverColor;
        border-color: $btnIconSuffixPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixPrimaryClickedBG;
        color: $btnIconSuffixPrimaryClickedColor;
        border-color: $btnIconSuffixPrimaryClickedBorder;
    }
}
.btnIconSuffixPrimaryClicked {
    background-color: $btnIconSuffixPrimaryClickedBG;
    color: $btnIconSuffixPrimaryClickedColor;
    border-color: $btnIconSuffixPrimaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixPrimaryHoverBG;
        color: $btnIconSuffixPrimaryHoverColor;
        border-color: $btnIconSuffixPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixPrimaryClickedBG;
        color: $btnIconSuffixPrimaryClickedColor;
        border-color: $btnIconSuffixPrimaryClickedBorder;
    }
}

.btnIconSuffixPrimarysDesaibled {
    background-color: $btnIconSuffixPrimaryDesaibleBG;
    color: $btnIconSuffixPrimaryDesaibleColor;
    border-color: $btnIconSuffixPrimaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconSuffixPrimaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconSuffixPrimaryDesaibleColor;
    }
}

// BTN Primary Outline Suffix Icons
.btnIconSuffixOutlinePrimary {
    background-color: $btnIconSuffixOutlinePrimaryNormalBG;
    color: $btnIconSuffixOutlinePrimaryNormalColor;
    border: 1px solid $btnIconSuffixOutlinePrimaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixOutlinePrimaryHoverBG;
        color: $btnIconSuffixOutlinePrimaryHoverColor;
        border-color: $btnIconSuffixOutlinePrimaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconSuffixOutlinePrimaryClickedBG;
        color: $btnIconSuffixOutlinePrimaryClickedColor;
        border-color: $btnIconSuffixOutlinePrimaryClickedBorder;
    }
}

.btnIconSuffixOutlinePrimaryHover {
    background-color: $btnIconSuffixOutlinePrimaryHoverBG;
    color: $btnIconSuffixOutlinePrimaryHoverColor;
    border-color: $btnIconSuffixOutlinePrimaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixOutlinePrimaryHoverBG;
        color: $btnIconSuffixOutlinePrimaryHoverColor;
        border-color: $btnIconSuffixOutlinePrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixOutlinePrimaryClickedBG;
        color: $btnIconSuffixOutlinePrimaryClickedColor;
        border-color: $btnIconSuffixOutlinePrimaryClickedBorder;
    }
}
.btnIconSuffixOutlinePrimaryClicked {
    background-color: $btnIconSuffixOutlinePrimaryClickedBG;
    color: $btnIconSuffixOutlinePrimaryClickedColor;
    border-color: $btnIconSuffixOutlinePrimaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixOutlinePrimaryHoverBG;
        color: $btnIconSuffixOutlinePrimaryHoverColor;
        border-color: $btnIconSuffixOutlinePrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixOutlinePrimaryClickedBG;
        color: $btnIconSuffixOutlinePrimaryClickedColor;
        border-color: $btnIconSuffixOutlinePrimaryClickedBorder;
    }
}

.btnIconSuffixOutlinePrimarysDesaibled {
    background-color: $btnIconSuffixOutlinePrimaryDesaibleBG;
    color: $btnIconSuffixOutlinePrimaryDesaibleColor;
    border-color: $btnIconSuffixOutlinePrimaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconSuffixOutlinePrimaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconSuffixOutlinePrimaryDesaibleColor;
    }
}

// BTN Primary text Icons
.btnIconSuffixTextPrimary {
    background-color: $btnIconSuffixTextPrimaryNormalBG;
    color: $btnIconSuffixTextPrimaryNormalColor;
    border: 1px solid $btnIconSuffixTextPrimaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixTextPrimaryHoverBG;
        color: $btnIconSuffixTextPrimaryHoverColor;
        border-color: $btnIconSuffixTextPrimaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconSuffixTextPrimaryClickedBG;
        color: $btnIconSuffixTextPrimaryClickedColor;
        border-color: $btnIconSuffixTextPrimaryClickedBorder;
    }
}

.btnIconSuffixTextPrimaryHover {
    background-color: $btnIconSuffixTextPrimaryHoverBG;
    color: $btnIconSuffixTextPrimaryHoverColor;
    border-color: $btnIconSuffixTextPrimaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixTextPrimaryHoverBG;
        color: $btnIconSuffixTextPrimaryHoverColor;
        border-color: $btnIconSuffixTextPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixTextPrimaryClickedBG;
        color: $btnIconSuffixTextPrimaryClickedColor;
        border-color: $btnIconSuffixTextPrimaryClickedBorder;
    }
}
.btnIconSuffixTextPrimaryClicked {
    background-color: $btnIconSuffixTextPrimaryClickedBG;
    color: $btnIconSuffixTextPrimaryClickedColor;
    border-color: $btnIconSuffixTextPrimaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixTextPrimaryHoverBG;
        color: $btnIconSuffixTextPrimaryHoverColor;
        border-color: $btnIconSuffixTextPrimaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixTextPrimaryClickedBG;
        color: $btnIconSuffixTextPrimaryClickedColor;
        border-color: $btnIconSuffixTextPrimaryClickedBorder;
    }
}

.btnIconSuffixTextPrimarysDesaibled {
    background-color: $btnIconSuffixTextPrimaryDesaibleBG;
    color: $btnIconSuffixTextPrimaryDesaibleColor;
    border-color: $btnIconSuffixTextPrimaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconSuffixTextPrimaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconSuffixTextPrimaryDesaibleColor;
    }
}


////// BTNs Secondary Styles
.btnSecondary {
    background-color: $btnSecondaryNormalBG;
    color: $btnSecondaryNormalColor;
    border: 1px solid $lightModesecondaryMain;
    &:hover, &.hover {
        background-color: $btnSecondaryHoverBG;
        color: $btnSecondaryHoverColor;
        border-color: $btnSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnSecondaryClickedBG;
        color: $btnSecondaryClickedColor;
        border-color: $btnSecondaryClickedBorder;
    }
}

.btnSecondaryHover {
    background-color: $btnSecondaryHoverBG;
    color: $btnSecondaryHoverColor;
    border-color: $btnSecondaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnSecondaryHoverBG;
        color: $btnSecondaryHoverColor;
        border-color: $btnSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnSecondaryClickedBG;
        color: $btnSecondaryClickedColor;
        border-color: $btnSecondaryClickedBorder;
    }
}
.btnSecondaryClicked {
    background-color: $btnSecondaryClickedBG;
    color: $btnSecondaryClickedColor;
    border-color: $btnSecondaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnSecondaryHoverBG;
        color: $btnSecondaryHoverColor;
        border-color: $btnSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnSecondaryClickedBG;
        color: $btnSecondaryClickedColor;
        border-color: $btnSecondaryClickedBorder;
    }
}

.btnSecondarysDesaibled {
    background-color: $btnSecondaryDesaibleBG;
    color: $btnSecondaryDesaibleColor;
    border-color: $btnSecondaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnSecondaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnSecondaryDesaibleColor;
    }
}
// Secondary OutLine Style
.btnOutlineSecondary {
    background-color: $btnOutlineSecondaryNormalBG;
    color: $btnOutlineSecondaryNormalColor;
    border: 1px solid $btnOutlineSecondaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnOutlineSecondaryHoverBG;
        color: $btnOutlineSecondaryHoverColor;
        border-color: $btnOutlineSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnOutlineSecondaryClickedBG;
        color: $btnOutlineSecondaryClickedColor;
        border-color: $btnOutlineSecondaryClickedBorder;
    }
}

.btnOutlineSecondaryHover {
    background-color: $btnOutlineSecondaryHoverBG;
    color: $btnOutlineSecondaryHoverColor;
    border-color: $btnOutlineSecondaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnOutlineSecondaryHoverBG;
        color: $btnOutlineSecondaryHoverColor;
        border-color: $btnOutlineSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnOutlineSecondaryClickedBG;
        color: $btnOutlineSecondaryClickedColor;
        border-color: $btnOutlineSecondaryClickedBorder;
    }
}
.btnOutlineSecondaryClicked {
    background-color: $btnOutlineSecondaryClickedBG;
    color: $btnOutlineSecondaryClickedColor;
    border-color: $btnOutlineSecondaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnOutlineSecondaryHoverBG;
        color: $btnOutlineSecondaryClickedColor;
        border-color: $btnOutlineSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnOutlineSecondaryClickedBG;
        color: $btnOutlineSecondaryClickedColor;
        border-color: $btnOutlineSecondaryClickedBorder;
    }
}

.btnOutlineSecondaryDesaibled {
    background-color: $btnOutlineSecondaryDesaibleBG;
    color: $btnOutlineSecondaryDesaibleColor;
    border-color: $btnOutlineSecondaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnOutlineSecondaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnOutlineSecondaryDesaibleColor;
    }
}
// BTN Text Secondary Button
.btnTextSecondary {
    background-color: $btnTextSecondaryNormalBG;
    color: $btnTextSecondaryNormalColor;
    border: 1px solid $btnTextSecondaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnTextSecondaryHoverBG;
        color: $btnTextSecondaryHoverColor;
        border-color: $btnTextSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnTextSecondaryClickedBG;
        color: $btnTextSecondaryClickedColor;
        border-color: $btnTextSecondaryClickedBorder;
    }
}

.btnTextSecondaryHover {
    background-color: $btnTextSecondaryHoverBG;
    color: $btnTextSecondaryHoverColor;
    border-color: $btnTextSecondaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnTextSecondaryHoverBG;
        color: $btnTextSecondaryHoverColor;
        border-color: $btnTextSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnTextSecondaryClickedBG;
        color: $btnTextSecondaryClickedColor;
        border-color: $btnTextSecondaryClickedBorder;
    }
}
.btnTextSecondaryClicked {
    background-color: $btnTextSecondaryClickedBG;
    color: $btnTextSecondaryClickedColor;
    border-color: $btnTextSecondaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnTextSecondaryHoverBG;
        color: $btnTextSecondaryHoverColor;
        border-color: $btnTextSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnTextSecondaryClickedBG;
        color: $btnTextSecondaryClickedColor;
        border-color: $btnTextSecondaryClickedBorder;
    }
}

.btnTextSecondaryDesaibled {
    background-color: $btnTextSecondaryDesaibleBG;
    color: $btnTextSecondaryDesaibleColor;
    border-color: $btnTextSecondaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnTextSecondaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnTextSecondaryDesaibleColor;
    }
}

// BTN Secondary with Icons Prefix
.btnIconPrefixSecondary {
    background-color: $btnIconPrefixSecondaryNormalBG;
    color: $btnIconPrefixSecondaryNormalColor;
    border: 1px solid $lightModesecondaryMain;
    &:hover, &.hover {
        background-color: $btnIconPrefixSecondaryHoverBG;
        color: $btnIconPrefixSecondaryHoverColor;
        border-color: $btnIconPrefixSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconPrefixSecondaryClickedBG;
        color: $btnIconPrefixSecondaryClickedColor;
        border-color: $btnIconPrefixSecondaryClickedBorder;
    }
}

.btnIconPrefixSecondaryHover {
    background-color: $btnIconPrefixSecondaryHoverBG;
    color: $btnIconPrefixSecondaryHoverColor;
    border-color: $btnIconPrefixSecondaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixSecondaryHoverBG;
        color: $btnIconPrefixSecondaryHoverColor;
        border-color: $btnIconPrefixSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixSecondaryClickedBG;
        color: $btnIconPrefixSecondaryClickedColor;
        border-color: $btnIconPrefixSecondaryClickedBorder;
    }
}
.btnIconPrefixSecondaryClicked {
    background-color: $btnIconPrefixSecondaryClickedBG;
    color: $btnIconPrefixSecondaryClickedColor;
    border-color: $btnIconPrefixSecondaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixSecondaryHoverBG;
        color: $btnIconPrefixSecondaryHoverColor;
        border-color: $btnIconPrefixSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixSecondaryClickedBG;
        color: $btnIconPrefixSecondaryClickedColor;
        border-color: $btnIconPrefixSecondaryClickedBorder;
    }
}

.btnIconPrefixSecondarysDesaibled {
    background-color: $btnIconPrefixSecondaryDesaibleBG;
    color: $btnIconPrefixSecondaryDesaibleColor;
    border-color: $btnIconPrefixSecondaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconPrefixSecondaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconPrefixSecondaryDesaibleColor;
    }
}

// BTN Secondary Outline Prefix Icons
.btnIconPrefixOutlineSecondary {
    background-color: $btnIconPrefixOutlineSecondaryNormalBG;
    color: $btnIconPrefixOutlineSecondaryNormalColor;
    border: 1px solid $btnIconPrefixOutlineSecondaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixOutlineSecondaryHoverBG;
        color: $btnIconPrefixOutlineSecondaryHoverColor;
        border-color: $btnIconPrefixOutlineSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconPrefixOutlineSecondaryClickedBG;
        color: $btnIconPrefixOutlineSecondaryClickedColor;
        border-color: $btnIconPrefixOutlineSecondaryClickedBorder;
    }
}

.btnIconPrefixOutlineSecondaryHover {
    background-color: $btnIconPrefixOutlineSecondaryHoverBG;
    color: $btnIconPrefixOutlineSecondaryHoverColor;
    border-color: $btnIconPrefixOutlineSecondaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixOutlineSecondaryHoverBG;
        color: $btnIconPrefixOutlineSecondaryHoverColor;
        border-color: $btnIconPrefixOutlineSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixOutlineSecondaryClickedBG;
        color: $btnIconPrefixOutlineSecondaryClickedColor;
        border-color: $btnIconPrefixOutlineSecondaryClickedBorder;
    }
}
.btnIconPrefixOutlineSecondaryClicked {
    background-color: $btnIconPrefixOutlineSecondaryClickedBG;
    color: $btnIconPrefixOutlineSecondaryClickedColor;
    border-color: $btnIconPrefixOutlineSecondaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixOutlineSecondaryHoverBG;
        color: $btnIconPrefixOutlineSecondaryHoverColor;
        border-color: $btnIconPrefixOutlineSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixOutlineSecondaryClickedBG;
        color: $btnIconPrefixOutlineSecondaryClickedColor;
        border-color: $btnIconPrefixOutlineSecondaryClickedBorder;
    }
}

.btnIconPrefixOutlineSecondarysDesaibled {
    background-color: $btnIconPrefixOutlineSecondaryDesaibleBG;
    color: $btnIconPrefixOutlineSecondaryDesaibleColor;
    border-color: $btnIconPrefixOutlineSecondaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        background-color: $btnIconPrefixOutlineSecondaryClickedBG;
        color: $btnIconPrefixOutlineSecondaryDesaibleColor;
        border-color: $btnIconPrefixOutlineSecondaryClickedBorder;
    }
    &:active, &.active {
        cursor: not-allowed;
        background-color: $btnIconPrefixOutlineSecondaryClickedBG;
        color: $btnIconPrefixOutlineSecondaryDesaibleColor;
        border-color: $btnIconPrefixOutlineSecondaryClickedBorder;
    }
}

// BTN Secondary text Icons
.btnIconPrefixTextSecondary {
    background-color: $btnIconPrefixTextSecondaryNormalBG;
    color: $btnIconPrefixTextSecondaryNormalColor;
    border: 1px solid $btnIconPrefixTextSecondaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixTextSecondaryHoverBG;
        color: $btnIconPrefixTextSecondaryHoverColor;
        border-color: $btnIconPrefixTextSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconPrefixTextSecondaryClickedBG;
        color: $btnIconPrefixTextSecondaryClickedColor;
        border-color: $btnIconPrefixTextSecondaryClickedBorder;
    }
}

.btnIconPrefixTextSecondaryHover {
    background-color: $btnIconPrefixTextSecondaryHoverBG;
    color: $btnIconPrefixTextSecondaryHoverColor;
    border-color: $btnIconPrefixTextSecondaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixTextSecondaryHoverBG;
        color: $btnIconPrefixTextSecondaryHoverColor;
        border-color: $btnIconPrefixTextSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixTextSecondaryClickedBG;
        color: $btnIconPrefixTextSecondaryClickedColor;
        border-color: $btnIconPrefixTextSecondaryClickedBorder;
    }
}
.btnIconPrefixTextSecondaryClicked {
    background-color: $btnIconPrefixTextSecondaryClickedBG;
    color: $btnIconPrefixTextSecondaryClickedColor;
    border-color: $btnIconPrefixTextSecondaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixTextSecondaryHoverBG;
        color: $btnIconPrefixTextSecondaryHoverColor;
        border-color: $btnIconPrefixTextSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixTextSecondaryClickedBG;
        color: $btnIconPrefixTextSecondaryClickedColor;
        border-color: $btnIconPrefixTextSecondaryClickedBorder;
    }
}

.btnIconPrefixTextSecondarysDesaibled {
    background-color: $btnIconPrefixTextSecondaryDesaibleBG;
    color: $btnIconPrefixTextSecondaryDesaibleColor;
    border-color: $btnIconPrefixTextSecondaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconPrefixTextSecondaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconPrefixTextSecondaryDesaibleColor;
    }
}

// BTN Secondary Icons Suffix
.btnIconSuffixSecondary {
    background-color: $btnIconSuffixSecondaryNormalBG;
    color: $btnIconSuffixSecondaryNormalColor;
    border: 1px solid $lightModesecondaryMain;
    &:hover, &.hover {
        background-color: $btnIconSuffixSecondaryHoverBG;
        color: $btnIconSuffixSecondaryHoverColor;
        border-color: $btnIconSuffixSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconSuffixSecondaryClickedBG;
        color: $btnIconSuffixSecondaryClickedColor;
        border-color: $btnIconSuffixSecondaryClickedBorder;
    }
}

.btnIconSuffixSecondaryHover {
    background-color: $btnIconSuffixSecondaryHoverBG;
    color: $btnIconSuffixSecondaryHoverColor;
    border-color: $btnIconSuffixSecondaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixSecondaryHoverBG;
        color: $btnIconSuffixSecondaryHoverColor;
        border-color: $btnIconSuffixSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixSecondaryClickedBG;
        color: $btnIconSuffixSecondaryClickedColor;
        border-color: $btnIconSuffixSecondaryClickedBorder;
    }
}
.btnIconSuffixSecondaryClicked {
    background-color: $btnIconSuffixSecondaryClickedBG;
    color: $btnIconSuffixSecondaryClickedColor;
    border-color: $btnIconSuffixSecondaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixSecondaryHoverBG;
        color: $btnIconSuffixSecondaryHoverColor;
        border-color: $btnIconSuffixSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixSecondaryClickedBG;
        color: $btnIconSuffixSecondaryClickedColor;
        border-color: $btnIconSuffixSecondaryClickedBorder;
    }
}

.btnIconSuffixSecondarysDesaibled {
    background-color: $btnIconSuffixSecondaryDesaibleBG;
    color: $btnIconSuffixSecondaryDesaibleColor;
    border-color: $btnIconSuffixSecondaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconSuffixSecondaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconSuffixSecondaryDesaibleColor;
    }
}

// BTN Secondary Outline Suffix Icons
.btnIconSuffixOutlineSecondary {
    background-color: $btnIconSuffixOutlineSecondaryNormalBG;
    color: $btnIconSuffixOutlineSecondaryNormalColor;
    border: 1px solid $btnIconSuffixOutlineSecondaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixOutlineSecondaryHoverBG;
        color: $btnIconSuffixOutlineSecondaryHoverColor;
        border-color: $btnIconSuffixOutlineSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconSuffixOutlineSecondaryClickedBG;
        color: $btnIconSuffixOutlineSecondaryClickedColor;
        border-color: $btnIconSuffixOutlineSecondaryClickedBorder;
    }
}

.btnIconSuffixOutlineSecondaryHover {
    background-color: $btnIconSuffixOutlineSecondaryHoverBG;
    color: $btnIconSuffixOutlineSecondaryHoverColor;
    border-color: $btnIconSuffixOutlineSecondaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixOutlineSecondaryHoverBG;
        color: $btnIconSuffixOutlineSecondaryHoverColor;
        border-color: $btnIconSuffixOutlineSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixOutlineSecondaryClickedBG;
        color: $btnIconSuffixOutlineSecondaryClickedColor;
        border-color: $btnIconSuffixOutlineSecondaryClickedBorder;
    }
}
.btnIconSuffixOutlineSecondaryClicked {
    background-color: $btnIconSuffixOutlineSecondaryClickedBG;
    color: $btnIconSuffixOutlineSecondaryClickedColor;
    border-color: $btnIconSuffixOutlineSecondaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixOutlineSecondaryHoverBG;
        color: $btnIconSuffixOutlineSecondaryHoverColor;
        border-color: $btnIconSuffixOutlineSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixOutlineSecondaryClickedBG;
        color: $btnIconSuffixOutlineSecondaryClickedColor;
        border-color: $btnIconSuffixOutlineSecondaryClickedBorder;
    }
}

.btnIconSuffixOutlineSecondarysDesaibled {
    background-color: $btnIconSuffixOutlineSecondaryDesaibleBG;
    color: $btnIconSuffixOutlineSecondaryDesaibleColor;
    border-color: $btnIconSuffixOutlineSecondaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconSuffixOutlineSecondaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconSuffixOutlineSecondaryDesaibleColor;
    }
}

// BTN Secondary text Icons
.btnIconSuffixTextSecondary {
    background-color: $btnIconSuffixTextSecondaryNormalBG;
    color: $btnIconSuffixTextSecondaryNormalColor;
    border: 1px solid $btnIconSuffixTextSecondaryNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixTextSecondaryHoverBG;
        color: $btnIconSuffixTextSecondaryHoverColor;
        border-color: $btnIconSuffixTextSecondaryHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconSuffixTextSecondaryClickedBG;
        color: $btnIconSuffixTextSecondaryClickedColor;
        border-color: $btnIconSuffixTextSecondaryClickedBorder;
    }
}

.btnIconSuffixTextSecondaryHover {
    background-color: $btnIconSuffixTextSecondaryHoverBG;
    color: $btnIconSuffixTextSecondaryHoverColor;
    border-color: $btnIconSuffixTextSecondaryHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixTextSecondaryHoverBG;
        color: $btnIconSuffixTextSecondaryHoverColor;
        border-color: $btnIconSuffixTextSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixTextSecondaryClickedBG;
        color: $btnIconSuffixTextSecondaryClickedColor;
        border-color: $btnIconSuffixTextSecondaryClickedBorder;
    }
}
.btnIconSuffixTextSecondaryClicked {
    background-color: $btnIconSuffixTextSecondaryClickedBG;
    color: $btnIconSuffixTextSecondaryClickedColor;
    border-color: $btnIconSuffixTextSecondaryClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixTextSecondaryHoverBG;
        color: $btnIconSuffixTextSecondaryHoverColor;
        border-color: $btnIconSuffixTextSecondaryHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixTextSecondaryClickedBG;
        color: $btnIconSuffixTextSecondaryClickedColor;
        border-color: $btnIconSuffixTextSecondaryClickedBorder;
    }
}

.btnIconSuffixTextSecondarysDesaibled {
    background-color: $btnIconSuffixTextSecondaryDesaibleBG;
    color: $btnIconSuffixTextSecondaryDesaibleColor;
    border-color: $btnIconSuffixTextSecondaryDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconSuffixTextSecondaryDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconSuffixTextSecondaryDesaibleColor;
    }
}


////// BTNs Danger Styles
.btnDanger {
    background-color: $btnDangerNormalBG;
    color: $btnDangerNormalColor;
    border: 1px solid $btnDangerNormalBorder;
    &:hover, &.hover {
        background-color: $btnDangerHoverBG;
        color: $btnDangerHoverColor;
        border-color: $btnDangerHoverBorder;
    }
    &:active, &.active {
        background-color: $btnDangerClickedBG;
        color: $btnDangerClickedColor;
        border-color: $btnDangerClickedBorder;
    }
}

.btnDangerHover {
    background-color: $btnDangerHoverBG;
    color: $btnDangerHoverColor;
    border-color: $btnDangerHoverBorder;
    &:hover, &.hover {
        background-color: $btnDangerHoverBG;
        color: $btnDangerHoverColor;
        border-color: $btnDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnDangerClickedBG;
        color: $btnDangerClickedColor;
        border-color: $btnDangerClickedBorder;
    }
}
.btnDangerClicked {
    background-color: $btnDangerClickedBG;
    color: $btnDangerClickedColor;
    border-color: $btnDangerClickedBorder;
    &:hover, &.hover {
        background-color: $btnDangerHoverBG;
        color: $btnDangerHoverColor;
        border-color: $btnDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnDangerClickedBG;
        color: $btnDangerClickedColor;
        border-color: $btnDangerClickedBorder;
    }
}

.btnDangerDesaibled {
    background-color: $btnDangerDesaibleBG;
    color: $btnDangerDesaibleColor;
    border-color: $btnDangerDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnDangerDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnDangerDesaibleColor;
    }
}
// Danger OutLine Style
.btnOutlineDanger {
    background-color: $btnOutlineDangerNormalBG;
    color: $btnOutlineDangerNormalColor;
    border: 1px solid $btnOutlineDangerNormalBorder;
    &:hover, &.hover {
        background-color: $btnOutlineDangerHoverBG;
        color: $btnOutlineDangerHoverColor;
        border-color: $btnOutlineDangerHoverBorder;
    }
    &:active, &.active {
        background-color: $btnOutlineDangerClickedBG;
        color: $btnOutlineDangerClickedColor;
        border-color: $btnOutlineDangerClickedBorder;
    }
}

.btnOutlineDangerHover {
    background-color: $btnOutlineDangerHoverBG;
    color: $btnOutlineDangerHoverColor;
    border-color: $btnOutlineDangerHoverBorder;
    &:hover, &.hover {
        background-color: $btnOutlineDangerHoverBG;
        color: $btnOutlineDangerHoverColor;
        border-color: $btnOutlineDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnOutlineDangerClickedBG;
        color: $btnOutlineDangerClickedColor;
        border-color: $btnOutlineDangerClickedBorder;
    }
}
.btnOutlineDangerClicked {
    background-color: $btnOutlineDangerClickedBG;
    color: $btnOutlineDangerClickedColor;
    border-color: $btnOutlineDangerClickedBorder;
    &:hover, &.hover {
        background-color: $btnOutlineDangerHoverBG;
        color: $btnOutlineDangerClickedColor;
        border-color: $btnOutlineDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnOutlineDangerClickedBG;
        color: $btnOutlineDangerClickedColor;
        border-color: $btnOutlineDangerClickedBorder;
    }
}

.btnOutlineDangerDesaibled {
    background-color: $btnOutlineDangerDesaibleBG;
    color: $btnOutlineDangerDesaibleColor;
    border-color: $btnOutlineDangerDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnOutlineDangerDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnOutlineDangerDesaibleColor;
    }
}
// BTN Text Danger Button
.btnTextDanger {
    background-color: $btnTextDangerNormalBG;
    color: $btnTextDangerNormalColor;
    border: 1px solid $btnTextDangerNormalBorder;
    &:hover, &.hover {
        background-color: $btnTextDangerHoverBG;
        color: $btnTextDangerHoverColor;
        border-color: $btnTextDangerHoverBorder;
    }
    &:active, &.active {
        background-color: $btnTextDangerClickedBG;
        color: $btnTextDangerClickedColor;
        border-color: $btnTextDangerClickedBorder;
    }
}

.btnTextDangerHover {
    background-color: $btnTextDangerHoverBG;
    color: $btnTextDangerHoverColor;
    border-color: $btnTextDangerHoverBorder;
    &:hover, &.hover {
        background-color: $btnTextDangerHoverBG;
        color: $btnTextDangerHoverColor;
        border-color: $btnTextDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnTextDangerClickedBG;
        color: $btnTextDangerClickedColor;
        border-color: $btnTextDangerClickedBorder;
    }
}
.btnTextDangerClicked {
    background-color: $btnTextDangerClickedBG;
    color: $btnTextDangerClickedColor;
    border-color: $btnTextDangerClickedBorder;
    &:hover, &.hover {
        background-color: $btnTextDangerHoverBG;
        color: $btnTextDangerHoverColor;
        border-color: $btnTextDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnTextDangerClickedBG;
        color: $btnTextDangerClickedColor;
        border-color: $btnTextDangerClickedBorder;
    }
}

.btnTextDangerDesaibled {
    background-color: $btnTextDangerDesaibleBG;
    color: $btnTextDangerDesaibleColor;
    border-color: $btnTextDangerDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnTextDangerDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnTextDangerDesaibleColor;
    }
}

// BTN Danger with Icons Prefix
.btnIconPrefixDanger {
    background-color: $btnIconPrefixDangerNormalBG;
    color: $btnIconPrefixDangerNormalColor;
    border: 1px solid $btnIconPrefixDangerNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixDangerHoverBG;
        color: $btnIconPrefixDangerHoverColor;
        border-color: $btnIconPrefixDangerHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconPrefixDangerClickedBG;
        color: $btnIconPrefixDangerClickedColor;
        border-color: $btnIconPrefixDangerClickedBorder;
    }
}

.btnIconPrefixDangerHover {
    background-color: $btnIconPrefixDangerHoverBG;
    color: $btnIconPrefixDangerHoverColor;
    border-color: $btnIconPrefixDangerHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixDangerHoverBG;
        color: $btnIconPrefixDangerHoverColor;
        border-color: $btnIconPrefixDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixDangerClickedBG;
        color: $btnIconPrefixDangerClickedColor;
        border-color: $btnIconPrefixDangerClickedBorder;
    }
}
.btnIconPrefixDangerClicked {
    background-color: $btnIconPrefixDangerClickedBG;
    color: $btnIconPrefixDangerClickedColor;
    border-color: $btnIconPrefixDangerClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixDangerHoverBG;
        color: $btnIconPrefixDangerHoverColor;
        border-color: $btnIconPrefixDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixDangerClickedBG;
        color: $btnIconPrefixDangerClickedColor;
        border-color: $btnIconPrefixDangerClickedBorder;
    }
}

.btnIconPrefixDangersDesaibled {
    background-color: $btnIconPrefixDangerDesaibleBG;
    color: $btnIconPrefixDangerDesaibleColor;
    border-color: $btnIconPrefixDangerDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconPrefixDangerDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconPrefixDangerDesaibleColor;
    }
}

// BTN Danger Outline Prefix Icons
.btnIconPrefixOutlineDanger {
    background-color: $btnIconPrefixOutlineDangerNormalBG;
    color: $btnIconPrefixOutlineDangerNormalColor;
    border: 1px solid $btnIconPrefixOutlineDangerNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixOutlineDangerHoverBG;
        color: $btnIconPrefixOutlineDangerHoverColor;
        border-color: $btnIconPrefixOutlineDangerHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconPrefixOutlineDangerClickedBG;
        color: $btnIconPrefixOutlineDangerClickedColor;
        border-color: $btnIconPrefixOutlineDangerClickedBorder;
    }
}

.btnIconPrefixOutlineDangerHover {
    background-color: $btnIconPrefixOutlineDangerHoverBG;
    color: $btnIconPrefixOutlineDangerHoverColor;
    border-color: $btnIconPrefixOutlineDangerHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixOutlineDangerHoverBG;
        color: $btnIconPrefixOutlineDangerHoverColor;
        border-color: $btnIconPrefixOutlineDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixOutlineDangerClickedBG;
        color: $btnIconPrefixOutlineDangerClickedColor;
        border-color: $btnIconPrefixOutlineDangerClickedBorder;
    }
}
.btnIconPrefixOutlineDangerClicked {
    background-color: $btnIconPrefixOutlineDangerClickedBG;
    color: $btnIconPrefixOutlineDangerClickedColor;
    border-color: $btnIconPrefixOutlineDangerClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixOutlineDangerHoverBG;
        color: $btnIconPrefixOutlineDangerHoverColor;
        border-color: $btnIconPrefixOutlineDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixOutlineDangerClickedBG;
        color: $btnIconPrefixOutlineDangerClickedColor;
        border-color: $btnIconPrefixOutlineDangerClickedBorder;
    }
}

.btnIconPrefixOutlineDangersDesaibled {
    background-color: $btnIconPrefixOutlineDangerDesaibleBG;
    color: $btnIconPrefixOutlineDangerDesaibleColor;
    border-color: $btnIconPrefixOutlineDangerDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        background-color: $btnIconPrefixOutlineDangerClickedBG;
        color: $btnIconPrefixOutlineDangerDesaibleColor;
        border-color: $btnIconPrefixOutlineDangerClickedBorder;
    }
    &:active, &.active {
        cursor: not-allowed;
        background-color: $btnIconPrefixOutlineDangerClickedBG;
        color: $btnIconPrefixOutlineDangerDesaibleColor;
        border-color: $btnIconPrefixOutlineDangerClickedBorder;
    }
}

// BTN Danger text Icons
.btnIconPrefixTextDanger {
    background-color: $btnIconPrefixTextDangerNormalBG;
    color: $btnIconPrefixTextDangerNormalColor;
    border: 1px solid $btnIconPrefixTextDangerNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixTextDangerHoverBG;
        color: $btnIconPrefixTextDangerHoverColor;
        border-color: $btnIconPrefixTextDangerHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconPrefixTextDangerClickedBG;
        color: $btnIconPrefixTextDangerClickedColor;
        border-color: $btnIconPrefixTextDangerClickedBorder;
    }
}

.btnIconPrefixTextDangerHover {
    background-color: $btnIconPrefixTextDangerHoverBG;
    color: $btnIconPrefixTextDangerHoverColor;
    border-color: $btnIconPrefixTextDangerHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixTextDangerHoverBG;
        color: $btnIconPrefixTextDangerHoverColor;
        border-color: $btnIconPrefixTextDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixTextDangerClickedBG;
        color: $btnIconPrefixTextDangerClickedColor;
        border-color: $btnIconPrefixTextDangerClickedBorder;
    }
}
.btnIconPrefixTextDangerClicked {
    background-color: $btnIconPrefixTextDangerClickedBG;
    color: $btnIconPrefixTextDangerClickedColor;
    border-color: $btnIconPrefixTextDangerClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconPrefixTextDangerHoverBG;
        color: $btnIconPrefixTextDangerHoverColor;
        border-color: $btnIconPrefixTextDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconPrefixTextDangerClickedBG;
        color: $btnIconPrefixTextDangerClickedColor;
        border-color: $btnIconPrefixTextDangerClickedBorder;
    }
}

.btnIconPrefixTextDangersDesaibled {
    background-color: $btnIconPrefixTextDangerDesaibleBG;
    color: $btnIconPrefixTextDangerDesaibleColor;
    border-color: $btnIconPrefixTextDangerDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconPrefixTextDangerDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconPrefixTextDangerDesaibleColor;
    }
}

// BTN Danger Icons Suffix
.btnIconSuffixDanger {
    background-color: $btnIconSuffixDangerNormalBG;
    color: $btnIconSuffixDangerNormalColor;
    border: 1px solid $btnIconSuffixDangerNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixDangerHoverBG;
        color: $btnIconSuffixDangerHoverColor;
        border-color: $btnIconSuffixDangerHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconSuffixDangerClickedBG;
        color: $btnIconSuffixDangerClickedColor;
        border-color: $btnIconSuffixDangerClickedBorder;
    }
}

.btnIconSuffixDangerHover {
    background-color: $btnIconSuffixDangerHoverBG;
    color: $btnIconSuffixDangerHoverColor;
    border-color: $btnIconSuffixDangerHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixDangerHoverBG;
        color: $btnIconSuffixDangerHoverColor;
        border-color: $btnIconSuffixDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixDangerClickedBG;
        color: $btnIconSuffixDangerClickedColor;
        border-color: $btnIconSuffixDangerClickedBorder;
    }
}
.btnIconSuffixDangerClicked {
    background-color: $btnIconSuffixDangerClickedBG;
    color: $btnIconSuffixDangerClickedColor;
    border-color: $btnIconSuffixDangerClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixDangerHoverBG;
        color: $btnIconSuffixDangerHoverColor;
        border-color: $btnIconSuffixDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixDangerClickedBG;
        color: $btnIconSuffixDangerClickedColor;
        border-color: $btnIconSuffixDangerClickedBorder;
    }
}

.btnIconSuffixDangersDesaibled {
    background-color: $btnIconSuffixDangerDesaibleBG;
    color: $btnIconSuffixDangerDesaibleColor;
    border-color: $btnIconSuffixDangerDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconSuffixDangerDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconSuffixDangerDesaibleColor;
    }
}

// BTN Danger Outline Suffix Icons
.btnIconSuffixOutlineDanger {
    background-color: $btnIconSuffixOutlineDangerNormalBG;
    color: $btnIconSuffixOutlineDangerNormalColor;
    border: 1px solid $btnIconSuffixOutlineDangerNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixOutlineDangerHoverBG;
        color: $btnIconSuffixOutlineDangerHoverColor;
        border-color: $btnIconSuffixOutlineDangerHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconSuffixOutlineDangerClickedBG;
        color: $btnIconSuffixOutlineDangerClickedColor;
        border-color: $btnIconSuffixOutlineDangerClickedBorder;
    }
}

.btnIconSuffixOutlineDangerHover {
    background-color: $btnIconSuffixOutlineDangerHoverBG;
    color: $btnIconSuffixOutlineDangerHoverColor;
    border-color: $btnIconSuffixOutlineDangerHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixOutlineDangerHoverBG;
        color: $btnIconSuffixOutlineDangerHoverColor;
        border-color: $btnIconSuffixOutlineDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixOutlineDangerClickedBG;
        color: $btnIconSuffixOutlineDangerClickedColor;
        border-color: $btnIconSuffixOutlineDangerClickedBorder;
    }
}
.btnIconSuffixOutlineDangerClicked {
    background-color: $btnIconSuffixOutlineDangerClickedBG;
    color: $btnIconSuffixOutlineDangerClickedColor;
    border-color: $btnIconSuffixOutlineDangerClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixOutlineDangerHoverBG;
        color: $btnIconSuffixOutlineDangerHoverColor;
        border-color: $btnIconSuffixOutlineDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixOutlineDangerClickedBG;
        color: $btnIconSuffixOutlineDangerClickedColor;
        border-color: $btnIconSuffixOutlineDangerClickedBorder;
    }
}

.btnIconSuffixOutlineDangersDesaibled {
    background-color: $btnIconSuffixOutlineDangerDesaibleBG;
    color: $btnIconSuffixOutlineDangerDesaibleColor;
    border-color: $btnIconSuffixOutlineDangerDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        color: $btnIconSuffixOutlineDangerDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        color: $btnIconSuffixOutlineDangerDesaibleColor;
    }
}

// BTN Danger text Icons
.btnIconSuffixTextDanger {
    background-color: $btnIconSuffixTextDangerNormalBG;
    color: $btnIconSuffixTextDangerNormalColor;
    border: 1px solid $btnIconSuffixTextDangerNormalBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixTextDangerHoverBG;
        color: $btnIconSuffixTextDangerHoverColor;
        border-color: $btnIconSuffixTextDangerHoverBorder;
    }
    &:active, &.active {
        background-color: $btnIconSuffixTextDangerClickedBG;
        color: $btnIconSuffixTextDangerClickedColor;
        border-color: $btnIconSuffixTextDangerClickedBorder;
    }
}

.btnIconSuffixTextDangerHover {
    background-color: $btnIconSuffixTextDangerHoverBG;
    color: $btnIconSuffixTextDangerHoverColor;
    border-color: $btnIconSuffixTextDangerHoverBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixTextDangerHoverBG;
        color: $btnIconSuffixTextDangerHoverColor;
        border-color: $btnIconSuffixTextDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixTextDangerClickedBG;
        color: $btnIconSuffixTextDangerClickedColor;
        border-color: $btnIconSuffixTextDangerClickedBorder;
    }
}
.btnIconSuffixTextDangerClicked {
    background-color: $btnIconSuffixTextDangerClickedBG;
    color: $btnIconSuffixTextDangerClickedColor;
    border-color: $btnIconSuffixTextDangerClickedBorder;
    &:hover, &.hover {
        background-color: $btnIconSuffixTextDangerHoverBG;
        color: $btnIconSuffixTextDangerHoverColor;
        border-color: $btnIconSuffixTextDangerHoverBorder;
        }
    &:active, &.active {
        background-color: $btnIconSuffixTextDangerClickedBG;
        color: $btnIconSuffixTextDangerClickedColor;
        border-color: $btnIconSuffixTextDangerClickedBorder;
    }
}

.btnIconSuffixTextDangersDesaibled {
    background-color: $btnIconSuffixTextDangerDesaibleBG;
    color: $btnIconSuffixTextDangerDesaibleColor;
    border-color: $btnIconSuffixTextDangerDesaibleBorder;
    &:hover, &.hover {
        cursor: not-allowed;
        background-color: $btnIconSuffixTextDangerClickedBG;
        color: $btnIconSuffixTextDangerDesaibleColor;
        border-color: $btnIconSuffixTextDangerDesaibleColor;
    }
    &:active, &.active {
        cursor: not-allowed;
        background-color: $btnIconSuffixTextDangerClickedBG;
        color: $btnIconSuffixTextDangerDesaibleColor;
        border-color: $btnIconSuffixTextDangerDesaibleColor;
    }
}

.btnsWrap {
    button {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
.btnWrap {
    text-align: center;
}

.btnBorder {
    padding: 17px 19px;
    border-radius: 1rem;
	border: 1px solid #EAEAED;
	&:hover {
		background-color: $gray-900;
	}
}

.btnLogin {
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid $border;
    color: $white;
    background-color: transparent;
    display: flex;
    justify-content:space-around;
    align-items: center;
    &:hover, &.hover {
        background-color: transparent;
        color: $white;
        border-color: $primary;
    }
    &:active, &.active {
        background-color: transparent;
        color: $white;
        border-color: $primary;
    }
}

.btnGray {
    background-color: $darkModebackground;
    color: $white;
    padding: 1rem;
    min-width: 164px;
    border-radius: 1rem;
    &:hover, &.hover {
        background-color: #070708;
        color: $white;
    }
    &:active, &.active {
        background-color: #070708;
        color: $white;
    }
}

.uploadBtn {
    position: relative;
    display: inline-block;
    input[type="file"] {
        opacity: 0; height: 100%;
        width: 100%; cursor: pointer;
        position: absolute;
    }
}


@media all and (max-width: 991px) {



}