@import './variables/colors';
@import './variables/mixin';
@import './variables/text_link';


.bodyTitles {
    font-size: $font-xlarge;
    font-weight: 400;
    color: $default;
}

.bodySubtitles {
    font-size: $font-large;
    font-weight: 600;
    text-align: center;
    color: $default;
}

.openPopup {
    cursor: pointer;
    svg {
        margin-right: 5px;
    }
    &:hover, &:focus {
        color: $primary;
    }
}

.listedTime {
    color: $grayLight;
    font-size: $font-mini;
}

.listOne {
    margin-bottom: 8px;
    span {
        color: $primary;
    }
    svg {
        margin-right: 0.5rem;
    }
}

.listWrap {
    display: flex;
    justify-content: space-between;
    svg {
        margin-right: 0.5rem;
    }
}
.descHead {
    margin-top: 1rem;
    font-size: $font-small;
    font-weight: bold;
}
.para {
    font-size: $font-small;
    margin-bottom: 24px;
}
.tags {
    margin-bottom: 8px;
    span {
        font-weight: bold;
        margin-right: 8px;
    }
    a {
        color: $primary;
    }
}

.share {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 29px;
    svg {
        margin-right: 0.5rem;
    }
   
}
.targetTitle {
    cursor: pointer;
    color: $primary;
}

.head {
    font-size: $font-xlarge;
    text-align: center;
}
.headNote {
    text-align: center;
    margin-bottom: 30px;
    font-size: $font-small;
}

.popupAsset {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(18rem,1fr));
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.thumbsWrap {
    position: relative;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    &:hover {
        .thumbsContents {
            opacity: 1;
            -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
            background: rgba(0, 0, 0, 0.8);
            // background-image: linear-gradient( 360deg , rgb(0 0 0), transparent);
        }
    }
}

.thumbsWrap img {
    border-radius: 8px;
}

.thumbsContents {
    position: absolute;
    bottom: 0;
    width: 90%;
    z-index: 9;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5%;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
}


.thumbsTitle {
    font-size: 20px;
}
.thumbsDesc {
    font-size: $font-mini;
    text-transform: uppercase;
    margin: 0;
}

.customChk {
	> span {
		position: absolute;
		top: 15px;
		right: 15px;
		opacity: 0;
		z-index: 10;
		font-size: 2.5rem;
		transition: opacity 0.5s;
		color: #00CCA9;
	}
	input[type=checkbox] {
		display: none;
		&:checked + span {
			opacity: 1;
            + div {
                border: 2px solid $primary;
                border-radius: 8px;
            }
		}
	}
}