@import '../../public/account/variables/colors';

.paginationWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // white-space: nowrap;
}

.paginate {
    a {
        text-decoration: none;
        display: inline-block;
        margin: 0 3px 0px;
        height: 35px;
        min-width: 32px;
        border-radius: 3.58px;
        line-height: 35px;
        text-align: center;
        color: $grayLight;
        padding: 0 10px;
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
    .activate{
        color: $white;
        background-color: $primary;
    }
}