@import './variables/colors';
@import './variables/forms';
@import './variables/mixin';
@import './variables/text_link';


.tablesWtap {
	thead {
		background-color: $primary100;
		color: $default;
		th {
			text-align: center;
			padding: 1rem;
			border-bottom: none;
			font-weight: 400;
			white-space: nowrap;
		}
	}
	td {
		text-align: center;
		color: $default;
		vertical-align: middle;
		padding: 20px;
		white-space: nowrap;
	}
	> tbody {
		border-top: none !important;
		tr {
			&:nth-of-type(odd) {
				background-color: $gray005;
			}
		}
	}
	select {
		margin-left: auto;
		margin-right: auto;
		max-width: 78px;
		min-width: 70px;
	}
    .thumbImgWrap {
        min-width: 100px;
    }
}