@import './variables/colors';
@import './variables/mixin';
@import './variables/text_link';
 
 
.labelHead {
    margin-bottom: 1rem;
    font-size: $font-medium;
}
.thumbWrap {
    border: 1px solid $border;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    position: relative;
    min-height: 106px;
    // min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    .profileImg {
        object-fit: contain;
    }

}

.verticallyImg {
    object-fit: cover;
}
.horizantalImg {
    object-fit: cover;
}
.coverImg {
    object-fit: cover;
}
.originalImg {
    object-fit: none;
}

.UploadIconWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;
}

.uploadIcons {
    border: 1px solid $border;
    border-radius: 8px;
    margin: 8px;
    padding: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    justify-content: center;
    text-align: center; position: relative;
   svg {
        vertical-align: middle;
        color: #ABABBA;
    }
    input[type="file"] {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.uploadList {
    list-style: none;
    margin: 0; padding: 0;
    display: grid; gap: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    li {
        border: 1px solid $border;
        border-radius: 8px;
        margin: 8px;
        padding: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        // min-width: 100px;
        // max-width: 100px;
        min-height: 100px;
        text-align: center; position: relative;
        svg {
            vertical-align: middle;
            color: #ABABBA;
        }
        
    }
}

.uploadLists {
    list-style: none;
    margin: 0; padding: 0;
    display: grid; gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    li {
        border: 1px solid $border;
        border-radius: 8px;
        // margin: 8px;
        // padding: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        // min-width: 156px;
        // max-width: 156px;
        text-align: center; position: relative;
    }
}


.chooseImg {
    input[type="radio"] {
        position: absolute;
        width: 100%; height: 100%;
        opacity: 0;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: 9;
        cursor: pointer;
        &:checked {
            + div {
                border: 1px solid $primary;
                border-radius: 8px;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                padding: 1rem;
            }
        }
    }
}

.chooseImgs {
    input[type="radio"] {
        position: absolute;
        width: 100%; height: 100%;
        opacity: 0;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: 9;
        cursor: pointer;
        &:checked {
            + div {
                border: 1px solid $primary;
                border-radius: 8px;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
            }
            + .verticallyImg {
                line-height: 128px;
            }
            + .horizantalImg {
                line-height: 120px;
            }
            + .coverImg {
                line-height: 110px;
            }
            + .originalImg {
                line-height: 110px;
            }
        }
    }

}


.listNote {
    font-size: $font-normal;
    margin-top: 8px;
    color: $grayLight;
}
.lineHr {
    border: 1px solid $border;
}

.btnsWrap {
    button {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}


.btnGroup {
    display: flex;
    justify-content: space-between;
}

.uploadThumb {
    padding: 1rem;
    height: 100%;
    text-align: center;
    svg {
        vertical-align: middle;
        color: $gray;
        height: 100%;
        font-size: $font-large;
    }
}


.captionName {
    font-size: $font-medium;
}
.formControl {
    border: 1px solid $border;
    padding: .75rem; border-radius: 5px;
    .toggleContent {
        margin-top: .4rem;
    }
}

.sectionGroup {
    border-top: 1px solid $border; padding-top: 1rem;
}

.accHead {
   font-size: $font-xlarge;
   margin-bottom: 40px;
   font-weight: 400;

}

.headDesc {
    font-size: $font-small;
    margin-bottom: 24px;
} 
.socialText {
    margin-left: 14px;
}

.profileImgWrap {
    @include flex;
    @include align-items(center);
}
.profileImg {
    border-radius: 12px;
}

.fileupload {
	position: relative;
	overflow: hidden;
	@include inline-flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
    margin-left: 60px;
	input[type="file"] {
	  position: absolute;
	  opacity: 0;
	  width: 100%;
	  line-height: 60px;
	}
	.lableFile, .btnBorder {
	  cursor: pointer;
	}
	&:hover {
		.lable-file, .btnBorder {
			background-color: $gray-900;
		}
	}
}

.uploadText {
    text-transform: uppercase;
    font-size: $font-mini;
}

.charCount {
    text-align: right;
    margin-top: 5px;
    font-size: $font-mini;
    margin-bottom: 1rem;
}

.headNote {
    font-size: $font-small;
}

@media all and (max-width: 991px) {
    .accHead {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: $font-large;
    }  
    .uploadList, .uploadLists, .UploadIconWrap {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (max-width: 576px) {
    .uploadList, .uploadLists, .UploadIconWrap {
        grid-template-columns: 1fr 1fr;
    }
}