
@import '../../../components/profile/profile006/variables';

.container {
    font-family: $body-font; 
    padding-top: 3rem;
}
.textRight {
    text-align: right;
}
.bannerImg {
    margin-bottom: 1.5rem;
}
.profileImg {
    margin-bottom: $profileThumbMarginB;
    img {
        border: 3px solid $default-color !important;
        display: block; line-height: 1;
        border-radius: $profileImgBorderRadius;
    }
}
.userWrap {
    margin-bottom: 1.5rem;
}
.userName {
    font-size: $profileH1FontSize;
    color: $profileH1FontColor;
    font-family: $profileH1FontFamily;
    margin-bottom: $profileH1MarginB;
    font-weight: 700;
    white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis;
}
.userMore {
    font-size: $profileH3FontSize;
    color: $profileH3FontColor;
    font-weight: $profileH3FontWeight;
    margin-bottom: .25rem;
}
.userDesc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $userDescFontSize;
    color: $userDescFontColor;
    margin-bottom: $userDescMarginB;
    line-height: 1.5;
}
.likeSocialWrap {
    @include flexbox; align-items: center;
    justify-content: space-between;
}
.likeWrap {
    margin-bottom: $likeWrapMarginB;
    min-width: 60%;
}
.statusWrap {
    font-size: $statusWrapFontSize;
    color: $statusWrapColor;
    display: flex;
    flex-wrap: wrap;
    > span {
        flex: 0 0 50%;
        font-size: 18px;
        max-width: 50%; margin-bottom: .25rem;
        font-size: $likeLableFontSize;
        /*margin-right: .75rem;*/
    }
    .num {
        margin: 0 auto 2px auto;
        display: block; font-weight: $likeNumFontWeight;
        font-size: $statusWrapFontSize;
    }
}
.userId {
    transition: all 0.3s;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-bottom: .5rem;
    font-size: $userIdFontSize;
    color: $userIdFontColor;
}
.copyIcon {
    margin-right: .5rem;
}
.socialList {
    margin-bottom: $socialListMarginBottom;
    a {
        color: $socialIconsColor;
        font-size: $socialIconsFontSize;
        &:not(:last-child) {
            margin-right: 1rem;
        }
        &:hover {
            color: $primary;
        }
    }
}
.copyTxt {
    margin-left: 1rem; 
}


// Tabs Dssign

.collectionTabsWrapper {
    text-align: center;
}

.nav {
    border-bottom: 4px solid $tabBorderColor;
    margin-bottom: $tabMarginB;
    a {
        background-color: $tabItemBgColor;
        border-color: $tabItemBorderColor;
        color: $tabItemColor;
        font-size: $tabItemFontSize;        
        font-weight: $tabActiveFontWeight;
        border-radius: $tabItemBorderRadius;
        margin-right: .5rem; min-width: 16%;
        text-align: center;
        padding:13px 10px 10px 10px; 
        display: inline-block;
        text-transform: uppercase;
    
        &:hover,  &[aria-selected="true"]  {
            background-color: $tabItemHoverBgColor;
            border-color: $tabItemHoverBorderColor;
            color: $tabItemHoverColor;
        }
        
    }
}

/*.paginationWrap {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $textBgColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $textBgColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; height: 41px;
            border-radius: 4px;
            border: 2px solid $paginationColor;
            color: $paginationColor;
            background-color: $paginationBgColor;
            font-size: $paginationFontSize;
        }
        [aria-selected="true"] {
            background-color: $paginationActiveBgColor;
            a {
                background-color: $paginationActiveBgColor;
            }
        }
    } 
}*/

// Footer 
.footer {
	padding-top: $footerPaddingT; 
	padding-bottom: $footerPaddingB;
    background-color:$footerBgColor;
    margin-top: $footerMarginT;
    font-size: $footerFontSize;

    svg {
        font-size: $footerFontSize;
    }
}
.footerRow {
    display: flex;
    justify-content: space-between
}
.socialContainer {
    list-style: none;
    margin: 0; padding: 0;
    display: inline-flex;
    align-items: center;
    li {
        &:not(:last-child) {
            border-right: 1px solid $textColor;
            margin-right: 1rem;
            padding-right: 1rem;
        }
    }
 	span {
		margin-right: 1rem;
	}
	a {
        color: $default-color;
		&:not(:last-child) {
			margin-right: 35px;
		}
        &:hover {
            color: $primary;
        }
	}
}
.copyright {
    display: flex;
    align-items: center
}


@media all and (max-width: 991px) {
    
    .footerRow {
        flex-wrap: wrap;
    }
    .copyright {
        width: 100%; 
    }
    .socialContainer {
        @include flexbox; width: 100%;
        li {
            &:first-child {
                width: 100%; border-right: none;
            } 
            margin-top: .75rem;
        }
    }





}


@media all and (max-width: 767px) {

    .likeSocialWrap {
        flex-wrap: wrap; 
    }
    .likeWrap {
        width: 100%;
    }
    .nav {
        a { 
            font-size: $font-small;
        }
    }
    
}