
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';



$fontHeading:             'Mochiy Pop One', sans-serif;
$fontBody:                'Open Sans', sans-serif;


$default       : #3A3A43;
$default-color : $default;
$border        : #EAEAED;
$border-color  : $border;
$color-primary-main:   $default-color;

/*  Setting Varible  */

$headingFontFamily:            $fontHeading; 
$bodyFontFamily:               $fontBody;

$titleTextColor:               #3A3A43; 
$bodyTextColor:                #3A3A43;
$bodyBgColor:                  #FFF5D7;

$buttoncolor:                  #fff;
$buttonBgGredientColor:        #000;      
$buttongGredientColor:         #000;
$buttonBgColor:                #DB2A15; 
$buttonBorderColor:            #DB2A15;  

/* Variable for Collection Thumb component  */

$thumbListMarginB:            .1rem;
$thumbListPadding:            0px;
$thumbListBorderColor:        #fff;
$thumbListHoverBorderColor:   transparent;
$thumbListBorderRadius:       0px;

$thumbImgMarginB:             0px;
$thumbImgBorderRadius:        0px;
$thumbImgBorderColor:         transparent;
$thumbImgBorderHoverColor:    transparent;

$thumbInfoPadding:            .5rem;
$thumbInfoColor:              $default-color;
$thumbInfoBgColor:            transparent;
$thumbInfoBgHoverColor:       #3A3A43;
$thumbInfoBorderColor:        transparent;
$thumbInfoHoverBorderColor:   transparent;

$thumbTitleColor:             $default-color;
$thumbTitleHoverColor:        $default-color;
$thumbTitleSize:              16px;
$thumbTitleMarginB:           .4rem;
$thumbTitleFontWeight:        700;

$thumbDescColor:              $default-color;
$thumbDescSize:               14px;
$thumbDescMarginB:            .1rem;
$thumbDateColor:              $default-color;

$thumbChainFontSize:          14px;
$thumbChainFontColor:         $default-color;
$thumbChainMarginB:           16px;

/* Variable for Collection page   */

$pageContentPaddingT:               0px;
$pageContentPaddingB:               20px;
$pageContentBgColor:                transparent;

$collectionH1FontSize:             40px;
$collectionH1FontColor:            #333646;
$collectionH1FontFamily:           $headingFontFamily;
$collectionH1FontWeight:           700;
$collectionH1MarginB:              .5rem;
$collectionHeadWrapMarginB:        1rem;

$collectionH2FontSize:             36px;
$collectionH2FontColor:            $default-color;
$collectionH2FontFamily:           $headingFontFamily;
$collectionH2FontWeight:           700;
$collectionH2MarginB:              .25rem;

$collectionH3FontSize:             36px;
$collectionH3FontColor:            $default-color;
$collectionH3FontFamily:           $headingFontFamily;
$collectionH3FontWeight:           700;
$collectionH3MarginB:              .25rem;

$collectionH4FontSize:             18px;
$collectionH4FontColor:            $default-color;
$collectionH4FontFamily:           $headingFontFamily;
$collectionH4FontWeight:           700;
$collectionH4MarginB:              .25rem;

$collectionH5FontSize:             36px;
$collectionH5FontColor:            $default-color;
$collectionH5FontFamily:           $headingFontFamily;
$collectionH5FontWeight:           700;
$collectionH5MarginB:              .25rem;

$collectionH6FontSize:             18px;
$collectionH6FontColor:            #333646;
$collectionH6FontFamily:           $headingFontFamily;
$collectionH6FontWeight:           normal;
$collectionH6MarginB:              .25rem;

$collectionHeaderBorderColor:      #fff;
$collectionHeaderPaddingT:         1.25rem;
$collectionHeaderPaddingB:         1.25rem;
$collectionMarginB:                0rem;

$socialLabelFontSize:              14px;
$socialIconColor:                  $default-color;
$socialIconHoverColor:             $primary;
$socialFontSize:                   16px;

$userDescFontSize:                 14px;
$userDescColor:                    $default-color;
$userDescMarginB:                  1rem;

$userTitleFontSize:                14px;
$userTitleColor:                   $default-color;
$userTitleFontWeight:              700;
$userTitleMarginB:                 .25rem;

$userImgMarginB:                    1.25rem;
$userImgBorderRadius:               0px;
$viewLinkFontSize:                  13px;
$viewLinkColor:                     $default-color;

$footerPaddingT:                    14px;
$footerPaddingB:                    0px;
$footerMarginT:                     0px;
$footerBgColor:                     transparent;
$footerColor:                       $default-color;
$footerFontSize:                    14px;
 

.gredientTextColor {
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}