
@import '@/components/profile/profile010/variables';


@keyframes in-left {
  from {transform: rotate3d(0,1,0, 90deg)}
  to   {transform: rotate3d(0,0,0, 0deg)}
}


.collectionWraps {
  display: grid;
  grid-template-columns: repeat(3, minmax(12rem, 1fr));
  gap: 1.5rem;
  position: relative;
}

.thumblist {
  margin-bottom: $thumbListMarginB;
  transition: all 0.5s ease-in-out;
  position: relative; overflow: hidden;
  border-radius: $thumbListBorderRadius;


  &:hover {
    .thumbInfo {
      transform-origin: 0% 0%;
      -webkit-animation: in-left 300ms ease 0ms 1 forwards;
      animation: in-left 300ms ease 0ms 1 forwards;
    }
    .wishLike {
      font-weight: bold;
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  
}
.wishLike {
  font-size: $thumbWishSize; color: $thumbTitleColor;
  margin-bottom: 1rem; text-align: right;
  width: 100%;
}

.thumbInfo {
  padding: $thumbInfoPadding; background: $thumbInfoBgColor;
  position: absolute; left: 0; top: 0; 
  width: 100%; height: 100%; 
  @include flexbox; justify-content: space-between;
  
  transform: rotate3d(1, 0, 0, 90deg);
  transform-origin: 0% 0%;
  -webkit-animation: out-left 300ms ease 0ms 1 forwards;
  animation: out-left 300ms ease 0ms 1 forwards;
}

.thumbInfoInner {
  @include flexbox; justify-content: space-between;
}

.thumbTop {
  @include flex;
  justify-content: space-between; width: 100%;
}
.thumbTopInfo {
  text-align: right; max-width: 350px;  padding-left: 1rem;
}
.thumbTitlewrap {
  width: 100%; text-align: center;
  h3 {
    font-size: $thumbTitleSize; margin-bottom: $thumbTitleMarginB;
    font-weight: $thumbTitleFontWeight; font-family: $fontHeading;
    white-space: nowrap; text-overflow: ellipsis;
    overflow: hidden; justify-content: center;
    a {
      color: $thumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $thumbDescSize; color: $thumbDescColor;
  margin-bottom: $thumbDescMarginB; line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*.dateWish {
  @include flexbox; justify-content: space-between;
  font-size: $thumbWishCountSize;
  position: absolute; bottom: 10px; width: 100%;
  
}*/
.assetNum {
  font-size: $thumbAssetSize; margin-bottom: .25rem;
}
.num, .assetNum {
  font-weight: 700; color: $thumbTitleColor;
}

.descWishWrap {
  margin-top: auto;
  .wish {
    color: $thumbTitleColor;
    text-align: right;
  }
}
.thumbBottom {
  margin-top: auto; width: 100%;
}


@media all and (max-width: 1199px) {
  .collectionWraps {
    grid-template-columns: repeat(2, minmax(6rem, 1fr));
    gap: .75rem;
  }
}