


@media all and (min-width: 768px) {

}
@media all and (min-width:1550px) {

}

@media all and (max-width:992px) { 


}

@media all and (max-width:768px) {

}
@media all and (max-width:420px) {


}

