@import './global/container';

/*
@import './component/groupvariable';
@import './component/layout/header';
@import './component/layout/footer';
@import './global/typography';
@import './global/form';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

// Start grid view




@media all and (min-width: 768px) {

}
@media all and (min-width:1550px) {

}

@media all and (max-width:992px) { 


}

@media all and (max-width:768px) {

}
@media all and (max-width:420px) {


}

