@import '../../public/account/variables/colors';
@import '../../public/account/variables/mixin';
@import '../../public/account/variables/text_link';


// Header Style
.headerRow {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    padding-top: 14px;
    padding-bottom: 14px;
}
.navigations {
    display: block;
    a {
        display: inline-block;
        padding: 1rem;
        color: $white;
        position: relative;
        &:not(:last-child) {
            margin-right: 2rem;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            transform: scaleX(0);
            background: $white;
            transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
        }
        &:hover {
            &:after {
                transform: scaleX(1);
            }
        }
    }   
}

.wraper {
    max-width: 536px;
    margin-left: auto;
    margin-right: auto;
    color: $white; 
    padding: 4% 1rem 0 1rem;
    margin: auto;
}

.authWrap {
    margin-bottom: 2rem;
}
.head {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}
.subHead {
    text-align: center;
    color: $gray;
    margin-bottom: 3rem;
    font-weight: 400;
}

.paraHead {
    text-align: left;
    padding-bottom: 2rem;
}

.paraHeadOne {
    text-align: left;
    padding-bottom: 1rem;
}


//Connected Wallet Styles
// Header Logo Design
.userImg {
    margin-right: 8px;
    .profileImg {
        border-radius: 12px;
    }
 }
 .userLogged {
    @include flex;
    align-items: center;
    justify-content: right;
    color: $white;
    margin-top: 16px;
 }
 .userTitle {
    font-size: $font-medium;
    margin-bottom: 4px;
    color: $white;
 }
 .userId {
    font-size: $font-mini;
    color: $white;
 }
 
 .headerRight {
    @include flex;
 }
.userInfo {
    margin-right: 76px;
}
 
// Header End
.connectList {
    font-size: $font-small;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    span {
        margin-left: 18px;
    }
}
.CreaterLogo {
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: left;
}

.btnWrap {
    text-align: center;
    padding-bottom: 2rem;
}

.chooseImg {
    position: relative;
    input[type="radio"] {
        position: absolute;
        width: 100%; height: 100%;
        opacity: 0;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: 9;
        cursor: pointer;
        &:checked {
            + div {
                opacity: 1;
            }
        }
        + div {
            position: absolute;
            top: 30px; right: 30px;
            z-index: 9;
            opacity: 0;
            color: $primary;
            transition: opacity .5s;
        }
    }
}
.chooseThumb {
    position: relative;
}

//Footer Start
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 52px;
    padding-bottom: 1rem;
    color: $white;
    font-style: italic;
}

.footer {
    display: block;
}
//Footer End

//Welcome to NFTIFY
.closeWrap {
    text-align: right;
}
.closeBtn {
    cursor: pointer;
    color: $white;
    display: inline-block;
}

.closeBtnWrap {
    text-align: right;
    svg {
        color: $white;
        padding: 1rem;
        cursor: pointer;
    }
}
.sliderList {
    margin-bottom: 60px;
    .thumbsWrap {
        border-radius: 1rem;
        padding: 0 1rem;
    }
    img {
        border-radius: 1rem;
    }
    li {
        &.slick-active {
            opacity: 1 !important;
        }
    }
    button:before {
        color: $white !important;
    }
}
.caption {
    font-weight: bold;
    font-size: $font-largeM;
    text-align: center;
}


//More Info About Auth

.charCount {
    font-size: $font-mini;
    color: $grayLight;
    text-align: right;
    margin-top: 0.5rem;
}
.btnWrapMore {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.uploadWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 36px;
}
.uploadimg img {
    border-radius: 1rem;
}

.uploadtext {
    text-align: center;
}
.uploadmsg {
    margin-top: 8px;
    color: $gray;
    text-transform: uppercase;
    font-size: $font-mini;
}



@media all and (max-width: 767px) {
    .wraper {
        .inputGroupText {
            padding-left: 1rem; padding-right: 1rem;
        }
    }
    .authWrap {
        > button {
            justify-content: space-between;
        }

    }

    

}