
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

$bebasNeue:                  'Bebas Neue', cursive;
$montserrat:                 'Montserrat', sans-serif;

$color-primary-main:        #3A3A43;
$color-secondary-main:      #FFFFFF;
$color-Button:              #3A3A43;
$color-title-main:          #333646;

$default:                   #292A32;
$default-color:             $default;
$fontHeading:               $bebasNeue;
$fontBody :                 $montserrat;
$textColor:                 $default; 
$textBgColor:               #FFD400;


$profileThumbMarginB:       12px;
$profileImgBorderRadius:    0px;

$profileH1FontSize:         36px;
$profileH1FontColor:        $default-color;
$profileH1FontFamily:       $fontHeading;
$profileH1FontWeight:       normal;
$profileH1MarginB:          .75rem;

$profileH2FontSize:         18px;
$profileH2FontColor:        $default-color;
$profileH2FontWeight:       600;
$profileH2FontFamily:       $fontHeading;

$profileH3FontSize:         18px;
$profileH3FontColor:        $default-color;
$profileH3FontWeight:       300;
$profileH3FontFamily:       $fontHeading;

$profileH4FontSize:         14px;
$profileH4FontColor:        $default-color;
$profileH4FontFamily:       $fontHeading;


$userIdFontSize:            13px;
$userIdFontColor:           $default-color;

$userDescFontSize:          14px;
$userDescFontColor:         $default-color;
$userDescMarginB:           .5rem;

$buttonLFontSize:           16px;
$buttonSFontSize:           14px;            
          
$socialListMarginBottom:    .5rem;     
$socialIconsColor:          $default-color;
$socialIconsFontSize:       $font-medium;

$likeWrapMarginB:           .25rem;
$statusWrapFontSize:        20px;
$statusWrapColor:           $default-color;
$likeLableFontSize:         12px;
$likeNumFontWeight:         700;

$backToTopFontSize:         18px;
$backToTopColor:            $default-color;

/*  Profile banner variable   */

$profile-banner-height       : 360px;

/* Tab variables   */

$tabItemColor:              $default-color;
$tabItemFontSize:           18.5px;
$tabFontFamily:             $bebasNeue;
$tabBorderColor:            $color-primary-main;
$tabMarginB:                1.75rem;
$tabItemBorderColor:        #EAEAED;
$tabItemBgColor:            transparent;
$tabItemBorderRadius:       0px 0px 0 0;
$tabItemMarginB:            3rem;
$tabItemHoverColor:         $default-color;
$tabItemHoverBorderColor:   #EAEAED;
$tabItemHoverBgColor:       transparent;
$tabActiveColor:            $default-color;
$tabActiveBgColor:          transparent;
$tabActiveBorderColor:      transparent;
$tabActiveFontWeight:       normal; 
$TabOutlineColor:           $white;

/* Pagination Variables  */ 

$paginationMarginT:         30px; 
$paginationMarginB:         30px;        
$paginationColor:           $default-color;
$paginationBgColor:         rgba(255, 255, 255, 0.2);
$paginationBorderColor:     rgba(0, 0, 0, 0.06);
$paginationBorderRadius:    0px;
$paginationLineHeight:      38px;
$paginationActiveColor:     $white;
$paginationActiveBgColor:   $color-primary-main;
$paginationActiveBorderColor: $color-primary-main;
$paginationFontSize:        18px;


/* Collection Tab  Variables */

$thumbListMarginB:           .1rem;
$thumbListPadding:           0px;
$thumbListBorderColor:       transparent;
$thumbListHoverBorderColor:  transparent;
$thumbListBorderRadius:      0px;

$thumbImgMarginB:            0px;
$thumbImgBorderRadius:       transparent;
$thumbImgBorderColor:        transparent;
$thumbImgBorderHoverColor:   transparent;

$thumbInfoPadding:            1rem;
$thumbInfoBgColor:            #fff;
$thumbInfoBgHoverColor:       $color-primary-main;
$thumbInfoBorderColor:        transparent;
$thumbInfoHoverBorderColor:   transparent;

$thumbTitleColor:             $default-color;
$thumbTitleHoverColor:        $default-color;
$thumbTitleSize:              32px;
$thumbTitleMarginB:           .25rem;
$thumbTitleFontWeight:        normal;
$thumbAssetColor:             $default-color;
$thumbAssetSize:              16px;
$thumbDescColor:              $default-color;
$thumbDescSize:               16px;
$thumbDescMarginB:            .1rem;
$thumbDateColor:              $default-color;
$thumbDateSize:               14px;
$thumbWishCountColor:         $default-color;
$thumbWishCountSize:          16px;
$thumbWishColor:              $white;
$thumbWishSize:               24px;

/* Exhibition Tab Variables  */

$ExhibitionThumbListMarginB:           .1rem;
$ExhibitionThumbListPadding:           0px;
$ExhibitionThumbListBorderColor:       transparent;
$ExhibitionThumbListHoverBorderColor:  transparent;
$ExhibitionThumbListBorderRadius:      0px;

$ExhibitionThumbImgMarginB:            0px;
$ExhibitionThumbImgBorderRadius:       transparent;
$ExhibitionThumbImgBorderColor:        transparent;
$ExhibitionThumbImgBorderHoverColor:   transparent;

$ExhibitionThumbInfoPadding:            1.25rem;
$ExhibitionThumbInfoBgColor:            #fff;
$ExhibitionThumbInfoBgHoverColor:       $color-primary-main;
$ExhibitionThumbInfoBorderColor:        transparent;
$ExhibitionThumbInfoHoverBorderColor:   transparent;

$ExhibitionThumbTitleColor:             $default-color;
$ExhibitionThumbTitleHoverColor:        $default-color;
$ExhibitionThumbTitleSize:              32px;
$ExhibitionThumbTitleMarginB:           .5rem;
$ExhibitionThumbTitleFontWeight:        normal;
$ExhibitionThumbAssetColor:             $default-color;
$ExhibitionThumbAssetSize:              16px;
$ExhibitionThumbDescColor:              $default-color;
$ExhibitionThumbDescSize:               16px;
$ExhibitionThumbDescMarginB:            .1rem;
$ExhibitionThumbDateColor:              $default-color;
$ExhibitionThumbDateSize:               14px;
$ExhibitionThumbWishCountColor:         $default-color;
$ExhibitionThumbWishCountSize:          16px;
$ExhibitionThumbWishColor:              $white;
$ExhibitionThumbWishSize:               24px;

/* Assets Tab  Variables */

$assetThumbListMarginB:           .1rem;
$assetThumbListPadding:           0px;
$assetThumbListBorderColor:       transparent;
$assetThumbListHoverBorderColor:  transparent;
$assetThumbListBorderRadius:      0px;

$assetThumbImgMarginB:            0px;
$assetThumbImgBorderRadius:       transparent;
$assetThumbImgBorderColor:        transparent;
$assetThumbImgBorderHoverColor:   transparent;

$assetThumbInfoPadding:            .5rem;
$assetThumbInfoBgColor:            $color-primary-main;
$assetThumbInfoBgHoverColor:       transparent;
$assetThumbInfoBorderColor:        transparent;
$assetThumbInfoHoverBorderColor:   transparent;

$assetThumbTitleColor:             $white;
$assetThumbTitleHoverColor:        $default-color;
$assetThumbTitleSize:              20px;
$assetThumbTitleMarginB:           .5rem;
$assetThumbTitleFontWeight:        normal;
$assetThumbAssetColor:             $default-color;
$assetThumbAssetSize:              16px;
$assetThumbDescColor:              $white;
$assetThumbDescSize:               14px;
$assetThumbDescMarginB:            .1rem;
$assetThumbDateColor:              $default-color;
$assetThumbDateSize:               14px;
$assetThumbWishCountColor:         $default-color;
$assetThumbWishCountSize:          16px;
$assetThumbWishColor:              $white;
$assetThumbWishSize:               24px;
$assetThumbPlaySize:               20px;



/*  Footer variables  */

$footerMarginT:                   35px;
$footerPaddingT:                  .75rem;
$footerPaddingB:                  1rem;
$footerBgColor:                   #fff;
$footerColor:                     $default-color;
$footerFontSize:                  $font-small;


.primayTextColor {
    background: $color-primary-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: auto;
    display: inline-block;
}