
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');

$fontHeading:             'Libre Franklin', sans-serif;
$fontBody:                'Libre Franklin', sans-serif;

$titleTextColor:                #3A3A43;
$bodyTextColor:                #5F5F6D;



$textColor:                 #000000;
$textBgColor:               #FFD400;

$boderColor:                $textColor;
$btnActiveColor:            $textColor;
$btnActiveBgColor:          $textBgColor;

$profileH1FontSize:         38px;
$profileH1FontColor:        $titleTextColor;
$profileH1FontWeight:       700;
$profileH1MarginB:          .25rem;

$profileH2FontSize:         21px;
$profileH2FontColor:        $titleTextColor;

$profileH3FontSize:         23px;
$profileH3FontColor:        $titleTextColor;

$profileH4FontSize:         14px;
$profileH4FontColor:        $bodyTextColor;

$socialListMarginBottom:    75px;     
$socialIconsColor:          $titleTextColor;
$socialIconsFontSize:       $font-largeM;

$statusWrapFontSize:        23px;
$statusWrapColor:           $titleTextColor;

/* Tab variables   */

$TabsColor:                 $titleTextColor;
$TabsFontSize:              21px;
$tabBorderColor:            $black;
$tabItemBorderRadius:       4px;
$tabItemHoverColor:         #FFD400;
$tabItemHoverBorderColor:   #FFD400;
$tabItemHoverFontWeight:    #FFD400;
$tabActiveColor:            $default;
$tabActiveBgColor:          $textBgColor;
$tabActiveBorderColor:      $textColor;
$tabActiveFontWeight:       700; 

/* Pagination Variables  */ 

$paginationMarginT:         40px; 
$paginationMarginB:         40px;        
$paginationColor:           $titleTextColor;
$paginationBgColor:         #FFFFFF;
$paginationBorderColor:     $titleTextColor;
$paginationLineHeight:      38px;
$paginationActiveColor:     $textColor;
$paginationActiveBgColor:   $textBgColor;
$paginationActiveBorderColor: $textColor;
$paginationFontSize:        21px;

/* Exhibition Tab Variables  */

$exhibitionPaddingT:         1rem;
$exhibitionPaddingB:         1rem;
$exhibitionItemTitleColor:   $white; 
$exhibitionItemTitleBgColor: $textBgColor;   
$exhibitionItemTitleFontsize:2rem; 
$exhibitionItemTitleColor:   $textColor;
$exhibitionItemTitlePadding: 1rem; 
$exhibitionItemMarginB:      2rem;
$thumbWishColor:              $textColor;
$thumbWishSize:               24px;
/* Collection Tab  Variables */

$collectionPaddingT:          1rem;
$collectionPaddingB:          1rem;
$collectionItemGap:           1rem;
$collectionItemAlign:         center;        
$collectionItemContentPadding:1rem;
$collectionItemHoverBg:       rgba(255, 212, 0, 0.7);

/* Assets Tab  Variables */

$assetsPaddingT:              1rem;
$assetsPaddingB:              1rem;
$assetsItemGap:               1rem;
$assetItemBgColor:            $white;
$assetItemAlign:              center;         
$assetsItemBorderColor:       $textColor;
$assetsItemBorderBgColor:     #F5F5F5;
$assetsItemBorderRadius:      4px;
$assetItemImgPadding:         8px;
$assetItemContentAlign:       center;
$assetItemTitleColor:         $default;
$assetItemTitleFontSize:      $font-large;
$assetItemTitleLineHeight:    1.3;
$assetItemDescPadding:        12px;
$assetItemDescFontSize:       80px;
$assetItemColor:              $default;
$assetItemDescBgColor:        $white;
$assetItemDescHeight:         80px;


/*  Profile banner variable   */

$profile-banner-height       : 360px;
