
@import './variables';

.profileWrap {
    font-family: $fontBody;
}

.bannerImg {
    display: flex;
    justify-content: center;
    position: relative;
    height: $profile-banner-height;
    img {
        width: 100%;
        object-fit: cover;
    }
}
.walletConnect {
    position: absolute;
    top: 24px; right: 24px;
}
.userWrap {
    text-align: center;
    //max-width: 508px;
    margin: -80px auto 0 auto;
    .userName {
        font-size: $profileH1FontSize;
        color: $profileH1FontColor;
    }
    .userMore {
        font-size: $profileH2FontSize;
        color: $profileH2FontColor;
    }
}
.userDesc {
    display: flex;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $profileH4FontSize;
    color: $profileH4FontColor;
    max-width: 508px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}
.btnGroups {
	.btn {
		font-size: 1.5rem;
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}
.statusWrap {
    font-size: $statusWrapFontSize;
    color: $statusWrapColor;
    margin-bottom: 1rem;
    span, h5 {
        font-weight: 600;
        display: inline-block;
        &:not(:last-child) {
            margin-right: 2rem;
        }
        span {
            font-size: $font-normal;
            font-weight: normal;
        }
    }
}
.socialList {
    margin-top: 23px;
    margin-bottom: $socialListMarginBottom;
    display: inline-flex;
    align-items: center;
	span {
		margin-right: 1rem;
	}
	a {
        color: $socialIconsColor;
        font-size: $socialIconsFontSize;
		&:not(:last-child) {
			margin-right: 35px;
		}
	}
}
.userId {
    transition: all 0.3s;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: $profileH4FontSize;
    color: $profileH4FontColor;
}
.copyTxt {
    margin-left: 1rem;
}
.copyWrap {
    display: inline-block;
}
.btnPrimary {
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 2px solid $boderColor;;
    font-size: 1.5rem;
    transition: all 0.5s;
    margin-bottom: 2rem;
    border-radius: 4px;
    &:not(:last-child) {
        margin-right: 1rem;
    }
    &:hover, &:active {
        background-color: $btnActiveBgColor;
        color: $btnActiveColor;
    }
    &.active {
        background-color: $btnActiveBgColor;
        color: $btnActiveColor;
    }
}

// Tabs Dssign
.collectionTabsWrapper {
    text-align: center;
}

// Footer 
.footer {
	padding-top: 18.5px;
	padding-bottom: 18.5px;
}
.footerRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.socialContainer {
    list-style: none;
    margin: 0; padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    li {
        &:not(:last-child) {
            border-right: 1px solid $textColor;
            margin-right: 1rem;
            padding-right: 1rem;
        }
    }
 	span {
		margin-right: 1rem;
	}
	a {
        color: $textColor;
		&:not(:last-child) {
			margin-right: 35px;
		}
	}
}

.copyright {
    display: flex;
    align-items: center
}

@media all and (max-width:767px) {
    .tabsWrapper {
        ul {
            margin-bottom: 1rem !important;
        }
        li {
            padding: 0.5rem 1rem !important;
            &:not(:last-child) {
                margin: 10px;
            }
        }
    }
    .userWrap {
        .userName {
            font-size: $font-large;;
        }
        .userMore {
            font-size: $font-medium;
        }
    }
    .statusWrap {
        font-size: $font-medium;
        span {
            &:not(:last-child) {
                margin-right: 1rem;
            }
            span {
                font-size: $font-small;
                font-weight: normal;
            }
        }
    }
    .btnGroups {
        .btn {
            font-size: 1rem;
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}