@import '@/components/profile/profile001/variables';

.assetsAll {
  display: grid;
  grid-template-columns: repeat(3, minmax(12rem, 3fr));
  gap: 1.5rem;
}

.thumblist {
  /*margin-bottom: $assetListMarginB;*/
  transition: all 0.5s ease-in-out;
  border: 1px solid $assetThumbListBorderColor;
  border-radius: $assetThumbListBorderRadius;
  overflow: hidden;

  &:hover {
    
    box-shadow: 0px 4px 16px 0px #00000026;
  
    .thumbImg img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
    .wishLike {
      font-weight: bold;
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  .wishLike {
    font-size: $assetThumbWishSize; color: $assetThumbWishColor;
    margin-bottom: 1rem; text-align: right;
    position: absolute; right: 30px; top: 20px;
  }
}

.thumbInfo {
  padding: $assetThumbInfoPadding; background-color: $assetThumbInfoBgColor;
}
.thumbTitlewrap {
  h3 {
    font-size: $assetThumbTitleSize; margin-bottom: $assetThumbTitleMarginB;
    font-weight: $assetThumbTitleFontWeight; font-family: $fontHeading;
    white-space: nowrap; text-overflow: ellipsis;
    overflow: hidden;
    a {
      color: $assetThumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $assetThumbDescSize; color: $assetThumbDescColor;
  margin-bottom: $assetThumbDescMarginB; line-height: 1.5;
  height: 48px; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dateWish {
  @include flexbox; justify-content: space-between;
  font-size: $assetThumbWishCountSize;
  position: absolute; bottom: 10px; width: 100%;
  
}
.num, .assetNum {
  font-weight: 700;
}

.descWishWrap {
  @include flex; justify-content: space-between;
  .wish {
    width: 70px; text-align: right; color: $default-color;
  }
}
.nftChain {
    font-size: $assetThumbDescSize;
    .nftIcon {
        background-color: #4400CD; padding: 3px;
        border-radius: 50%; display: inline-block;
        line-height: 1;
    }
    img , svg {
        vertical-align: middle;
    }
}
/* Pagination  */
.paginationWrap {
    margin-top: $paginationMarginT;
    margin-bottom: $paginationMarginT;
    text-align: center;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color:  $paginationActiveBgColor;
                border-color: $paginationActiveBorderColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $paginationActiveBgColor;
            }
        }
        a {
            display: inline-block;
            min-width: 41px; height: 41px;
            border-radius: 4px;
            border: 2px solid $paginationBorderColor;
            color: $paginationColor;
            background-color: $paginationBgColor;
            font-size: $paginationFontSize;
            line-height: $paginationLineHeight;
        }
        [aria-selected="true"] {
            background-color: $paginationActiveBgColor;
            a {
                background-color: $paginationActiveBgColor;
                color: $paginationActiveColor;
            }
        }
    } 
}


@media all and (max-width: 1199px) {
  .collectionWraps {
    grid-template-columns: repeat(2, minmax(6rem, 1fr));
    gap: .75rem;
  }
  .thumbInfo {
    padding: .5rem;
  }
  .descWishWrap {
    flex-wrap: wrap;
  }
}