@import '../../../../components/profile/profile001/variables';

.spacesWrap {
    padding-top: $exhibitionPaddingT;
    padding-bottom: $exhibitionPaddingB;
    .thumbsWrap {
        margin-bottom: $exhibitionItemMarginB;
    }
    .thumbsContent {
        padding: $exhibitionItemTitlePadding;
        text-align: center;
        background-color: $exhibitionItemTitleBgColor;
        color: $exhibitionItemTitleColor;
        .ItemTitle {
            font-size: $exhibitionItemTitleFontsize;
            color: $titleTextColor;
        }
    }
}
