
@import '../variables';

.title {
    color: $title-color; font-weight: normal;
    font-size: $title-font-size ;
}
.titleWrap {
    margin-bottom: 1.5rem; 
    p {
        font-size: $title-desc-font-size;
        color: $title-desc-color;
    }
}
.textCenter {
    text-align: center;
}
.formGroup {
    margin-bottom: 1rem;
}
.formControl {
    border: 1px solid $border;
    padding: .75rem; border-radius: $form-border-radius;
}

.toggleTitle {

}
.toggleContent {
	/*display: none;*/ margin-top: .5rem;
}

.imgLIst {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // border-top: 1px solid $imglist-border-color;
    padding: 0;
    li {
        cursor: pointer; text-align: center;
        input[type="radio"] {
            position: absolute; left: 0;
            opacity: 0; max-width: 100%;
            cursor: pointer; width: 100%;
        }
        label {
            display: block; margin-bottom: 0;
            min-width: 120px;
            div  {
                position: relative; margin: 7px;
                border: 2px solid $imglist-border-color;
                border-radius: 8px; padding: 5px;
                cursor: pointer;
            }
            input[type="radio"] {
                &:checked {
                    + div {
                        border: 2px solid  $imglist-active-border-color;
                        border-radius: 8px;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
        &.active, &:hover {
            // background: $imglist-active-bg-color;
            // border-color: $imglist-active-border-color;
        }
    }
    .addImg {
        font-size: 40px; line-height: 96px; font-weight: 100;
        min-width: 100px; text-align: center;
        position: relative; margin: 7px;
        border: 2px solid $imglist-border-color;
        border-radius: 8px; padding: 5px;
        cursor: pointer;
        input[type="file"] {
            position: absolute; left: 0;
            opacity: 0; max-width: 100%;
            cursor: pointer; width: 100%;
        }
    }
}

.recomoensizeLbl {
	font-size: $leftnum-font-size; color: $leftnum-color;
	padding-left: 10px; margin-top: .25rem;
}
.leftnumber {
	font-size: $leftnum-font-size; color: $leftnum-color;
	text-align: right; margin-top: .25rem;
}
.imageStyleSelect {
	border-top: 1px solid $border-color;
    padding-top: 10px; padding-left: 10px;
    padding-bottom: 5px;
    align-items: center;
}
.textRight {
	text-align: right;
}

.collectionFilter {
	margin-bottom: 1.5rem;
}



/* table  */

.table {
	
	th {
		font-weight: normal; border: none;
		background: $thead-bgcolor;
	}
	.orderTh {
		width: 100px;
	}
	.deleteTh  { 
		width: 75px; 
	}
	th, td {
		padding: .75rem;
	}
	tbody{
		border: none !important;
		tr {
			&:nth-child(even){
				background: $tr-row-bg-color;
			}
		}
	}
	.prodNameGroup {
		@include flex; align-items: center;;
	}
	td {
		border: none; vertical-align: middle;
		&:last-child{
			text-align: center;
		}
		.dragTh {
			width: 150px; 
		}
		.dragItem {
			margin-right: 10px;
			font-size: 20px; cursor: pointer;
		}
		.selectUser {
			display: inline-flex; align-items: center;
			margin-right: .5rem;
			input {
				
			}
		}
		img {
			border-radius: 8px;
			min-width: 50px;
		}
		.name {
			display: inline-flex; align-items: center;
			span {
				margin-left: .5rem;
			}
		}
	}

}




.modalLg {
	> div {
		max-width: 990px;
	}
}

.assetBtnGroup {
	text-align: center;
	button {
		margin-right: 10px; 
		& + button {
			min-width: 200px; margin-right: 0;
		}
	}
}
.searchModal {
	position: relative;
	input {
		padding-left: 45px;
	}
	button {
		position: absolute; color: $icon-color;
		height: 100%;
	}
}

.assetPopupItem {
	border: 2px solid $border-color;
	margin-bottom: 1.75rem;
	border-radius: 12px;
	transition: all 0.4s ease-in-out;
	position: relative; overflow: hidden;
	&.active, &:hover {
		border-color: $active-theme-border-color;
	}
	&:hover {
		.assetPopupItemImg {
			img {
				opacity: .8;
			}
		}
	}
}
.assetPopupItemImg {
	border-radius: 12px;
	img {
		display: block; line-height: 1;
	}
}

.checkitem {
	position: absolute; z-index: 1;
	width: 100%; height: 100%;
	input[type="checkbox"] {
		width: 100%; height: 100%;
		opacity: 0;
		&:checked + .checkicon {
			opacity: 1;
		}
	}
	.checkicon {
		position: absolute; opacity: 0;
		right: 10px; top: 10px; z-index: 2;
	}
	.faCheckCircle {
		color: $checkitem-color; 
		font-size: $font-large;
		border-radius: 50%;
	}
}

.assetPopupItemInfo {
	position: absolute; left:0; bottom: 0;
	height: 100%; padding: 1rem;
	background-color: rgba(0,0,0,.6);
	color: #fff; display: flex;
	align-items: flex-end;
	h3 {
		a {
			color: #fff; font-size: 16px;
		}
	}
	.assetItemDesc{
		font-size: 14px;
	}

}


.btnsGroup {
	button {		
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}


