
@import '../../../../components/profile/profile007/variables';

.collectionWraps {
  display: grid;
  grid-template-columns: repeat(2, minmax(12rem, 1fr));
  gap: 1.5rem;
}
.slickSlider {
  display: block; 
}
.slick-list {
  padding-left: .5rem; padding-right: .5rem;
}

.thumblist {
  margin-bottom: $thumbListMarginB;
  transition: all 0.5s ease-in-out;
  padding-right: 90px; margin-left: 15px;
  position: relative;

  background: url('../../../../public/profile/profile007/images/bgThumb.svg') right -5px center no-repeat;
  background-size: contain;
  &:hover {
    .thumbInfo {
      opacity: 1; height: 100%;
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
}
.wishLike {
  font-size: $thumbWishSize; color: $thumbWishColor;
  margin-bottom: 1rem; text-align: right;
  position: absolute; right: 30px; top: 20px;
}
.thumbInfo {
  padding: $thumbInfoPadding; background-color: $thumbInfoBgColor;
  color: $white;
  position: absolute; left: 0; bottom: 0;
  width: calc(100% - 90px); height: 0%;
  @include flexbox; align-items: flex-end;
  opacity: 0;
  transition: ease-in-out 300ms;
  overflow: hidden;

}
.thumbTitlewrap {
  h3 {
    font-size: $thumbTitleSize; margin-bottom: $thumbTitleMarginB;
    font-weight: $thumbTitleFontWeight; font-family: $fontHeading;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    a {
      color: $thumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $thumbDescSize; color: $thumbDescColor;
  margin-bottom: $thumbDescMarginB; line-height: 1.5;
}
.dateWish {
  @include flexbox; justify-content: space-between;
  font-size: $thumbWishCountSize;
  position: absolute; bottom: 10px; width: 100%;
  .num {
    font-weight: 700;
  }
}

.descWishWrap {
  @include flex; justify-content: space-between;
  .wish {
     text-align: right; 
  }
}

.thumbAsset {
  font-size: $thumbAssetSize; color: $thumbDescColor;
  margin-bottom: .25rem; font-weight: 700;
}

.wishicon {
  cursor: pointer;
}

@media all and (max-width: 1199px) {
  .collectionWraps {
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
    gap: 1rem;
  }
  .thumblist { 
    margin-left: 8px;
    /*padding-right: 50px;
    background-position: right 5px center;*/
  }
  .thumbInfo {
    > div {
      max-width: 100%;
    }
    .thumbTitlewrap {
      h3 {
        font-size: $font-large;
      }
    }
    .thumbDesc {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3; 
      -webkit-box-orient: vertical;
    }
  }

}


@media all and (max-width: 767px) {

  .slickSlider { 
    padding-left: 0rem;
  }
  .thumblist { 
    padding-right: 40px; margin-left: 10px;
    background-position: right 5px center;
  }
  .thumbInfo {
    width: calc(100% - 40px);
  }

}