@import '../variables';

.tab   {
	margin-bottom: 1.5rem;
}
.title {  
    color: $title-color; font-weight: normal;
    font-size: $title-font-size ;
}
.titleWrap {
    margin-bottom: 1.5rem;
	margin: 0;
    p {
        font-size: $title-desc-font-size;
        color: $title-desc-color;
    }
}
.textCenter {
    text-align: center;
}
.textRight {
	text-align: right;
}
.formGroup {
    margin-bottom: 1rem;
}
.formControl {
    border: 1px solid $border;
    padding: .75rem; border-radius: $form-border-radius;
}
/* Theme thumb  */

.thumblist {
	margin-bottom: 2.25rem;
	border-radius: 16px;
	border: 2px solid transparent;
	transition: all 0.4s ease-in-out;
	&.active, &:hover {
		border-color: $active-theme-border-color;
	}
	&:hover {
		.thumbImg {
			img {
				opacity: .8;
			}
		}
	}
}
.thumbImg {
	position: relative;
	a {
		img {
			border-radius: $theme-img-border-radius;
			transition: all 0.4s ease-in-out;
		}
	}
}
.thumbInfo {
	padding: .5rem .75rem;
}
.thumbTitle {
	font-size: $theme-thumb-title-size;
	color: $theme-thumb-title-color;
	margin-bottom: .75rem;
	a {
		color: $theme-thumb-title-color;
		&:hover {
			color: $link-hover-color;
		}
	}
}
.btnGroup {
	display: flex; flex-wrap: wrap;
	justify-content: space-between;
	.btn {
		min-width: 46%; position: relative;
		input[type="radio"] {
			position: absolute; opacity: 0;
		}
	}
	.faeye {
		margin-right: .2rem;
	}
}
.btnsGroup {
	button {		
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}
.checkitem {	
	input[type="checkbox"] {
		width: 100%; height: 100%;
		opacity: 0;
		&:checked + .checkicon {
			opacity: 1;
		}
	}
	.checkicon {
		position: absolute; opacity: 0;
		right: 15px; top: 15px; z-index: 2;
	}
	.faCheckCircle {
		color: $checkitem-color; 
		font-size: $font-large;
		border-radius: 50%;
	}
}

@media all and (max-width: 990px) {

	.checkitem {
		line-height: 1;
	}
	.thumbTitle {
		font-size: $font-normal;
	}
	.btnGroup {
		button {
			&:not(:first-child) {
				margin-top: .5rem;
			}
		}
	}
}

@media all and (max-width: 767px) {

	.btnGroup {
		button {
			width: 100%;
		}
	}
}