
@import '@/components/profile/profile009/variables';


.profileWrap {
    background:$colorBg url(../../../public/profile/profile009/images/body.png) center top;
    //background-repeat: no-repeat;
    font-family: $fontBody;  padding-top: 2rem;
}

.textRight {
    text-align: right;
}


.sidebarImg {
    position: relative;

}

.likeWrap {
    margin-bottom: $likeWrapMarginB; margin-left: auto;
    white-space: nowrap; position: absolute;
    bottom: 1.2rem; width: 100%;
}


.profileImg {
    margin-bottom: $profileThumbMarginB;
    margin-right: 4%; position: relative;
    max-width: 41%;
    img {
        display: block; line-height: 1;
        border-radius: $profileImgBorderRadius;
        position: relative; 
    }
}
.userWrap {
    margin-bottom: 1rem;
    @include flexbox; padding: 1rem 1rem .25rem 1rem;
    background: $white;
}
.userInfo {
    max-width:55%;
}
.walletWrap {
    @include flexbox; align-items: center;
    border-bottom: 1px solid $border;
    padding-bottom: .5rem; margin-bottom: 1rem;
    .lbl {
        font-size: $font-small; margin-right: .5rem;
        margin-bottom: .5rem;
    }
}
.userName {
    font-size: $profileH1FontSize;
    color: $profileH1FontColor;
    font-family: $fontHeading;
    margin-bottom: $profileH1MarginB;
    white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis; display: block;
}
.userMore {
    font-size: $profileH3FontSize;
    color: $profileH3FontColor;
    font-weight: $profileH3FontWeight;
    margin-bottom: .5rem;
    font-family: $fontHeading;
}
.userDesc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $userDescFontSize;
    color: $userDescFontColor;
    margin-bottom: $userDescMarginB;
    line-height: 1.5;
}
.likeSocialWrap {
    @include flexbox; align-items: center;
    justify-content: space-between;
}

.statusWrap {
    font-size: $statusWrapFontSize;
    color: $statusWrapColor;
    display: flex;
    text-transform: uppercase;
    /*flex-wrap: wrap;*/
    > span {
        flex: 0 0 50%;
        font-size: 18px;
        margin-bottom: .25rem;
        font-size: $likeLableFontSize;
        margin-right: .75rem;
        text-align: center;
        white-space: nowrap;
        overflow: hidden; text-overflow: ellipsis;
    }
    .num {
        margin: 0 auto 2px auto;
        display: block; font-weight: $likeNumFontWeight;
        font-size: $statusWrapFontSize;
    }
}
.userId {
    transition: all 0.3s;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: $userIdFontSize;
    color: $userIdFontColor;
}
.copyIcon {
    margin-right: .5rem;
}
.socialList {
    margin-bottom: $socialListMarginBottom;
    a {
        color: $socialIconsColor;
        font-size: $socialIconsFontSize;
        &:not(:last-child) {
            margin-right: 1rem;
        }
        &:hover {
            color: $primary;
        }
    }
}
.copyTxt {
    margin-left: 1rem; 
}
.joinedDate {
    font-size: $font-small;
}


// Tabs Dssign

.collectionTabsWrapper {
    text-align: center;
}

.nav {
    border-bottom: 0px solid $tabBorderColor;
    margin-bottom: $tabMarginB;

    a {
        background-color: $tabItemBgColor;
        border-bottom:4px solid $tabItemBorderColor;
        color: $tabItemColor;
        font-size: $tabItemFontSize;        
        font-weight: $tabActiveFontWeight;
        border-radius: $tabItemBorderRadius;
        margin-right: 1.5rem; 
        padding:10px 0px 10px 0px; 
        display: block;
    
        &:hover,  &[aria-selected="true"]  {
            background-color: $tabItemHoverBgColor;
            border-color: $tabItemHoverBorderColor;
            color: $tabItemHoverColor;
        }
        
    }
}

/*.paginationWrap {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $textBgColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $textBgColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; height: 41px;
            border-radius: 4px;
            border: 2px solid $paginationColor;
            color: $paginationColor;
            background-color: $paginationBgColor;
            font-size: $paginationFontSize;
        }
        [aria-selected="true"] {
            background-color: $paginationActiveBgColor;
            a {
                background-color: $paginationActiveBgColor;
            }
        }
    } 
}*/

// Footer 
.footer {
	padding-top: $footerPaddingT; 
	padding-bottom: $footerPaddingB;
    background-color:$footerBgColor;
    margin-top: $footerMarginT;
    font-size: $footerFontSize;
    color: $textColor;

    svg {
        font-size: $footerFontSize; color:$textColor;
    }
}
.footerRow {
    display: flex;
    justify-content: space-between
}
.socialContainer {
    list-style: none;
    margin: 0; padding: 0;
    display: inline-flex;
    align-items: center;
    li {
        &:not(:last-child) {
            border-right: 1px solid $textColor;
            margin-right: 1rem;
            padding-right: 1rem;
        }
    }
 	span {
		margin-right: 1rem;
	}
	a {
        color: $white;
		&:not(:last-child) {
			margin-right: 35px;
		}
        &:hover {
            color: $primary;
        }
	}
}
.copyright {
    display: flex;
    align-items: center
}


@media all and (max-width: 991px) {

    .userWrap {
        flex-wrap: wrap;
    }
    
    .footerRow {
        flex-wrap: wrap;
    }
    .copyright {
        width: 100%; 
    }
    .socialContainer {
        @include flexbox; width: 100%;
        li {
            &:first-child {
                width: 100%; border-right: none;
            } 
            margin-top: .75rem;
        }
    }





}


@media all and (max-width: 767px) {

    .likeSocialWrap {
        flex-wrap: wrap; 
    }
    .likeWrap {
        width: 100%;
    }
    
}