

@import '../collections004/variables';

.collectionAll {
    /*display: grid;
    grid-template-columns: repeat(4, minmax(12rem, 1fr));
    gap: 1.5rem;*/
}
.textCenter {
    text-align: center;
}
.collectionWrap {
    /*background-color: #FFD400;*/
    padding-top: $pageContentPaddingT;
    padding-bottom: $pageContentPaddingB;
    min-height: 100vh;
}
.collectionTop {
    border-bottom: 1px solid $collectionTopBorderColor;
    padding-bottom: $collectionBootomPaddingB;
    margin-bottom: $collectionBootomMarginB;
}
.headSocial {
    text-align: right;
    a {
        margin: 0 .75rem .5rem 0;
        font-size: $socialFontSize;
        color: $socialIconColor;
    }
}
.socialLabel {
    font-size: $socialLabelFontSize;
    margin-right: .75rem;
}
.headWrap {
    margin-bottom: $collectionHeadWrapMarginB;

    h1 {
        font-size: $collectionH1FontSize; color: $collectionH1FontColor;
        font-weight: $collectionH1FontWeight; margin-bottom: $collectionH1MarginB;
    }
    h6 {
        color: $collectionH6FontColor;
        font-size: $collectionH6FontSize;
    }
}
.userLogged {
    @include flexbox; align-items: center;
}
.userImg {
    margin-bottom: $userImgMarginB; 
    .profileImg {
        border-radius: $userImgBorderRadius; 
    }
    img {
        line-height: 1;
    }
}
.userDesc {
    font-size: $userDescFontSize; color: $userDescColor;
    margin-bottom: $userDescMarginB;
}


.thumbList {
  margin-bottom: $thumbListMarginB;
  transition: all 0.5s ease-in-out;
  /*border: 1px solid $thumbListBorderColor;
  border-radius: $thumbListBorderRadius;*/
  overflow: hidden;
  padding: 10px;
  &:hover {
    /*box-shadow: 0 0 5px $color-primary-main;   */
    .thumbImg img {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
      border-radius: $thumbImgBorderRadius;
    }
  }
}
.thumbInfo {
  padding: $thumbInfoPadding; 
  background-color: $thumbInfoBgColor;
  color: $thumbInfoColor;
}
.thumbTitle {
    font-size: $thumbTitleSize; margin-bottom: $thumbTitleMarginB;
    font-weight: $thumbTitleFontWeight; color: $thumbTitleColor;
    a {
      color: $thumbTitleColor; 
    }
}
.thumbDesc {
  font-size: $thumbDescSize; color: $thumbDescColor;
  margin-bottom: $thumbDescMarginB; line-height: 1.5;
}


/* Footer  */

.footer {
    padding-bottom: $footerPaddingB; padding-top: $footerPaddingT;
    background-color: $footerBgColor; color: $footerColor;
    margin-top: auto; width: 100%;
}
.profileWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userLogged {
    display: flex; align-items: center;
    .userImg {
        margin-bottom: 0; margin-right: .5rem;
    }
}
.likesCount {
    text-align: center;
}
.userInfo {
    h4 {
        font-size: $userTitleFontSize; color: $userTitleColor;
        margin-bottom: $userTitleMarginB;
        font-weight: $userTitleFontWeight;
    }
    
}
.viewLink {
    font-size: $viewLinkFontSize; color: $viewLinkColor;
    a {
        color:$viewLinkColor;
    }
}

.profileLike {
    margin-top: 10px;
    margin-bottom: 20px; padding-bottom: 1rem;
    border-bottom: 1px solid $border;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyrightLogo {
    margin-left: .5rem;
    margin-right: .5rem;
    display: inline-block;
}




@media all and (max-width: 991px) {
    .collectionWrap {
        @include flexbox;
        /*justify-content: space-between;*/
    }
    .collectionAll {
        /*display: grid;
        grid-template-columns: repeat(2, minmax(2rem, 1fr));
        gap: 1.5rem;*/
        display: block;
    }

    .headWrap {
        h1 {
            white-space: nowrap; overflow: hidden;
            text-overflow: ellipsis; font-size: $font-large;
        }
    }

}