
@import '@/components/profile/profile008/variables';

.collectionWraps {
  display: grid;
  grid-template-columns: repeat(2, minmax(12rem, 1fr));
  gap: 1.5rem;
}

.thumblist {
  margin-bottom: $thumbListMarginB;
  transition: all 0.5s ease-in-out;

  &:hover {
    
    box-shadow: 0px 4px 16px 0px #00000026;
  
    .thumbImg img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
    .wishLike {
      font-weight: bold;
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  .wishLike {
    font-size: $thumbWishSize; color: $thumbWishColor;
    margin-bottom: 1rem; text-align: right;
    position: absolute; right: 30px; top: 20px;
  }
}

.thumbInfo {
  padding: $thumbInfoPadding; background-color: $thumbInfoBgColor;
}
.thumbTitlewrap {
  h3 {
    font-size: $thumbTitleSize; margin-bottom: $thumbTitleMarginB;
    font-weight: $thumbTitleFontWeight; font-family: $fontHeading;
    white-space: nowrap; text-overflow: ellipsis;
    overflow: hidden;
    a {
      color: $thumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $thumbDescSize; color: $thumbDescColor;
  margin-bottom: $thumbDescMarginB; line-height: 1.5;
  height: 48px; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dateWish {
  @include flexbox; justify-content: space-between;
  font-size: $thumbWishCountSize;
  position: absolute; bottom: 10px; width: 100%;
  
}
.num, .assetNum {
  font-weight: 700;
}

.descWishWrap {
  @include flex; justify-content: space-between;
  .wish {
    width: 70px; text-align: right; color: $default-color;
  }
}



@media all and (max-width: 1199px) {
  .collectionWraps {
    grid-template-columns: repeat(2, minmax(6rem, 1fr));
    gap: .75rem;
  }
  .mobOrder2 {
    order: 2;
  }
  .thumbInfo {
    padding: .5rem;
  }
  .descWishWrap {
    flex-wrap: wrap;
  }
}