@import '../../../../components/profile/profile004/variables';


.exhibitionWraps {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    // gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.thumblist {
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    padding: 0 10px;
    &:hover {
        .thumbInfo {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
}
.thumbImg {
    position: relative;
    .wishLike {
        position: absolute; right: 16px; top: 15px;
        font-size: $exhibitionThumbWishSize; color: $exhibitionThumbWishColor;
    }
}
.thumbInfo { 
    position: absolute; bottom: 0;
    width: 100%; padding: 1rem;
    opacity: 0; transition: ease-in-out 600ms;
    transform: rotateY(25deg);
}
.thumbTitlewrap {
    @include flexbox;
    justify-content: space-between;  align-items: center;
    h3 {
        font-size: $exhibitionThumbTitleSize; margin-bottom: .5rem;
        font-weight: $exhibitionThumbTitleFontWeight;
        a {
          color: $exhibitionThumbTitleColor; 
        }
    }
}
.assetNum {
    font-weight: bold;
}
.thumbDesc {
    font-size: $exhibitionThumbDescSize; color: $exhibitionThumbDescColor;
    margin-bottom: $exhibitionThumbDescMarginB; line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.dateWish {
    @include flexbox;
    justify-content: space-between;
    font-size: $exhibitionThumbDateSize;
}