@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/text_link';


.userHeaderWrap {
    @include box_shadow(1);
   padding: 1rem 0;
   margin-bottom: 32px;
}

.userHeader {
   @include flex;
   @include align-items(center);
   @include justify-content(space-between);
} 
.headerLeft {
   span {
       margin-left: 2rem;
       font-size: $font-large;
   }
}
.userImg {
   margin-right: 8px;
   .profileImg {
       border-radius: 12px;
   }
}
.userLogged {
   @include flex;
   margin-right: 2rem;
   align-items: center;
}
.userTitle {
   font-size: $font-medium;
   margin-bottom: 4px;
}
.userId {
   font-size: $font-mini;
}

.headerRight {
   @include flex;
}

@media all and (max-width: 991px) {
	.headerLeft {
		span {
			margin-left: 1rem;
			font-size: $font-medium;
		}
	}
	.userLogged {
		margin-right: 1rem;
	}
}
@media all and (max-width: 420px) {
	.headerLeft {
		span {
			display: none;
		}
	}
}