
@import '../variables';

.title {
    color: $title-color; font-weight: normal;
    font-size: $title-font-size ;
}
.titleWrap {
    margin-bottom: 1.5rem; 
    p {
        font-size: $title-desc-font-size;
        color: $title-desc-color;
    }
}
.textCenter {
    text-align: center;
}
.formGroup {
    margin-bottom: 1rem;
}
.formControl {
    border: 1px solid $border;
    padding: .75rem; border-radius: $form-border-radius;
}
.toggleContent {
	/*display: none;*/ margin-top: .5rem;
}

.imgLIst {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // border-top: 1px solid $imglist-border-color;
    padding: 0;
    li {
        cursor: pointer; text-align: center;
        input[type="radio"] {
            position: absolute; left: 0;
            opacity: 0; max-width: 100%;
            cursor: pointer; width: 100%;
        }
        label {
            display: block; margin-bottom: 0;
            min-width: 120px;
            div  {
                position: relative; margin: 7px;
                border: 2px solid $imglist-border-color;
                border-radius: 8px; padding: 5px;
                cursor: pointer;
            }
            input[type="radio"] {
                &:checked {
                    + div {
                        border: 2px solid  $imglist-active-border-color;
                        border-radius: 8px;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
        &.active, &:hover {
            // background: $imglist-active-bg-color;
            // border-color: $imglist-active-border-color;
        }
    }
    .addImg {
        font-size: 40px; line-height: 96px; font-weight: 100;
        min-width: 100px; text-align: center;
        position: relative; margin: 7px;
        border: 2px solid $imglist-border-color;
        border-radius: 8px; padding: 5px;
        cursor: pointer;
        input[type="file"] {
            position: absolute; left: 0;
            opacity: 0; max-width: 100%;
            cursor: pointer; width: 100%;
        }
    }
}

.cropStyleImgWrap {
	@include flexbox();
	justify-content: space-between;
}
.cropStyleImg {
	border: 1px solid $imglist-border-color; border-radius: 8px;
	text-align: center;
	padding: 10px; width: 140px;
	margin: 1px;
	&.active {
		border-color: $imglist-border-active-color;
	}
}
.cropImg {
	position: relative;
	border: 2px solid $imglist-border-color;
	border-radius: 8px; padding: 5px;
	display: block; width: 100px; height: 100px;
	line-height: 100px; margin: 0 auto;
	svg, img {
		line-height: 100px;
	}
}
.crop {
	font-size: $imgCrop-title-font-size;
	color: $imgCrop-title-color;
	font-weight: normal; margin-top: .75rem;
}

.leftnumber{
	font-size: $leftnum-font-size; color: $leftnum-color;
	text-align: right; margin-top: .25rem;
}

.imageStyleSelect {
	border-top: 1px solid $border-color;
    padding-top: 10px; padding-left: 10px;
    padding-bottom: 5px;
    align-items: center;
}


.decideLbl {
	font-size: $font-medium; color: $default-color;
	font-weight: normal; margin-bottom: .75rem;
}

.checkitem {
	position: absolute; z-index: 1;
	width: 100%; height: 100%;
	input[type="checkbox"] {
		width: 100%; height: 100%;
		opacity: 0;
		&:checked + .checkicon {
			opacity: 1;
		}
	}
	.checkicon {
		position: absolute; opacity: 0;
		right: 10px; top: 10px; z-index: 2;
		background: $white; border-radius: 50%;
		line-height: 1;
	}
	.faCheckCircle {
		color: $checkitem-color; 
		font-size: $font-large;
		border-radius: 50%;
	}
}


.uploadIcons {
	border: 1px solid $border;
	border-radius: 8px;
	margin: 8px;
	padding: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	justify-content: center;
	text-align: center; position: relative;
svg {
	vertical-align: middle;
	color: #ABABBA;
}
input[type="file"] {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
}
.UploadIconWrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 1rem;
}

@media all and (max-width: 991px) {
	.uploadList, .uploadLists, .UploadIconWrap {
        grid-template-columns: 1fr 1fr 1fr;
    }
 .imgLIst {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media all and (max-width: 767px) {

	.formGroup {
		label {
	    	margin-bottom: .25rem;
	    }
	}
	.uploadList, .uploadLists, .UploadIconWrap {
        grid-template-columns: 1fr 1fr;
    }
	.imgLIst {
		list-style: none; padding-left: 0px;
		grid-template-columns: 1fr 1fr;
		li {
			margin: 5px; padding: 5px;
		}

	}
	.cropStyleImg {
		margin-bottom: .5rem;
	}

}