
@import '../variables';
.title {
    color: $title-color; font-weight: normal;
    font-size: $title-font-size ;
}
.titleWrap {
    margin-bottom: 1.5rem; 
    p {
        font-size: $title-desc-font-size;
        color: $title-desc-color;
    }
}
.textCenter {
    text-align: center;
}
.formGroup {
    margin-bottom: 1rem;
}
.formControl {
    border: 1px solid $border;
    padding: .75rem; border-radius: $form-border-radius;
}
.sectionGroup {
    border-top: 1px solid $border; padding-top: 1rem;
}

.btnGroup {
	display: flex; flex-wrap: wrap;
	justify-content: space-between;
	.btn {
		min-width: 46%; position: relative;
		input[type="radio"] {
			position: absolute; opacity: 0;
		}
	}
	.faeye {
		margin-right: .2rem;
	}
}

.imgLIst {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // border-top: 1px solid $imglist-border-color;
    padding: 0;
    li {
        cursor: pointer; text-align: center;
        input[type="radio"] {
            position: absolute; left: 0;
            opacity: 0; max-width: 100%;
            cursor: pointer; width: 100%;
        }
        label {
            display: block; margin-bottom: 0;
            min-width: 120px;
            div  {
                position: relative; margin: 7px;
                border: 2px solid $imglist-border-color;
                border-radius: 8px; padding: 5px;
                cursor: pointer;
            }
            input[type="radio"] {
                &:checked {
                    + div {
                        border: 2px solid  $imglist-active-border-color;
                        border-radius: 8px;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
        &.active, &:hover {
            // background: $imglist-active-bg-color;
            // border-color: $imglist-active-border-color;
        }
    }
    .addImg {
        font-size: 40px; line-height: 96px; font-weight: 100;
        min-width: 100px; text-align: center;
        position: relative; margin: 7px;
        border: 2px solid $imglist-border-color;
        border-radius: 8px; padding: 5px;
        cursor: pointer;
        input[type="file"] {
            position: absolute; left: 0;
            opacity: 0; max-width: 100%;
            cursor: pointer; width: 100%;
        }
    }
}



.modalLg {
	> div {
		max-width: 990px;
	}
}

.searchModal {
	position: relative;
	input {
		padding-left: 45px;
	}
	button {
		position: absolute; color: $icon-color;
	}
}

.fontItemList {
	border: 2px solid $border; border-radius: 16px;
	margin-bottom: 1.5rem; position: relative;
	transition: all 0.4s ease-in-out;
	input[type="radio"] {
		position: absolute; opacity: 0;
	}
	&.active, &:hover {
		border-color: $border-active-color;
	}
}
.fontNamePreview {
	padding: .75rem; 
}
.topFontStyle {
	display: flex;  justify-content: space-between;
	width: 100%; font-size: 12px;
	margin-bottom: .75rem;
}
.fLeft {
	h3 {
		font-size:18px; margin-bottom: .1rem;
	}
}
.fontBtnSelect {
	border-top: 1px solid $border;
	padding: .75rem; color: $preview-btn-color;
	h3  {
		font-size: 18px;
	}
}
.btnsRow {
	display: flex; justify-content: space-between;
	button {
		min-width: 40%;
	}
}
.checkitem {
	position: absolute; z-index: 1;
	width: 100%; height: 100%;
	input[type="checkbox"] {
		width: 100%; height: 100%;
		opacity: 0;
		&:checked + .checkicon {
			opacity: 1;
		}
	}
	.checkicon {
		position: absolute; opacity: 0;
		right: 10px; top: 10px; z-index: 2;
		background: $white; border-radius: 50%;
		line-height: 1;
	}
	.faCheckCircle {
		color: $checkitem-color; 
		font-size: $font-large;
		border-radius: 50%;
	}
}
.uploadIcons {
border: 1px solid $border;
border-radius: 8px;
margin: 8px;
padding: 2rem;
display: inline-flex;
align-items: center;
justify-content: center;
min-height: 100px;
justify-content: center;
text-align: center; position: relative;
svg {
vertical-align: middle;
color: #ABABBA;
}
input[type="file"] {
position: absolute;
opacity: 0;
width: 100%;
height: 100%;
cursor: pointer;
}
}
.UploadIconWrap {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin-bottom: 1rem;
}



@media all and (max-width: 991px) {
	.uploadList, .uploadLists, .UploadIconWrap {
        grid-template-columns: 1fr 1fr 1fr;
    }
 	.imgLIst {
        grid-template-columns: 1fr 1fr 1fr;
    }
   
}


@media all and (max-width: 767px) {
	.formGroup {
		label {
	    	margin-bottom: .25rem;
	    }
	}
	.uploadList, .uploadLists, .UploadIconWrap {
        grid-template-columns: 1fr 1fr;
    }
	.imgLIst {
		list-style: none; padding-left: 0px;
		grid-template-columns: 1fr 1fr;
		li {
			margin: 5px; padding: 5px;
		}

	}
}