@import '../../../../components/profile/profile002/variables';

.assetsAll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: $assetsItemGap;
    padding-top: $assetsPaddingT;
    padding-bottom: $assetsPaddingB;
    article {
        border: 2px solid $assetsItemBorderColor;
        border-radius: $assetsItemBorderRadius;
        background-color: $assetsItemBorderBgColor;
        transition: all 0.5s;
        img {
            border-radius: $assetsItemBorderRadius;
        }
        &:hover {
            background-color: $textBgColor;
        }
    }
    p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: $assetItemDescHeight;
    }
}
.thumbsItem {
    display: inline-block;
    padding: $assetItemImgPadding;
    img {
        display: block;
        width: 100%;
        object-fit: cover;

    }
}
.thumbsWrap {
    background-color: $assetItemBgColor;
    //@include box_shadow(1);
    text-align: $assetItemAlign;
}
.thumbsContent {
    text-align: $assetItemContentAlign;
    h3 {
        font-size: $assetItemTitleFontSize;
        color: $assetItemTitleColor;
    }
    p {
        padding: $assetItemDescPadding;
        margin-bottom: 0; color: $assetItemColor;
        background-color: $assetItemDescBgColor;
        font-size: $font-small;
    }
}

@media all and (max-width:992px) {
    .assetsAll {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (max-width:767px) {
    .assetsAll {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

