@import '../../../../components/profile/profile003/variables';

.spacesWrap {
    article {
        margin-bottom: 2rem;
    }
    .thumbsContent {
        padding: 1rem;
        text-align: center;
        background-color: $textBgColor;
        color: #FFFFFF;
        h2 {
            font-size: 2rem;
        }
    }
}


.thumbsFullWrap {
    color: inherit;
    cursor: pointer;
    height: 450px;
    min-height: 450px;
    perspective: 1000px;
    position: relative;
}


.front,
.back {
    display: flex;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.front {
    background-size: cover;
    overflow: hidden;
}
.front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: 0.25;
    z-index: -1;
}
.thumbsFullWrap:hover .front {
    transform: rotateY(180deg);
}
.thumbsFullWrap:nth-child(even):hover .front {
    transform: rotateY(-180deg);
}

.back {
    background: #D63257;
    transform: rotateY(-180deg);
    padding: 0 1em;
    font-size: 1.5rem;
    color: $white;
}
.thumbsFullWrap:hover .back {
    transform: rotateY(0deg);
}
.thumbsFullWrap:nth-child(even) .back {
    transform: rotateY(180deg);
}

.thumbsFullWrap:nth-child(even):hover .back {
    transform: rotateY(0deg);
}

.wishLike {
  font-size: $thumbWishSize; color: $thumbWishColor;
  margin-bottom: 1rem; text-align: right;
  position: absolute;
  top: 1rem; right: 1rem;
}
.dateWish {
    position: absolute;
    bottom: 1rem;
    display: flex;
    left: 1rem; right: 1rem;
    align-items: center;
    justify-content: space-between;
    svg {
        vertical-align: middle;
    }
}



@media all and (max-width:991px) {
	.thumbsFullWrap {
		height: 350px;
		min-height: 350px;
	}

}

  @media all and (max-width:767px) {
	.thumbsFullWrap {
		height: 300px;
		min-height: 300px;
	}

}
@media all and (max-width:450px) {
	.thumbsFullWrap {
		height: 150px;
		min-height: 150px;
	}

}