

@import '@/components/profile/profile010/variables';

@keyframes in-top {
  from {transform: rotate3d(-1,0,0, 90deg)}
  to   {transform: rotate3d(0,0,0, 0deg)}
}

.assetsAll {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1.5rem;
}

.thumblist {
  margin-bottom: $assetThumbListMarginB;
  transition: all 0.5s ease-in-out;
  position: relative; overflow: hidden;
  border-radius: $assetThumbListBorderRadius;

  &:hover {
    .thumbInfo {
      transform-origin: 50% 0%;
      -webkit-animation: in-top 300ms ease 0ms 1 forwards;
      animation: in-top 300ms ease 0ms 1 forwards;
    }    
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
      border-radius: $assetThumbImgBorderRadius;
    }
  }
}

.thumbInfo {
  padding: $assetThumbInfoPadding; background-color: rgba(0,0,0,.7);
  position: absolute; left: 0; bottom: 0;
  width: 100%; height: 100%;
  @include flexbox; align-items: center;
  text-align: center;

  transform: rotate3d(1, 0, 0, 90deg);
  transform-origin: 50% 0%;
  -webkit-animation: out-top 300ms ease 0ms 1 forwards;
  animation: out-top 300ms ease 0ms 1 forwards;
}
.thumbInfoInner {
  text-align: center; width: 100%;
}
.thumbTitlewrap {
  h3 {
    font-size: $assetThumbTitleSize; margin-bottom: $assetThumbTitleMarginB;
    font-weight: $assetThumbTitleFontWeight; font-family: $fontHeading;
    text-transform: inherit;
    a {
      color: $assetThumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $assetThumbDescSize; color: $assetThumbDescColor;
  margin-bottom: $assetThumbDescMarginB; line-height: 1.5;
}


@media all and (max-width:550px) {

  .assetsAll {
    grid-template-columns: repeat(2, minmax(2rem, 2fr));
    gap: 1rem;
  }

}