

@import '../../../../components/profile/profile006/variables';

.assetsAll {
    display: grid;
    grid-template-columns: repeat(5, minmax(12rem, 1fr));
    gap: 1.5rem;
}

.thumblist {
  margin-bottom: $assetThumbListMarginB;
  transition: all 0.5s ease-in-out;

  &:hover {
    .thumbInfo {
      background: $assetThumbInfoBgHoverColor; color: $white;
      .thumbTitlewrap h3, a, .thumbDesc {
        color: $white;
      }
    }    
    .thumbImg img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
}

.thumbInfo {
  padding: $assetThumbInfoPadding; background-color: $assetThumbInfoBgColor;
}
.thumbTitlewrap {
  h3 {
    font-size: $assetThumbTitleSize; margin-bottom: $assetThumbTitleMarginB;
    font-weight: $assetThumbTitleFontWeight;
    a {
      color: $assetThumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $assetThumbDescSize; color: $assetThumbDescColor;
  margin-bottom: $assetThumbDescMarginB; line-height: 1.5;
}

@media all and (max-width: 1300px) {
  .assetsAll {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
}

@media all and (max-width:550px) {

    .assetsAll {
        grid-template-columns: repeat(2, minmax(2rem, 2fr));
        gap: 1rem;
    }

}