
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/text_link';
@import './variables';


.collectionWrap {
    background-color: $bgColor;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
}
.collectionTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headWrap {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: $collectionH1FontSize; color: $collectionH1FontColor;
        font-weight: $collectionH1FontWeight; margin-right: .75rem;
    }
    h6 {
        color: $collectionH6FontColor;
        font-size: $collectionH6FontSize;
    }
}

.headSocial {
    display: flex;
    align-items: center;
    svg {
        color: $default;
        margin-left: 20px;
        &:hover {
            opacity: 0.6;
        }
    }
}
.userDesc {
    color: $userDescColor;
    max-width: 781px;
    font-size: $userDescFontSize;
    margin-top: $userDescMarginT;
    margin-bottom: $userDescMarginB;
}

.assetsAll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    article {
        transition: all 0.5s;
        border: 2px solid $borderColor;
        border-radius: 4px;
        a {
            padding: 12px 12px 0px 12px;
            display: inline-block
        }
        img {
            border-radius: 4px;
        }
        p {
            transition: all 0.5s;
        }
        &:hover {
            background-color: $bgColor;
        }
    }
    p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 80px;
    }
}
.thumbsItem {
    display: inline-block;
    img {
        display: block;
        width: 100%;
        object-fit: cover;

    }
}
.thumbsWrap {
    background-color:$white;
    text-align: center;
}

.thumbImg {
    position: relative; overflow: hidden;
    a {
      span {
        vertical-align: top;
      }
      img {
        transition: all 0.4s ease-in-out;
      }
    }
  }
.thumbInfo {
    padding: $thumbInfoPadding; 
    background-color: $thumbInfoBgColor;
    color: $thumbInfoColor;
  }
  .thumbTitle {
      font-size: $thumbTitleSize; margin-bottom: $thumbTitleMarginB;
      font-weight: $thumbTitleFontWeight; color: $thumbTitleColor;
      a {
        color: $thumbTitleColor; 
      }
  }
  .thumbDesc {
    font-size: $thumbDescSize; color: $thumbDescColor;
    margin-bottom: $thumbDescMarginB; line-height: 1.5;
  }
  

.profileWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userImg {
    margin-right: 8px;
    .profileImg {
        width: 48px; height: 48px;
        border-radius: 48px;
        border-radius: $userImgBorderRadius; 
    }
    img {
        line-height: 1;
    }
}
.userLogged {
    display: flex; align-items: center;
}
.likesCount {
    text-align: center;
}
.userInfo {
    h4 {
        font-size: $userTitleFontSize; color: $userTitleColor;
        margin-bottom: $userTitleMarginB;
        font-weight: $userTitleFontWeight;
    }
    
}
.viewLink {
    font-size: $viewLinkFontSize; color: $viewLinkColor;
    a {
        color:$viewLinkColor;
        text-decoration: underline;
        font-size: $viewLinkFontSize;
    }
}

.profileLike {
    padding-top: 175px;
    padding-bottom: 32px;
}
.footer {
    padding-bottom: $footerPaddingB; padding-top: $footerPaddingT;
    background-color: $footerBgColor; color: $footerColor;
    margin-top: $footerMarginT;
}
.footerImg {
    margin: 0 15px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $textColor;
}

.paginationWrap {
    margin-top: 32px;
    text-align: center;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $paginationBGColor;
                border-color: $paginationBorderColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $paginationBGColor;
                border-color: $paginationBorderColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; line-height: 41px;
            border-radius: 4px;
            color: $paginationColor;
            background-color: transparent;
            border: 2px solid transparent;
        }
        [aria-selected="true"] {
            background-color: $paginationBorderColor;
            border-color: $paginationBorderColor;
            a {
                background-color: $paginationBorderColor;
                border-color: $paginationBorderColor;
            }
        }
    } 
}

.fixIcons {
    position: fixed;
    right: 30px; bottom: 80px;
}

.btnIcons {
    background-color: $buttonBgColor;
    color: $buttonColor;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    border: 2px solid $borderColor;
    &:hover, &:active {
        background-color: $buttonHoverBgColor;
        color: $buttonHovercolor;
    }
}


@media all and (max-width:767px) {
    .collectionTop {
        flex-wrap: wrap;
    }
    .profileLike {
        padding-top: 50px;
        padding-bottom: 32px;
    }
    .fixIcons {
        
        bottom: 30px;
        right: 30px;
    }
    .collectionContent {
        padding-bottom: 50px;
    }
    .assetsAll {
        grid-template-columns: 1fr 1fr;
    }
}