
@import 'public/account/variables/colors';
@import 'public/account/variables/forms';
@import 'public/account/variables/mixin';
@import 'public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$open-sans:                  'Open Sans', sans-serif;

$fontHeading:             $open-sans;
$fontBody:                $open-sans;


$default       : #3A3A43;
$default-color : $default;
$border        : #EAEAED;
$border-color  : $border;

$color-primary-main:   $default-color;

$textColor           : #fff;

/*  Setting Varible  */
$headingFontFamily:            $fontHeading; 
$bodyFontFamily:               $fontBody;

/*   */   

$exhibitionPaddingT:                   3rem;

$modeFontSize:                         16px;
$modeBorderRadius:                     10px;
$modeItemColor:                        #fff;
$modeItemBgColor:                      transparent;
$modeItemActiveColor:                  #5F5F6D;
$modeItemActiveBgColor:                #fff;


$exhibitionH1FontSize:             54px;
$exhibitionH1FontColor:            #69E9B8;
$exhibitionH1FontFamily:           $headingFontFamily;
$exhibitionH1FontWeight:           700;
$exhibitionH1MarginB:              2rem;

$exhibitionH2FontSize:             36px;
$exhibitionH2FontColor:            $default-color;
$exhibitionH2FontFamily:           $headingFontFamily;
$exhibitionH2FontWeight:           700;
$exhibitionH2MarginB:              .25rem;

$exhibitionH3FontSize:             36px;
$exhibitionH3FontColor:            $default-color;
$exhibitionH3FontFamily:           $headingFontFamily;
$exhibitionH3FontWeight:           700;
$exhibitionH3MarginB:              .25rem;



$userDescFontSize:                 14px;
$userDescColor:                    #fff;
$userDescMarginB:                  3rem;

$userTitleFontSize:                14px;
$userTitleColor:                   #fff;
$userTitleFontWeight:              normal;
$userTitleMarginB:                 .25rem;

$userImgBorderRadius:               0px;

/* Pagination Variables  */ 

$paginationMarginT:         30px; 
$paginationMarginB:         30px;        
$paginationColor:           $default-color;
$paginationBgColor:         rgba(255, 255, 255, 0.2);
$paginationBorderColor:     rgba(0, 0, 0, 0.06);
$paginationBorderRadius:    8px;
$paginationLineHeight:      38px;
$paginationActiveColor:     $white;
$paginationActiveBgColor:   $color-primary-main;
$paginationActiveBorderColor: $color-primary-main;
$paginationFontSize:        18px;

/**  Footer variables  **/
$footerPaddingT:                    10px;
$footerPaddingB:                    10px;
$footerMarginT:                     30px;
$footerBgColor:                     transparent;
$footerColor:                       #fff;
$footerFontSize:                    14px;
 

