

@import '../exhibitions001/variables';


.exhibitionWrap {
    background: rgba(0, 0, 0, .7); position: relative;
    min-width: 100vh; min-height: 100vh;
    padding-top: $exhibitionPaddingT;
    color: $textColor;
}
.iframeBody {
    min-width: 100vh; height: 100vh; position: absolute;
    z-index: -1; top: 0;
}
.exhibitionIframe {
    text-emphasis: center; height: 100vh; overflow: hidden;
    img {
      
    }
}
.exhibitionInner {
    @include flexbox; min-height: 90vh;
}
.modeListWrap {
    text-align: center; margin-bottom: 1rem;
    width: 100%;
    .modeList {
        border: 1px solid $white; font-size: $modeFontSize;
        display: inline-block; line-height: 1;
        border-radius: $modeBorderRadius;
    }
    a {
        color: $modeItemColor; padding: 1.1rem 1.5rem;
        display: inline-block; text-align: center;
        line-height: 1; background: $modeItemBgColor;
        text-align: center; min-width: 130px;
        &.active, &:hover {
            background:$modeItemActiveBgColor; color: $modeItemActiveColor;
        }
        &:first-child {
            border-radius: $modeBorderRadius 0 0 $modeBorderRadius;
            margin-left: -1px;
        }
        &:last-child {
            border-radius: 0 $modeBorderRadius  $modeBorderRadius 0;
        }
    }
}

.exhibitionContent {
    width: 100%;
}

.title {
    font-size: $exhibitionH1FontSize; text-transform: uppercase;
    color: $exhibitionH1FontColor; font-weight: $exhibitionH1FontWeight;
    margin-bottom: $exhibitionH1MarginB;
}
.name {
    color: $textColor;
}

.userDesc {
    font-size: $userDescFontSize;
    color: $userDescColor; margin-bottom: $userDescMarginB;
}

.userLogged {
    display: flex; align-items: center;
    margin-bottom: 1rem;
}
.userImg {
    margin-right: 1rem;
    .profileImg {
        border-radius: $userImgBorderRadius; 
    }
    img {
        line-height: 1;
    }
}
.userInfo {
    h4 {
        font-size: $userTitleFontSize; color: $userTitleColor;
        margin-bottom: $userTitleMarginB;
        font-weight: $userTitleFontWeight;
    }  
    .userName {
        color: $textColor; font-size: $userTitleFontSize * .9;
    } 
}

.linkBtn {
    border-color: $white;
    color: $white;
    &:hover {
        background-color: $white; color: $default;
    }
}

.socialCol {
    margin-left: auto;
}
.socialLabel {
  color: $textColor;  padding-bottom: 3rem;
  display: inline-block;
  position: relative; font-size: $font-small;

  &:before {
    position: absolute; content: "";
    left: 49.5%; bottom: -.5rem;
    width: 1px; height: 3rem;
    background: $white;
  }
}
.socialList {
    text-align: center;
    a {
        color: $textColor; display: block;
        margin-top: 3rem;
    }
}
/* Footer  */

.footer {
    padding-bottom: $footerPaddingB; padding-top: $footerPaddingT;
    background-color: $footerBgColor; color: $footerColor;
    margin-top: auto; font-size: $footerFontSize;
    width: 100%;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    img, svg {
        margin-left: .5rem !important;
    }
}
.copyrightLogo {
    margin-left: .5rem;
}

@media all and (max-width: 767px) {

    

}


@media all and (max-width: 767px) {

    

}