

@import './variables';


.collectionWrap {
    padding-top: $pageContentPaddingT;
    padding-bottom: $pageContentPaddingB;
    font-family: $fontBody;
    background: linear-gradient(180deg, #0D0A06 0%, #C4B594 100%);

    background-image: 
    url(../../../public/collections/collections009/images/body.png),
    linear-gradient(180deg, #0D0A06 0%, #C4B594 100%);
    min-height: 100vh;
    .slick-prev {
        right: inherit;
    }
}
.collectionTop {
    padding-bottom: $collectionBootomPaddingB;
    padding-top: $collectionBootomMarginT;
}
.headSocial {
    text-align: right;
    a {
        margin: 0 .75rem .5rem 0;
        font-size: $socialFontSize;
        color: $socialIconColor;
        &:hover, &:active {
            color: $socialIconHoverColor;
        }
    }
}
.socialLabel {
    font-size: $socialLabelFontSize;
    margin-right: .75rem;
    color: $default;
}
.headWrap {
    margin-bottom: $collectionHeadWrapMarginB;
    display: flex;
    align-items: center;
    h1 {
        font-size: $collectionH1FontSize; color: $collectionH1FontColor;
        font-weight: $collectionH1FontWeight; margin-bottom: $collectionH1MarginB;
        font-family: $fontHeading;
        margin-right: 0.75rem;
    }
    h6 {
        color: $collectionH6FontColor;
        font-size: $collectionH6FontSize;
    }
}

.thumbDescWrap {
    h3 {
        font-size: $collectionH3FontSize;
        color: $collectionH3FontColor;
        font-family: $collectionH3FontFamily;
        font-weight: $collectionH3FontWeight;
        margin-bottom: $collectionH3MarginB;
    }
    p {
        color: $thumbDescColor;
        font-size: $thumbDescSize;
        margin-bottom: $thumbDescMarginB;
    }
}

.bannerImg {
    position: relative;
}

.userImg {
    margin-bottom: $userImgMarginB;
    .profileImg {
        border-radius: $userImgBorderRadius; 
    }
    img {
        line-height: 1;
    }
}
.userDesc {
    font-size: $userDescFontSize; color: $userDescColor;
    margin-bottom: $userDescMarginB;
}

.assetsAll {
    padding-top: 7px;
    padding-bottom: 7px;
}
.thumbsWrapAll {
    color: inherit;
    cursor: pointer;
    height: 323px;
    min-height: 323px;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.thumbList {
    margin-bottom: $thumbListMarginB;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    padding: 15px;
    position: relative;
    &:hover {
      .thumbInfo {
          opacity: 1;
          transform: rotateY(0deg);
      }
      .thumbImg {
          &:before {
              opacity: 1;
          }
          img {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
          }
      }
    }
  }
  .thumbImg {
    position: relative; overflow: hidden;
    border-radius: 4px;
    a {
      span {
        vertical-align: top;
      }
      img {
        transition: all 0.4s ease-in-out;
        border-radius: $thumbImgBorderRadius;
      }
    }
    &:before {
      position: absolute; left: 0; top: 0;
      width: 100%; height: 100%;
      content: "";
      background: rgba(0, 0, 0, .7);
      z-index: 1;
      opacity: 0;
    }
  }
  .thumbInfo {
    position: absolute; bottom: 15px;
    left: 0; text-align: center;
    z-index: 1;
    width: 100%;  padding: $thumbInfoPadding; 
    background-color: $thumbInfoBgColor;
    color: $thumbInfoColor;
    opacity: 0; transition: ease-in-out 600ms;
      transform: rotateY(25deg);
  }
  .thumbTitle {
      font-size: $thumbTitleSize; margin-bottom: $thumbTitleMarginB;
      font-weight: $thumbTitleFontWeight; color: $thumbTitleColor;
      font-family: $thumbTitleFontFamily;
      a {
        color: $thumbTitleColor; 
      }
  }
  .thumbDesc {
    font-size: $thumbDescSize; color: $thumbDescColor;
    margin-bottom: $thumbDescMarginB; line-height: 1.5;
  }

.profileWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userImg {
    margin-right: 8px;
    .profileImg {
        width: 48px; height: 48px;
        border-radius: 48px;
        border-radius: $userImgBorderRadius; 
    }
    img {
        line-height: 1;
    }
}
.userLogged {
    display: flex;
    align-items: center;
}
.likesCount {
    text-align: center;
    color: $default;
}
.userInfo {
    h4 {
        font-size: $userTitleFontSize; color: $userTitleColor;
        margin-bottom: $userTitleMarginB;
        font-weight: $userTitleFontWeight;
        font-family: $fontHeading;
    }
    
}
.viewLink {
    font-size: $viewLinkFontSize; color: $viewLinkColor;
    a {
        color:$viewLinkColor;
        text-decoration: underline;
        font-size: $viewLinkFontSize;
    }
}

.profileLike {
    padding-top: 47px;
    padding-bottom: 32px;
}


.fixIcons {
    position: fixed; right: 30px;
    z-index: 1; bottom: 100px;
}

.btnIcons {
    background-color: $buttonBgColor;
    color: $buttonColor;
    width: 60px; height: 60px;
    border-radius: 60px;
    border: 2px solid $buttonBorderColor;
    &:hover, &:active {
        background-color: $buttonHoverBgColor;
        color: $buttonHovercolor;
    }
}

/* Footer  */

.footer {
    padding-bottom: $footerPaddingB; padding-top: $footerPaddingT;
    padding-left: $footerPaddingL; padding-right: $footerPaddingR;
    background-color: $footerBgColor; color: $footerColor;
    margin-top: $footerMarginT;
    border-width: 0.3px;
    border-style: solid;
    border-color: $footerBorderColor;
    box-shadow: 1px 2px 8px 0px #0000000F;
    border-radius: 8px 8px 0px 0px;
    backdrop-filter: blur(40px);
}

.profileWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userLogged {
    display: flex; align-items: center;
}
.userInfo {
    h4 {
        font-size: $userTitleFontSize; color: $userTitleColor;
        margin-bottom: $userTitleMarginB;
        font-weight: $userTitleFontWeight;
    }
    
}
.viewLink {
    font-size: $viewLinkFontSize; color: $viewLinkColor;
    a {
        color:$viewLinkColor;
    }
}

.profileLike {
    margin-top: 10px;
    margin-bottom: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.copyrightLogo {
    margin-left: .5rem;
    margin-right: .5rem;
    display: inline-block;
}



.btnWrap {
    text-align: center;
    .prevBtn, .nextBtn {
        background-color: $buttonBgColor;
        color: $buttonColor;
        padding: 12px 80px 12px 80px;
        border-radius: 4px;
        border: 2px solid $buttonBorderColor;
        &:hover, &:active {
        background-color: $buttonHoverBgColor;
        color: $buttonHovercolor;
        }
    }
}

@media all and (min-width: 768px) {
    .customImg {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
      }
      
      .bannerImg {
        width: 100%;
        height: 100%;
      }
      .bannerImg > div {
        //position: unset !important;
      }

}

@media all and (max-width: 992px) {
    .thumbsWrapAll {
        min-height: 200px;
        height: 200px;
    }

}
@media all and (max-width: 767px) {
    .bannerImg {
        height: 600px;
      }
}



@media all and (max-width: 450px) {
}
