@import '../../../public/account/variables/colors';

.assetGroup {
    display: flex;
    align-items: center;
    > div {
        margin-right: 1rem;
        min-width: 90px;
    }
    svg {
        color: $grayLight;
    }    
}


.thumbImg {
    border-radius: 8px;
}
.totalFilter {
    margin-right: 1rem;
}
.thumbImgWrap {
    min-width: 100px;
}