
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


$fontHeading:             'VT323', monospace;
$fontBody:                'VT323', monospace;

$titleTextColor:                #FFFFFF;
$bodyTextColor:                #FFFFFF;

$textColor:                 $white;
$textBgColor:               transparent;

$boderColor:                $textColor;
$btnActiveColor:            $textColor;
$btnActiveBgColor:          $textBgColor;

$profileH1FontSize:         38px;
$profileH1FontColor:        $textColor;

$profileH2FontSize:         21px;
$profileH2FontColor:        $textColor;

$profileH3FontSize:         23px;
$profileH3FontColor:        $textColor;

$profileH4FontSize:         14px;
$profileH4FontColor:        $textColor;

$socialListMarginBottom:    75px;     
$socialIconsColor:          $textColor;
$socialIconsFontSize:       $font-largeM;

$statusWrapFontSize:        23px;
$statusWrapColor:           $textColor;

$userDescFontSize:                 14px;
$userDescColor:                    #fff;
$userDescMarginB:                  14px;

/*  Profile banner variable   */

$profile-banner-height       : 360px;

/* Tab variables   */

$TabsColor:                 $textColor;
$TabsFontSize:              21px;
$tabBorderColor:            $black;
$tabItemBorderRadius:       4px;
$tabItemHoverColor:         #4B8389;
$tabItemHoverBorderColor:   #FFFFFF;
$tabItemHoverFontWeight:    600;
$tabActiveColor:            $default;
$tabActiveBgColor:          #4B8389;
$tabActiveBorderColor:      $white;
$tabActiveFontWeight:       700; 

/* Pagination Variables  */ 

$paginationMarginT:         40px; 
$paginationMarginB:         40px;        
$paginationColor:           $textColor;
$paginationBgColor:         transparent;
$paginationBorderColor:     transparent;
$paginationLineHeight:      38px;
$paginationActiveColor:     $textColor;
$paginationActiveBgColor:   #4B8389;
$paginationActiveBorderColor: $textColor;
$paginationFontSize:        21px;

/* Exhibition Tab Variables  */

$exhibitionPaddingT:         1rem;
$exhibitionPaddingB:         1rem;
$exhibitionItemTitleColor:   $white; 
$exhibitionItemTitleBgColor: $textBgColor;   
$exhibitionItemTitleFontsize:2rem; 
$exhibitionItemTitleColor:   $white;
$exhibitionItemTitlePadding: 1rem; 
$exhibitionItemMarginB:      2rem;
$thumbWishColor:              $white;
$thumbWishSize:               24px;

/* Collection Tab  Variables */

$collectionPaddingT:          1rem;
$collectionPaddingB:          1rem;
$collectionItemGap:           1rem;
$collectionItemAlign:         center;        
$collectionItemContentPadding:1rem;
$collectionItemHoverBg:       rgba(0,107,205, 0.5);

/* Assets Tab  Variables */

$assetsPaddingT:              1rem;
$assetsPaddingB:              1rem;
$assetsItemGap:               1rem;
$assetItemBgColor:            $white;
$assetItemAlign:              center;         
$assetsItemBorderColor:       $textColor;
$assetsItemBorderBgColor:     #F5F5F5;
$assetsItemBorderRadius:      4px;
$assetItemImgPadding:         8px;
$assetItemContentAlign:       center;
$assetItemTitleColor:         $default;
$assetItemTitleFontSize:      $font-large;
$assetItemTitleLineHeight:    1.3;
$assetItemDescPadding:        12px;
$assetItemDescFontSize:       80px;
$assetItemColor:              $default;
$assetItemDescBgColor:        $white;
$assetItemDescHeight:         80px;



