
@import './variables';

.profileWrap {
    background: url(../../../public/profile/profile003/images/body.svg);
    font-family: $fontBody;
}

.bannerImg {
    display: flex;
    justify-content: center;
    position: relative;
    height: $profile-banner-height;
    text-align: center;
    margin-bottom: -100px;
    img {
        width: 100%;
        object-fit: cover;
    }
}
.profileImg {
    text-align: center;
}
.walletConnect {
    position: absolute;
    top: 24px; right: 24px;
}
.userWrap {
    max-width: 508px;
    margin: -100px auto 0 auto; 
    .userName {
        font-size: $profileH1FontSize;
        color: $white;
        text-align: center;
    }
    .userMore {
        font-size: $profileH2FontSize;
        color: $profileH2FontColor;
        text-align: center;
    }
    .userDesc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $profileH4FontSize;
        color: $profileH4FontColor;
        text-align: left;
    }
}
.btnGroups {
	.btn {

		font-size: 1.5rem;
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}
.statusWrap {
    font-size: $statusWrapFontSize;
    color: $statusWrapColor;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    span {
        font-size: $font-medium;
        span {
            font-size: $font-large;
        }
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}
.socialList {
    margin-bottom: 1rem;
    text-align: center;
	span {
		margin-right: 1rem;
	}
	a {
        color: $textColor;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.userId {
    transition: all 0.3s;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: $profileH4FontSize;
    color: $profileH4FontColor;
    text-align: center;
}

.copyTxt {
    margin-left: 1rem;
}
.btnPrimary {
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 2px solid $textColor;;
    font-size: 1.5rem;
    transition: all 0.5s;
    margin-bottom: 2rem;
    border-radius: 4px;
    &:not(:last-child) {
        margin-right: 1rem;
    }
    &:hover, &:active {
        background-color: $textBgColor;
    }
    &.active {
        background-color: $textBgColor;
    }
}

// Tabs Dssign
.collectionTabsWrapper {
    text-align: center;
}

.navTabs {
    display: block;
    .navTabsItems {
        background-color: $textBgColor;
        display: block;
        width: 100%;
        border: 2px solid transparent;
        color: $textColor;
        margin-bottom: 1rem;
        &:hover {
            background-color: $tabActiveBgColor;
            border-color: $tabActiveBorderColor;
        }
    }
    [aria-selected="true"] {
        background-color: $tabActiveBgColor;
        border-color: $tabActiveBorderColor;
    }
}
.likeWrap {
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

.nav {
    flex-direction: column;
    button {
        width: 100% !important;
        background-color: transparent;
        border-color: transparent;
        color: #FFFFFF;
    }
}

.paginationWrap {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $textBgColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $textBgColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; height: 41px;
            border-radius: 4px;
            border: 2px solid $paginationBorderColor;
            color: $paginationColor;
            background-color: $paginationBgColor;
            font-size: $paginationFontSize;
        }
        [aria-selected="true"] {
            background-color: $paginationActiveBgColor;
            a {
                background-color: $paginationActiveBgColor;
            }
        }
    } 
}

// Footer 
.footer {
	padding-top: 87px;
	padding-bottom: 1.5rem;
}
.footerRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $white;
}
.socialContainer{
    list-style: none;
    margin: 0; padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    li {
        &:not(:last-child) {
            border-right: 1px solid $textColor;
            margin-right: 1rem;
            padding-right: 1rem;
        }
    }
 	span {
		margin-right: 1rem;
	}
	a {
        color: $textColor;
		&:not(:last-child) {
			margin-right: 35px;
		}
	}
}
.copyright {
    display: flex;
    align-items: center
}

@media all and (max-width:767px) {
    .tabsWrapper {
        ul {
            margin-bottom: 1rem !important;
        }
        li {
            padding: 0.5rem 1rem !important;
            &:not(:last-child) {
                margin: 10px;
            }
        }
    }
    .footer {
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
    
    .userWrap {
        .userName {
            font-size: $font-large;;
        }
        .userMore {
            font-size: $font-medium;
        }
    }
    .statusWrap {
        font-size: $font-medium;
        span {
            &:not(:last-child) {
                margin-right: 1rem;
            }
            span {
                font-size: $font-small;
                font-weight: normal;
            }
        }
    }
}