@import '../../../../components/profile/profile006/variables';


.exhibitionWraps {
    display: grid;
    grid-template-columns: repeat(3, minmax(12rem, 1fr));
    gap: 1.5rem;
}

.thumblist {
  margin-bottom: $ExhibitionThumbListMarginB;
  transition: all 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px $color-primary-main;   
    .thumbImg img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
}
.thumbImg {
  position: relative; overflow: hidden;
  a {
    span {
      vertical-align: top;
    }
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  /*.wishLike {
    font-size: $thumbWishSize; color: $thumbWishColor;
    margin-bottom: 1rem; text-align: right;
    position: absolute; right: 30px; top: 15px;
  }*/
}

.thumbInfo {
  padding: $ExhibitionThumbInfoPadding; background-color: $ExhibitionThumbInfoBgColor;
}
.thumbTitlewrap {
  h3 {
    font-size: $ExhibitionThumbTitleSize; margin-bottom: $ExhibitionThumbTitleMarginB;
    font-weight: $ExhibitionThumbTitleFontWeight;
    a {
      color: $ExhibitionThumbTitleColor; 
    }
  }
}
.thumbDesc {
  font-size: $ExhibitionThumbDescSize; color: $ExhibitionThumbDescColor;
  margin-bottom: $ExhibitionThumbDescMarginB; line-height: 1.5;
}


@media all and (max-width: 1300px) {
  .exhibitionWraps {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
}

@media all and (max-width: 550px) {

    .exhibitionWraps {
        grid-template-columns: repeat(2, minmax(2rem, 2fr));
        gap: 1rem;
    }
}
